﻿.DatePicker_Icon_Wrapper{width:100% !important; margin-bottom:0px !important;}
.DatePicker *,
.DatePicker *:after,
.DatePicker *:before  { -moz-box-sizing: content-box !important; -webkit-box-sizing: content-box !important; box-sizing: content-box !important }

.DatePicker           { position: absolute; background: #FFF; border: 1px solid #CAC8C8; z-index: 1200; padding: 5px; top: 0 ; margin-left:-20px !important;}

.DatePicker *         { margin: 0; padding: 0; color: #373737; background: transparent; border: none }

/* = GLOBALS
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker table                      { border-collapse: collapse; border-spacing: 0; width: auto; table-layout: auto; }

.DatePicker td,
.DatePicker th                         { text-align: center; padding: 5px 0 }

.DatePicker td                         { cursor: pointer }

.DatePicker .dp_daypicker,
.DatePicker .dp_monthpicker,
.DatePicker .dp_yearpicker             { margin-top: 3px }

.DatePicker .dp_daypicker td,
.DatePicker .dp_daypicker th,
.DatePicker .dp_monthpicker td,
.DatePicker .dp_yearpicker td         { width: 30px;font-family:Arial,"Helvictica",sans-serif; font-size:12px;color:#999}

.DatePicker .dp_daypicker th { color:#999;font-size:14px;font-family:Arial,"Helvictica",sans-serif;font-weight:normal}

.DatePicker,
.DatePicker .dp_header .dp_hover,
.DatePicker td.dp_selected,
.DatePicker .dp_footer .dp_hover,
.DatePicker td.dp_hover               { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px }

/* = VISIBLE/HIDDEN STATES (USE TRANSITIONS FOR EFFECTS)
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker.dp_visible               { visibility: visible; filter: alpha(opacity=100); -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; transition: opacity 0.2s ease-in-out;}
.DatePicker.dp_hidden                { visibility: hidden; filter: alpha(opacity=0); -khtml-opacity: 0; -moz-opacity: 0; opacity: 0 }

/* = HEADER
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker .dp_header td             { }

.DatePicker .dp_header .dp_previous,
.DatePicker .dp_header .dp_next       { width: 30px }

.DatePicker .dp_header .dp_caption    { font-weight: bold }
.DatePicker .dp_header .dp_hover      { background: #DEDEDE; color: #373737 }

/* = DATEPICKER
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker .dp_daypicker th              { font-weight: bold }
.DatePicker td.dp_not_in_month            { color: #DEDEDE; cursor: default }
.DatePicker td.dp_not_in_month_selectable { }
.DatePicker td.dp_weekend                 { }
.DatePicker td.dp_weekend_disabled        { color: #DEDEDE; cursor: default }
.DatePicker td.dp_selected                { background: #D3A9FF; color: #FFF !important;border-radius:50%;}
.DatePicker td.dp_week_number             { cursor: text; font-weight: bold }

/* = MONTHPICKER
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker .dp_monthpicker td    { width: 33% }

/* = YEARPICKER
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker .dp_yearpicker td     { width: 33% }

/* = FOOTER
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker .dp_footer            { margin-top: 3px }

/* = SOME MORE GLOBALS (MUST BE LAST IN ORDER TO OVERWRITE PREVIOUS PROPERTIES)
----------------------------------------------------------------------------------------------------------------------*/
.DatePicker td.dp_current             { color: #999; font-size:14px;font-weight:bold;}
.DatePicker td.dp_disabled_current    { color: #3A87AD }
.DatePicker td.dp_disabled            { color: #DEDEDE; cursor: default }
.DatePicker td.dp_hover               { background: #DEDEDE !important;border-radius:50% !important;}

/* = ICON
----------------------------------------------------------------------------------------------------------------------*/

#datepicker-example1,.datepickerexample1{height:32px !important; padding-left:12px;}
button.DatePicker_Icon_Inside         { margin: 0 3px 0 0; background:#0c0 ;border:none !important;outline:none !important }   
button.DatePicker_Icon{display: block; position: absolute; width: 16px; height: 26px;/*text-indent: -9000px;*/ border: none; cursor: pointer;padding: 0px;line-height: 0;vertical-align: top;}
button.DatePicker_Icon:before{font-family: FontAwesome;content: "\f073";display: inline-block;padding-right: 3px;vertical-align: middle;color:#666;font-size:120%;bottom:12px !important;left:-5px !important;font-weight:normal;}


button.DatePicker_Icon_Disabled       { /*background-image: url(../../images/date/calendar-disabled.png)*/ }

/* don't set vertical margins! */
button.DatePicker_Icon                { margin: 0 0 0 3px }
button.DatePicker_Icon_Inside         { margin: 0px 3px 0 0; background:none ;border:none !important;outline:none !important }
.dp_today,.dp_clear{ display:none !important}
