﻿@import url(../fonts/fonts.css);

body{background:#f7fbfe/*222D3A*/;color: #FFF;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;}



a{outline:none;border:none;color:#0c0c0c}
a:hover{outline:none !important;border:none !important;text-decoration:none !important; outline:none !important;color:#0c0c0c}
a:focus{outline:none !important;border:none !important;text-decoration:none !important; outline:none !important;color:#0c0c0c}


.alert{margin: 20px auto;width: 70%;}

/* Model -2 Login Page */






.logo{ margin:80px auto 20px auto;}
.logo img{width: 300px;height: auto;display: block;margin: 0px auto;}
.logo-m{position:relative;top:-12px;}

.login-section{max-width:450px; height: 100%;min-height:300px;background:#FFF;-webkit-box-shadow: 0 15px 10px #FFF;-moz-box-shadow: 0 15px 10px #FFF;box-shadow: 0 15px 10px #FFF;padding:0px 20px;border:0px solid #FFF;margin:-60px auto}
.login-section ul {padding: 20px; list-style: none}
.login-section ul li{margin:20px auto;}

.login-section .floating-form {position: relative;margin: 39px auto;}
.login-section .floating-input {font-size:14px;padding:4px 12px;display:block;width:100%;height:40px;color:#292B2C;background-color: #FFFFFF;border:1px solid #8C9093;border-radius:13px}
.login-section .floating-input:focus {outline:none; }
.login-section label {color:#232222;font-size:16px;font-weight:normal;position:absolute;pointer-events:none;left:0px;top:5px;transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all;}
.login-section .floating-input:focus ~ label, .login-section .floating-input:not(:placeholder-shown) ~ label {top:-25px;font-size:14px;color:#8c9093;}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
{
 -webkit-box-shadow: 0 0 0 30px white inset !important;
-webkit-text-fill-color:#232222 !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;transition: background-color 5000s ease-in-out 0s !important;
}

/* Materialize fix labels overlapping 34CE93*/
input[type]:-webkit-autofill ~ label{-webkit-transform: translateY(-10%);transform: translateY(-10%);}
input:-webkit-autofill{-webkit-box-shadow:0 0 0 30px #FFF inset !important;-webkit-text-fill-color:#232222 !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;}


.login-section .floating-label {position: absolute;pointer-events: none;left: 0px;top: 0px;transition: 0.2s ease all;color:#232222;font-weight:normal}
.login-section .bar {position: relative;	display: block;	width: 100%;}
.login-section .bar:before, .panel-2 .bar:after {content: '';height: 2px;width: 0;bottom: 1px;position: absolute;background: #8c9093;-webkit-transition:all 0.2s ease;transition: all 0.2s ease;}
.login-section .bar:before { left: 50%; }
.login-section .bar:after { right: 50%; }
.login-section input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }
.login-section .highlight {position: absolute;height: 60%;width: 100px;top: 25%;left: 0;pointer-events: none;opacity: 0.5;}
.login-section input:focus ~ .highlight {-webkit-animation: inputHighlighter 0.3s ease;animation: inputHighlighter 0.3s ease;}
.login-section .buttonBlue {font-family:Arial,sans-serif;color:#FFF !important;background: #FF7276;font-size:18px;text-shadow: 1px 1px 0 rgba(39, 110, 204, .5); padding:10px;color:#f1f3f6;border-radius:13px !important;max-width:108%;width:108%;margin:0px auto auto -15px;border:0px !important;outline:none !important;border-bottom:5px solid #FF7276 !important;height:40px}
.login-section .buttonBlue:hover { background: #FF7276; }
.forgot{color:#ffffff !important;text-align:center;font-size:12px; line-height:65px; text-decoration:underline}
.welcome-text{ font-size:25px; color:#232222; text-align:center;/*font-family:"robotomedium",Helvetica,Arial,sans-serif;*/}
#lbldisp{font-family:Arial,sans-serif;}



.forgot-pwd .floating-form {position: relative;margin: 35px auto 45px auto;}
.forgot-pwd .floating-input {font-size:14px;padding:4px 0px;display:block;width:100%;height:30px;color:#292B2C;background-color: transparent;border:none;border-bottom:1px solid #232222;;}
.forgot-pwd .floating-input:focus {outline:none;border-bottom:2px solid #8c9093; }
.forgot-pwd label {color:#232222;font-size:16px;font-weight:normal;position:absolute;pointer-events:none;left:0px;top:5px;transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all;}
.forgot-pwd .floating-input:focus ~ label, .forgot-pwd .floating-input:not(:placeholder-shown) ~ label {top:-28px;font-size:14px;color:#8c9093;}
.forgot-pwd .floating-select:focus ~ label ,.forgot-pwd .floating-select:not([value=""]):valid ~ label {top:-18px;font-size:14px;color:#8c9093;}
.forgot-pwd .floating-input:focus ~ .bar:before,.forgot-pwd .floating-input:focus ~ .bar:after {width:50%;}
.forgot-pwd .highlight {position:absolute;height:50%;width:100%;top:15%;left:0;pointer-events:none;opacity:0.5;}
.forgot-pwd .floating-input:focus ~ .forgot-pwd .highlight {-webkit-animation:inputHighlighter 0.3s ease;-moz-animation:inputHighlighter 0.3s ease;animation:inputHighlighter 0.3s ease;}
.forgot-pwd .modal-body{background:#FFF;padding:10px 30px 0px 30px !important}
.forgot-pwd .modal .messagealert{left:0px;right:0px;}
.forgot-pwd .modal #alert_div{padding: 2px 0px 15px 0px;margin:0px auto !important;text-align:center !important;}
.forgot-pwd .modal #alert_div span{font-family: Arial,sans-serif;padding: 5px 20px;font-size:12px !important;position:relative !important}
.forgot-pwd .modal #alert_div .close{top: 5px !important;position: relative;padding: 0px 10px;}
.forgot-pwd .modal #alert_div strong{display:none}
.forgot-pwd .modal-dialog{max-width:365px;width:100%; margin:10% auto; padding:0px;}
.forgot-pwd .modal-header{ background:none/*#edf0f5*/ !important; padding:5px 10px 10px 10px; border-radius:5px 5px 0px 0px;border-bottom:1px solid #d0d3d8/*54719e*/} 
.forgot-pwd .modal-header h2{color:#FFF;font-size:15px; font-weight:normal;margin:5px auto}
.forgot-pwd .modal-content{border-radius:0px;}
.forgot-pwd .modal-title h2 i {font-size: 18px;color: #FFF;padding-right: 12px;padding-left: 7px;}
.forgot-pwd .modal-header .close {margin-top: 4px;outline:none}

.modal #imgMessageBoxIcon{font-size: 300%;color: #ffd729;margin: 0px 60px;position: relative;top: 14px;position: relative;right: 20px;}
.bootstrap-dialog-message .alert-message{left:120px;font-size: 15px !important;}

.container-steps{width: 100%;max-width: 700px;margin: 0 auto;position: relative;z-index:9999}
.step-row{width: 100%;margin: -20px 0;}
.step-row:before{content: " ";background: #DDD;height: 1px;width: 100%;position: absolute;top: 38px;left: 0px;right:0px;z-index:-1}

/* STEPS */
.steps{list-style-type: none;margin: 0;padding: 0;text-align: center;}
.steps li{display: inline-block;margin: 20px;color: #8c9093;padding-bottom: 5px;width:35px;height:35px;border-radius:100%;background:#EEE;line-height:36px;border:1px solid #DDD;z-index:9999999999}
.steps li.is-active{color: #FFF;width:35px;height:35px;border-radius:100%;background:#ff7276;line-height:36px;border:0px}
#myModal img{/*filter: brightness(0) invert(1);*/width: 80px; height: auto;/*display: block;*/position: relative;top: -5px;}

/* FORM */
.form-wrapper{padding:0px 10px 20px 10px}
.form-wrapper .section{margin-top:-10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;background-color: #fff;opacity: 0;-webkit-transform: scale(1, 0);-ms-transform: scale(1, 0);-o-transform: scale(1, 0);transform: scale(1, 0);-webkit-transform-origin: top center;-moz-transform-origin: top center;-ms-transform-origin: top center;-o-transform-origin: top center;transform-origin: top center;-webkit-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;text-align: center;/*position: absolute;*//*width: 100%;min-height: 300px*/}
.form-wrapper .section h3{margin-bottom: 30px;}
.form-wrapper .section.is-active{opacity: 1;-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1);-o-transform: scale(1, 1);transform: scale(1, 1);}
.form-wrapper .button, .form-wrapper .submit{background-color: #ff7276;display: inline-block;padding: 8px 30px;color: #fff;cursor: pointer;font-size: 14px !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;border-radius:4px}
.form-wrapper .submit{border: none;outline: none;-webkit-box-sizing: content-box;-moz-box-sizing: content-box;box-sizing: content-box;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.form-wrapper input[type="text"],.form-wrapper input[type="password"],.form-wrapper input[type="email"]{border-radius: 7px !important;display: block;padding: 10px;margin: 10px auto;background-color: #FFF;border:1px solid #8C9093;width: 100%;outline: none;font-size: 14px !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;box-shadow:none;color: #232222 !important;}
.form-wrapper input[type="radio"]{display: none;}
.form-wrapper input[type="radio"] + label{display: block;border: 1px solid #8c9093;width: 100%;max-width: 100%;padding: 10px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;cursor: pointer;position: relative;}
/*.form-wrapper input[type="radio"] + label:before{content: "?";position: absolute;right: -10px;top: -10px;width: 30px;height: 30px;line-height: 30px;border-radius: 100%;background-color: #ff7276;color: #fff;display: none;}*/
.form-wrapper input[type="radio"]:checked + label:before{display: block;}
.form-wrapper input[type="radio"] + label h4{margin: 15px;color: #8c9093;}
.form-wrapper input[type="radio"]:checked + label{border: 1px solid #ff7276;}

.bt-list-group{text-align:right}
.bt-list-group .bt-cancel{background:#FFF;border:1px solid #8c9093;color:#292b2c}
#btnPay{background:#6c757d}
 
#myModal{margin-top:12%}
.modal-title label{margin-bottom:0px}
#windowOpenVer .btn-primary{background:#ff7276 !important;outline: none !important;border-color: #ff7276 !important}
#windowOpenVer .btn-default{outline: none !important;border-color: #8c9093 !important;}
#windowOpenVer .modal-header{background:#ff7276 !important;}
#windowOpenVer .modal-title{color: #FFF !important;}
#windowOpenVer .close{color: #232222 !important;opacity: 0.5  !important;}
.price-list{text-align:justify}
.price-list ul {padding: 0px;overflow: auto;}
.price-list ul li h1 {font-size: 18px;margin-top: 0px;background: #ff7276;padding:8px;color:#FFf;border-radius:4px}

.price-list ul li {list-style: none;border: 1px solid #839096;padding: 10px;display: inline-grid;width: 100%;max-width: 178px;margin: 2px 2px;border-radius:5px;font-weight:bold}
.price-list ul li small {padding: 5px 10px;margin:-15px 0px 0px 0px;font-size:14px;}
.price-list ul li:active{background:#ff7276; color:#FFF;border:1px solid #ff7276}
.price-list ul li:active h1{color:#292b2c;background:#FFF;}
.form-group img{width:15%}
#lblTranNo{color:#ff0000}
.subscription-date span{display:inline-block;padding:0px 5px;font-weight:normal}

/*#myModal .modal-body{min-height:500px}*/
#myModal .modal-header{border-bottom:0px;background:#ff7276;color:#FFF;border-radius:10px 10px 0px 0px}


.btn.btn-login {outline:0 !important;font-size:18px;border:0;outline:0;width: 100%;padding:20px 0px 20px 0px;margin: 0px auto;color: #FFF; background: #ff7276;-webkit-transition: all .5s ease-in-out;-moz-transition: all .5s ease-in-out;-o-transition: all .5s ease-in-out;transition: all .5s ease-in-out;border:none;border-radius:0px 0px 10px 10px;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;}
/* .btn.btn-login:hover{opacity: 0.8;border:0;outline:0}  */
.btn.btn-login:visited{border:0;outline:0} 
.btn.btn-reset{width: 180px;}
.modal-content{border:0px !important;border-radius: 10px !important;}
.modal input[type=text],input[type=number]{border-color: #8c9093;border-radius: 7px;color: #232222 !important}
.modal input[type=text],input[type=number]:focus{border-color: #8c9093;box-shadow: #FF7276 !important;background:none !important;}
.bootstrap-dialog.type-primary .modal-header{background:#ff7276 !important;border-radius: 10px  10px 0px 0px !important;}
.bootstrap-dialog-footer-buttons .btn{outline: none !important;background:#ff7276 !important;border-color: #ff7276 !important;color: #FFF !important;}
_:-ms-lang(x), body { font-family:"Arial",Helvetica, sans-serif; } 
#myModalVD .modal-header{background:#FFF !important;border-radius: 10px 10px 0px 0px !important;}
#myModalVD .modal-title{color: #232222 !important;}
#myModal input[type=checkbox]{margin-top: 13px;margin-right: 5px;position: relative;top: 2px;}

.countdown-timer-wrapper {border-radius: 5px;background-color: rgba(0, 0, 0, 0.6);margin-bottom: 20px;max-width: 300px;margin: 10px auto;position:absolute;right:20px;bottom:0px;}
.countdown-timer-wrapper h5 {font-size: 14px;letter-spacing: 0.5px;text-align: center;padding-top: 10px;text-shadow: none;}
.countdown-timer-wrapper .timer {padding: 10px;text-align: center;padding-top: 15px;}
.countdown-timer-wrapper .timer .timer-wrapper {display: inline-block;width: 60px;height: 50px;}
.countdown-timer-wrapper .timer .timer-wrapper .time {font-size: 20px;font-weight: bold;color: #ffffff;}
.countdown-timer-wrapper .timer .timer-wrapper .text {font-size: 12px;color: rgba(255, 255, 255, 0.6);}

.poweredby-section{margin: 0px auto;padding:29px;position: relative;bottom:0px;left:0px;right:0px;max-width: 72%;background:url(../../images/arc.png) no-repeat;background-size: contain;background-position:bottom;text-align: center;}
/* .semi-circle{width: 100%;height: 100%;border-radius: 48% 50% 0 0 / 100% 100% 0 0;border: 30px solid #ff7276;border-bottom: 0;text-align: center;position: relative;top:126px} */
.poweredby-section img{margin: 0px auto auto auto;max-width: 37%;height: auto;display: block;position: relative;top:65px}
.poweredby-section figcaption{position:absolute;left:0;right: 0;top: 44%;color: #2bce93;}

#btnSaveTillUser {color: #FFF !important;background-color: #ff7276; border: 1px solid #FF7276 !important }
    /*-------------Logout --------------------------*/
    @media only screen and (min-width: 320px) and (max-width: 900px) and (orientation:landscape) {
    .panel-body-content,.icon-sec{width: 100%; text-align:center}
	.panel-section{height: 350px;width:100%}
	.icon-sec{border:0px;border-bottom: 1px solid #FFF}	
    .price-list ul li{max-width:24.2% !important}
    .logo{margin:0px auto 10px auto}
    body{overflow: auto;}
    .poweredby-section {display: none;} 
}
@media only screen and (max-width : 980px) {
     .price-list ul li{max-width:48.5%}  
     .poweredby-section {max-width: 100%;} 
     .poweredby-section img{top: 16px;max-width: 38%;}
     .logo{margin: 0px auto;}
     .poweredby-section figcaption {top:27%}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
    .poweredby-section img{top: 42px;max-width: 40%;}
    .poweredby-section figcaption {top:32%}
    .price-list ul li{max-width:24.2%}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .price-list ul li{max-width:24.2%}
    .poweredby-section img{top: 32px;max-width: 40%;}
    .poweredby-section figcaption {top:32%}
}
@media only screen and (min-width: 1366px) and (max-height: 1024px) {
    .logo{ margin:0px auto 20px auto;}
    #myModal{margin-top:0px}
    .price-list ul li{max-width:24.2%}

}

/*-------------Logout --------------------------*/
