html {
  position: relative;
  min-height: 100%;
}

/* -------------------------------------------------- */
.push-menu-navbar-top {
  margin-bottom: 0;
  min-height: 61px;
  border-radius:0 !important;
  
}
.push-menu-navbar-top .push-btn-toggle-right {
/*  position: absolute;
  left: 16px;
  top: 13.5px;*/
  background-color: rgba(0, 0, 0, 0);
  border-width: 0;
  color: #FFF;
  outline: 0;
  position:absolute;
}
@media (min-width: 768px) {
  .push-menu-navbar-top.dnl-visible-right.push-btn-toggle-right {
    display: none;
  }
}
.push-menu-navbar-top .navbar-brand {
  padding: 20px;
  font-weight: bold;
  margin-left: 20px;
  color: #d7d7d7;
}
.push-menu-navbar-top .navbar-brand span {
  font-size: 10px;
  font-weight: normal;
}
.push-menu-navbar-top .navbar-brand:hover,
.push-menu-navbar-top .navbar-brand:focus {
  color: #ffffff;
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-brand {
    margin-left: 35px;
  }
}
@media (min-width: 767px) {
  .push-menu-navbar-top.dnl-visible-right .navbar-brand {
    margin-left: 0;
    padding-left: 5px;
  }
}
@media (min-width: 767px) {
  .push-menu-navbar-top.dnl-hidden-right .navbar-brand {
    margin-left: 35px;
    padding-left: 5px;
  }
}
.push-menu-navbar-top .navbar-toggle {
  border-width: 0;
  font-size: 24px;
  color: #d3d1dd;
  padding: 0 10px;
  margin-top: 14px;
  margin-left: 15px;
}
.push-menu-navbar-top .navbar-toggle:hover,
.push-menu-navbar-top .navbar-toggle:focus {
  background-color: transpardnt;
}
.push-menu-navbar-top .navbar-nav {
  text-align: center;
}
.push-menu-navbar-top .navbar-nav > li > a {
  color: #7e7e7e;
  padding-top: 20px;
  padding-bottom: 20px;
}
.push-menu-navbar-top .navbar-nav > li > a:hover,
.push-menu-navbar-top .navbar-nav > li > a:focus {
  background-color: #0a090d;
}
.push-menu-navbar-top .navbar-nav > li.dropdown.open > a {
  background-color: #0a090d;
}
.push-menu-navbar-top .navbar-nav > li.dropdown.open > a:hover,
.push-menu-navbar-top .navbar-nav > li.dropdown.open > a:focus {
  background-color: #0a090d;
}
.push-menu-navbar-top .navbar-nav .dropdown-menu {
  top: 107%;
  border-radius: 3px;
  min-width: 200px;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.1);
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li {
  border-bottom: 1px solid #eeeeee;
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li > a {
  padding: 10px 20px;
  position: relative;
  color: #333333;
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li > a:hover,
.push-menu-navbar-top .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li > a {
    color: #7e7e7e;
  }
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li > a:hover,
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li > a:focus {
    background-color: #15141b;
  }
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li > a span {
  font-size: 11px;
  text-transform: uppercase;
  position: absolute;
  right: 14px;
  top: 13px;
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li > a span {
    top: 9px;
  }
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li {
    border-bottom-color: #2d2a39;
  }
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li:last-child {
  border-bottom-width: 0;
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a {
  background-color: #f5f5f5;
  color: #333333;
}
.push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a:hover,
.push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a:focus {
  background-color: #f5f5f5;
  color: #333333;
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a {
    background-color: #15141b;
    color: #7e7e7e;
  }
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a:hover,
  .push-menu-navbar-top .navbar-nav .dropdown-menu > li.active > a:focus {
    background-color: #15141b;
    color: #7e7e7e;
  }
}
.push-menu-navbar-top .navbar-nav .dropdown-menu:before {
  position: absolute;
  top: -9px;
  right: 9px;
  display: inline-block;
  border-right: 9px solid rgba(0, 0, 0, 0);
  border-bottom: 9px solid #CCC;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}
.push-menu-navbar-top .navbar-nav .dropdown-menu:after {
  position: absolute;
  top: -8px;
  right: 10px;
  display: inline-block;
  border-right: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid #FFF;
  border-left: 8px solid rgba(0, 0, 0, 0);
  content: '';
}
@media (max-width: 767px) {
  .push-menu-navbar-top .navbar-nav .dropdown-menu:before,
  .push-menu-navbar-top .navbar-nav .dropdown-menu:after {
    display: none;
  }
}
.push-menu-navbar-top .navbar-nav.navbar-right.navbar-avatar .dropdown-menu:before {
  left: 29px;
  right: auto;
}
.push-menu-navbar-top .navbar-nav.navbar-right.navbar-avatar .dropdown-menu:after {
  left: 30px;
  right: auto;
}
.push-menu-navbar-top .navbar-nav.navbar-right .dropdown-menu:before {
  left: 10px;
  right: auto;
}
.push-menu-navbar-top .navbar-nav.navbar-right .dropdown-menu:after {
  left: 11px;
  right: auto;
}
.push-menu-navbar-top .dnt-navbar-form {
  position: relative;
  margin-top: 14px;
  margin-bottom: 0px;
}
.push-menu-navbar-top .dnt-navbar-form .form-control {
  border-radius: 50px;
}
.push-menu-navbar-top .dnt-navbar-form .form-control:focus {
  -webkit-box-shadow: 0 0 0, 0 0 0, inset 0 0 2px #333333;
  box-shadow: 0 0 0, 0 0 0, inset 0 0 2px #333333;
  border-color: #211f2a;
}
.push-menu-navbar-top .dnt-navbar-form .btn {
  position: absolute;
  background-color: transparent;
  top: 0;
  right: 15px;
  outline: 0;
}
.push-menu-navbar-top .dnt-navbar-form .btn:active {
  -webkit-box-shadow: 0 0 0;
  box-shadow: 0 0 0;
}
@media (max-width: 767px) {
  .push-menu-navbar-top .dnt-navbar-form .btn {
    top: 10px;
  }
}
.push-menu-navbar-top .dnt-avatar {
  border-radius: 50px;
  width: 35px;
  height: 35px;
  -webkit-box-shadow: 0 0 0 2px #211f2a, 0 0 0 4px #4f4a65;
  box-shadow: 0 0 0 2px #211f2a, 0 0 0 4px #4f4a65;
  margin-right: 3px;
  margin: -11px 7px -11px 0;
}


/* Dash Navbar right = dnl
/ -------------------------------------------------- */
.push-navbar-right {
  position: fixed;
  overflow:hidden;
  /*background-color: #383547;*/
  background-color: #383547;
  width: 250px;
  top: 62px;
  left:0;
  bottom: 0;
  overflow-y: auto;
  z-index: 999;
  padding-top: 30px;
  -webkit-transition: left 300ms;
  -o-transition: left 300ms;
  transition: left 300ms;
}

@media (max-width: 767px) {
  .push-navbar-right.dnl-visible-right {
     left: -250px;
  }
  .push-navbar-right.dnl-visible-right.dnl-show-right {
     left: 0;
  }
}
.push-navbar-right.dnl-hidden-right {
  left: -250px;
}
.push-navbar-right.dnl-hidden-right.dnl-show-right {
  	 left: 0;
}
.push-navbar-right .dnl-nav-title-right {
  text-transform: uppercase;
  color: #7f799c;
  border-bottom: 1px solid #443f56;
  padding: 10px 25px;
  font-size: 11px;
  letter-spacing: 1px;
}
.push-navbar-right .dnl-nav-right {
  padding-left: 0;
  list-style: none;
}
.push-navbar-right .dnl-nav-right ul {
  padding-left: 0;
  list-style: none;
}
.push-navbar-right .dnl-nav-right li {
  position: relative;
}
.push-navbar-right .dnl-nav-right li a {
  display: block;
  outline: 0;
  padding: 8px 25px 7px;
  font-size: 13px;
  color: #b7b4c7;
}

/*.dnl-link-icon{display:block;}
.dnl-link-text-right{display:block; position:relative;left:20px;bottom:14px}
*/

/*.dnl-link-icon + .dnl-link-text-right{display: block;line-height: 0;position: relative;text-align: right !important;margin-right: 30px;bottom: 9px;}*/
.dnl-link-icon + .dnl-link-text-right{display: block;line-height: 20px;position: relative;text-align: right !important;margin: 0px 30px -16px 0px;bottom: 18px;}



.push-navbar-right .dnl-nav-right li a:hover,
.push-navbar-right .dnl-nav-right li a:focus {
  color: #eeeeee;
  text-decoration: none;
  background-color: #443f56;
  -moz-box-shadow:    inset -3px 0 0 #eb4f9a;
  -webkit-box-shadow: inset -3px 0 0 #eb4f9a;
  box-shadow:         inset -3px 0 0 #eb4f9a;
}
.push-navbar-right .dnl-nav-right li a:hover .badge,
.push-navbar-right .dnl-nav-right li a:focus .badge {
  color: #EEE;
}
.push-navbar-right .dnl-nav-right li a > .dnl-link-icon {
  padding-right: 8px;
}
.push-navbar-right .dnl-nav-right li a > .dnl-btn-sub-collapse-right {
  position: absolute;
  left: 25px;
  top: 12px;
}
.push-navbar-right .dnl-nav-right li a > .badge {
  position: absolute;
  right: 24px;
  top: 6px;
  padding: 3px 10px;
  color: #a7a9ac;
  background-color: transparent;
  border: 1px solid #4f4a65;
}
.push-navbar-right .dnl-nav-right li a.collapsed .dnl-btn-sub-collapse-right {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.push-navbar-right .dnl-nav-right li.active > a {
  background-color: #443f56;
  -webkit-box-shadow: inset 3px 0 0 #eb4f9a;
  box-shadow: inset 3px 0 0 #eb4f9a;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one {
  background-color: #15141b;
}
.push-navbar-right .dnl-nav-right .dnl-sub-one li {
  border-top: 1px solid #1c1b24;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one li a {
  display: block;
  color: #a7a9ac;
  width:100%;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one li a:hover,
.push-navbar-right .dnl-nav-right li .dnl-sub-one li a:focus {
  color: #eeeeee;
  background-color: #1c1b24;
  -webkit-box-shadow: inset 3px 0 0 #1c1b24;
  box-shadow: inset 3px 0 0 #1c1b24;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one li a > .dnl-link-icon {
  padding-right: 8px;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one li a > .badge {
  color: #a7a9ac;
  background-color: transparent;
  border: 1px solid #211f2a;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-one li.active > a {
  background-color: #1c1b24;
  -webkit-box-shadow: inset 3px 0 0 #1c1b24;
  box-shadow: inset 3px 0 0 #1c1b24;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two {
  background-color: #211f2a;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two li {
  border-top-color: 1px solid #282533;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two li a {
  color: #a7a9ac;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two li a:hover,
.push-navbar-right .dnl-nav-right li .dnl-sub-two li a:focus {
  color: #eeeeee;
  background-color: #282533;
  -webkit-box-shadow: inset 3px 0 0 #282533;
  box-shadow: inset 3px 0 0 #282533;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two li a > .badge {
  color: #a7a9ac;
  background-color: transparent;
  border: 1px solid #211f2a;
}
.push-navbar-right .dnl-nav-right li .dnl-sub-two li.active > a {
  background-color: #1c1b24;
  -webkit-box-shadow: inset 3px 0 0 #1c1b24;
  box-shadow: inset 3px 0 0 #1c1b24;
}
/* Content wrap
/ -------------------------------------------------- */
.content-wrap-right {
  position: relative;
}
.content-wrap-right.dnl-visible-right {
  margin-right: 250px;
}
@media (max-width: 767px) {
  .content-wrap-right.dnl-visible-right {
    margin-right: 0;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
  }
  .content-wrap-right.dnl-visible-right.dnl-push-right {
    -webkit-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
}
.content-wrap-right.dnl-hidden-right {
  margin-right: 0;
  -webkit-transition: all 300ms;
  -o-transition: all 300ms;
  transition: all 300ms;
}
.content-wrap-right.dnl-hidden-right.dnl-push-right {
  margin-right: 250px;
}
@media (max-width: 767px) {
  .content-wrap-right.dnl-hidden-right.dnl-push-right {
    margin-right: 0;
    -webkit-transform: translate(250px, 0);
    -ms-transform: translate(250px, 0);
    -o-transform: translate(250px, 0);
    transform: translate(250px, 0);
  }
}
.content-wrap-right.content-opacity-right.dnl-overlay-right,
.content-wrap-right.content-opacity-right.dnl-push-right {
  opacity: 0.3;
  filter: alpha(opacity=30);
}
