/* ------- calculator housing ------- */
html,body{overflow:hidden}
.calc-main {
	display: block;
	/* width: 480px; */ /* only needed in Chrome extension */
	padding: 16px 10px 18px;
	font: 16px/28px Arial, Helvetica, sans-serif;
	border-radius: 5px;
	background: #EEE; 
	border:1px solid #DDD;
}
.calc-main:after {
	content: "";
	display: block;
	clear: both;
}
.calc-small {
	/* width: 240px; */ /* only needed in Chrome extension */
}

/* --------- display --------- */

.calc-display {
	position: relative;
	height: 60px;
	margin: 0 5px 6px 5px;
	padding: 0 8px;
	border-radius: 5px;
	font-size: 45px;
	font-family:'Digital-7';
	line-height: 61px;
	text-align: right;
	white-space: nowrap;
	color: #999;
	cursor: default;
	background: #fafafa; /* Old browsers */
	border:1px solid #DDD;
}
.calc-rad {
	position: absolute;
	bottom: 2px;
	font-size: 14px;
	line-height: 14px;
	left: 11px;
}
.calc-small .calc-rad {
	display: none;
}
.calc-hold {
	position: absolute;
	right: 5px;
	bottom: 1px;
	font-size: 8px;
	line-height: 13px;
	color: #999;
	height: 12px;
}

/* ----- display helper buttons ----- */

.calc-buttons {
	position: absolute;
	top: 2px;
	left: 2px;
	opacity: .35;
	height: 14px;
	width: 14px;
	transition:
	opacity 0.15s ease-in;
	display:none;
}
.calc-buttons:hover {
	opacity: 0.75;
	height: 100%;
	width: 17px;
}
.calc-buttons div {
	position: absolute;
	top: 1px;
	height: 11px;
	width: 11px;
	font-size: 8px;
	text-align: center;
	text-decoration: none;
	line-height: 12px;
	text-indent: 1px;
	color: #999;
	cursor: default;
	border-radius: 50%;
	border: 1px solid #DDD;
}
.calc-buttons .calc-smaller {
	opacity: 0;
}
.calc-buttons .calc-ln {
	font-size: 17px;
	line-height: 2px;
	overflow: hidden;
	opacity: 0;
}
.calc-buttons:hover div {
	transition:
		opacity 0.15s ease-in,
		top 0.25s ease-out;
}

.calc-buttons:hover .calc-smaller {
	top: 15px;
	opacity: 0.75;
}
.calc-buttons:hover .calc-ln {
	top: 29px;
	opacity: 0.75;
}
.calc-buttons .calc-info:hover, .calc-buttons .calc-smaller:hover, .calc-buttons .calc-ln:hover {
	opacity: 1;
	
}

/* -------- key board -------- */

.calc-left, .calc-right {
	position: relative;
	float: left;
	/*width: 250px;*/
    width: 450px;
}

.calc-small .calc-left {
	display: none;
}
.calc-f17 {
	font-size: 17px;
}
.calc-f18 {
	font-size: 18px;
}
.calc-f19 {
	font-size: 19px;
}
.calc-f21 {
	font-size: 21px;
}
.calc-main textarea {
	position: absolute;
	width: 1px;
	height: 1px;
	left: 4px;
	top: 4px;
	border: 0;
	background-color: transparent;
}

/* -------- key board keys -------- */

.calc-left > div, .calc-right > div {
	margin: 5px 4px;
	position: relative;
	width: 100px;
	height: 60px;
	background-color: #f4f4f4;
	border: 2px solid #DDD;
	border-radius: 6px;
	overflow: hidden;
	float: left;
	cursor: default;
}
.calc-left > div > div, .calc-right > div > div {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 60px;
	left: 0px;
	width: 100%;
	border: 1px solid #DDD;
	border-radius: 6px;
	color: #999;
	text-align: center;
	background: #fafafa;
	border: none;
    padding-top:15px;
}
.calc-left > div > div:hover, .calc-right > div > div:hover {
	text-shadow:
		0px  0px  8px  rgb(255, 230, 186),
		0px  0px 22px  rgb(255, 255, 255),
		0px -1px  0px rgba(  0,   0,   0, 0.5);
}
.calc-right .calc-eq {
	height: 134px;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #FFF;
}
.calc-down {
	padding-top: 80px;
}
.calc-radxy sup {
	padding-bottom: 4px;
	display: block;
	position: absolute;
	left: 14px;
	top: 6px;
}
.calc-radxy em {
	font-weight: normal;
	font-size: 16px;
	padding-right: 2px;
}
.calc-right .calc-zero {
	width: 212px;
}
.calc-right .calc-zero div {
	text-align: left;
}
.calc-right .calc-zero span {
	padding-left: 22px;
}
.calc-blank {
	border-color: transparent;
	background: none;
	background-image: none;
	box-shadow: none;
	clear: right;
	display:none;
}
.calc-right .calc-brown > div {
	background-color: #fafafa;
}
/*.calc-right .calc-brown {
	background-color: #4b3c34;
}*/

.calc-right .calc-black > div {
	background-color: #fafafa;
}
/*.calc-right .calc-black {
	background-color: #181818;
}*/
.calc-right .calc-orange > div {
	background-color: #FFF;
	
}
.calc-left > div:active, .calc-right > div:active,
.calc-left .calc-press, .calc-right .calc-press {
	box-shadow:
		inset 0 -9px 6px rgba(255, 255, 255, 0.35),
			  0  1px     rgba(255, 255, 255, 0.15);
}
.calc-left > div:active > div, .calc-right > div:active > div,
.calc-left .calc-press > div, .calc-right .calc-press > div {
	background: none;
	/*box-shadow:
		inset 0 1px 1px rgba(255, 255, 255, 0.3);*/
}
.calc-left .calc-active, .calc-right .calc-active {
	border:2px solid #999
}
.calc-left .calc-second {
	background-color: #f4f4f4;
}
.calc-left .calc-second div {
	color: #999;
}
sup, sub {
	font-size: 10px;
	line-height: 0;
	padding-left: 1px;
}


 @media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) {
   .calc-main {width:450px;}
}