.gj-button {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #000;
    border-radius: 3px;
    padding: 6px 10px;
    cursor: pointer;
}

.gj-unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.gj-margin-left-5 {
    margin-left: 5px;
}

.gj-margin-left-10 {
    margin-left: 10px;
}

.gj-width-full {
    width: 100%;
}

.gj-cursor-pointer {
    cursor: pointer;
}

.gj-text-align-center {
    text-align: center;
}

.gj-font-size-16 {
    font-size: 16px;
}

.gj-hidden {
    display: none;
}

.gj-mdl-icon-plus::after {
    content: "\E145";
}

.gj-mdl-icon-minus::after {
    content: "\E15B";
}

.content-module-section .table-responsive table th {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}
/** Material Design */
.gj-button-md {
    background: none !important;
    border: none !important;
    border-radius: 2px;
    color: rgba(0,0,0,.54);
    position: relative;
    /*height: 36px;*/
    margin: 0;
    min-width: 64px;
    padding: 0 16px;
    display: inline-block;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .gj-button-md:hover {
        background-color: rgba(158,158,158,.2);
    }

    .gj-button-md:disabled {
        color: rgba(0,0,0,.26);
        background: 0 0;
    }

    .gj-button-md .material-icons {
        vertical-align: middle;
        font-size: 1.3rem;
        margin-right: 4px;
    }

    .gj-button-md.gj-button-md-icon {
        width: 24px;
        height: 24px;
        min-width: 24px;
        padding: 0px;
    }

        .gj-button-md.gj-button-md-icon .material-icons {
            vertical-align: baseline;
            margin-right: 0px;
        }

    .gj-button-md.active {
        background-color: rgba(158,158,158,.4);
    }

.gj-button-md-group {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}

.gj-textbox-md {
    border: none;
    border-bottom: 1px solid #E0E0E0;
    display: block;
    font-size: 16px;
    font-family: "Helvetica","Arial",sans-serif;
    margin: 0;
    padding: 4px 0;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
}

    .gj-textbox-md:focus {
        border-bottom: 2px solid rgba(158,158,158,.4);
        outline: none;
    }

.gj-md-spacer-24 {
    min-width: 24px;
    width: 24px;
    display: inline-block;
}

.gj-md-spacer-32 {
    min-width: 32px;
    width: 32px;
    display: inline-block;
}

/* List */
ul.gj-list li [data-role="wrapper"] {
    display: table;
    width: 100%;
}

ul.gj-list li [data-role="checkbox"] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.gj-list li [data-role="image"] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

ul.gj-list li [data-role="display"] {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

/* List - Bootstrap */
ul.gj-list-bootstrap {
    padding-left: 0px;
    margin-bottom: 0px;
}

    ul.gj-list-bootstrap li {
        padding: 0px;
    }

        ul.gj-list-bootstrap li [data-role="wrapper"] {
            padding: 0px 10px;
        }

        ul.gj-list-bootstrap li [data-role="checkbox"] {
            width: 24px;
            padding: 3px;
        }

        ul.gj-list-bootstrap li [data-role="image"] {
            width: 24px;
            height: 24px;
        }

        ul.gj-list-bootstrap li [data-role="display"] {
            padding: 8px 0px 8px 4px;
        }

.list-group-item.active ul li, .list-group-item.active:focus ul li, .list-group-item.active:hover ul li {
    text-shadow: none;
    color: initial;
}

/* List - Material Design */
ul.gj-list-md {
    padding: 0px;
    list-style: none;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: 0;
}

    ul.gj-list-md li {
        display: list-item;
        list-style-type: none;
        padding: 0px;
        min-height: unset;
        box-sizing: border-box;
        align-items: center;
        cursor: default;
        overflow: hidden;
        font-family: "Roboto","Helvetica","Arial",sans-serif;
        font-size: 16px;
        font-weight: 400;
        letter-spacing: .04em;
        line-height: 1;
        color: rgba(0,0,0,.87);
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }

        ul.gj-list-md li [data-role="checkbox"] {
            height: 24px;
            width: 24px;
        }

        ul.gj-list-md li [data-role="image"] {
            height: 24px;
            width: 24px;
        }

        ul.gj-list-md li [data-role="display"] {
            padding: 8px 0px 8px 5px;
            order: 0;
            flex-grow: 2;
            text-decoration: none;
            box-sizing: border-box;
            align-items: center;
            text-align: left;
        }

.gj-list-md-active {
    background: #E8EAF6;
}

.gj-draggable {
    cursor: move;
}

.gj-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
    z-index: 3;
}

.gj-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.gj-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.gj-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.gj-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.gj-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.gj-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.gj-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.gj-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

.gj-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.gj-dialog-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    margin-top: 0px;
}

.gj-dialog-scrollable [data-role="body"] {
    overflow-x: hidden;
    overflow-y: scroll;
}

/** Bootstrap 3 **/
.gj-dialog-bootstrap {
    overflow: hidden;
}

    .gj-dialog-bootstrap [data-role="title"] {
        display: inline;
    }

    .gj-dialog-bootstrap [data-role="close"] {
        line-height: 1.42857143;
    }

/** Bootstrap 4 **/
.gj-dialog-bootstrap4 {
    overflow: hidden;
}

    .gj-dialog-bootstrap4 [data-role="title"] {
        display: inline;
    }

    .gj-dialog-bootstrap4 [data-role="close"] {
        line-height: 1.5;
    }

/** Material Design **/
.gj-dialog-md {
    background-color: #FFF;
    overflow: hidden;
    border: none;
    box-shadow: 0 9px 46px 8px rgba(0,0,0,.14), 0 11px 15px -7px rgba(0,0,0,.12), 0 24px 38px 3px rgba(0,0,0,.2);
    box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}

.gj-dialog-md-header {
    padding: 24px 24px 0;
}

.gj-dialog-md-title {
    margin: 0;
    font-size: 2.5rem;
    line-height: 40px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    display: inline;
}

.gj-dialog-md-close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
    float: right;
    font-size: 2.5em;
    line-height: 40px;
}

.gj-dialog-md-body {
    padding: 20px 24px 24px;
    color: rgba(0,0,0,.54);
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.gj-dialog-md-footer {
    padding: 8px 8px 8px 24px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
}

    .gj-dialog-md-footer > *:first-child {
        margin-right: 0;
    }

    .gj-dialog-md-footer > * {
        margin-right: 8px;
        height: 36px;
    }

DIV.gj-grid-wrapper {
    margin: auto;
    position: relative;
    clear: both;
    z-index: 1;
}

TABLE.gj-grid {
    margin: auto;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

    TABLE.gj-grid THEAD TH [data-role="selectAll"] {
        margin: auto;
    }

    TABLE.gj-grid THEAD TH [data-role="title"] {
        display: inline-block;
    }

    TABLE.gj-grid THEAD TH [data-role="sorticon"] {
        display: inline-block;
    }

    TABLE.gj-grid > thead > tr > th {
        overflow: hidden;
        /*position: relative;*/
    }

    TABLE.gj-grid > tbody > tr > td {
        overflow: hidden;
        position: relative;
    }

    TABLE.gj-grid DIV[data-role="display"], TABLE.gj-grid DIV[data-role="display"] > DIV {
        vertical-align: middle;
        text-indent: 0;
        display: inline-block;
        white-space: pre-wrap;
        -ms-word-break: break-word;
        word-break: break-word;
    }

    TABLE.gj-grid .fa {
        padding: 2px;
    }

    TABLE.gj-grid > tbody > tr > td > div {
        padding: 2px;
        overflow: hidden;
    }

DIV.gj-grid-wrapper DIV.gj-grid-loading-cover {
    background: #BBBBBB;
    opacity: 0.5;
    position: absolute;
    vertical-align: middle;
}

DIV.gj-grid-wrapper DIV.gj-grid-loading-text {
    position: absolute;
    font-weight: bold;
}

table.gj-grid .gj-grid-icon {
    margin: 0 2px;
    cursor: pointer;
    overflow: visible;
    width: 16px;
    height: 16px;
}

/* Bootstrap Theme */
table.gj-grid-bootstrap thead th {
    background-color: #f5f5f5;
    vertical-align: middle;
}

    table.gj-grid-bootstrap thead th [data-role="sorticon"] {
        margin-left: 5px;
    }

        table.gj-grid-bootstrap thead th [data-role="sorticon"] i.material-icons {
            position: absolute;
            font-size: 20px;
            top: 15px;
        }

table.gj-grid-bootstrap tbody tr td div[data-role="display"] {
    padding: 0px;
}

/* Material Design Theme */
.gj-grid-md {
    position: relative;
    border: 1px solid rgba(0,0,0,.12);
    border-collapse: collapse;
    white-space: nowrap;
    font-size: 13px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    background-color: #fff;
}

    .gj-grid-md td:first-of-type, .gj-grid-md th:first-of-type {
        padding-left: 24px;
    }

    .gj-grid-md th {
        position: relative;
        vertical-align: bottom;
        text-overflow: ellipsis;
        font-weight: 700;
        line-height: 25px;
        letter-spacing: 0;
        height: 25px;
        font-size: 12px;
        color: rgba(0,0,0,.54);
        /*padding-bottom: 8px;*/
        box-sizing: border-box;
        padding: 5px 18px 5px 18px;
        text-align: right;
    }

    .gj-grid-md tbody tr {
        position: relative;
        height: 25px;
        transition-duration: .28s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-property: background-color;
    }

        .gj-grid-md tbody tr:hover {
            background-color: #EEEEEE; /* Gray 200 */
        }

    .gj-grid-md td {
        position: relative;
        height: 25px;
        border-top: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
        padding: 5px 18px;
        box-sizing: border-box;
        text-align: left;
    }

    .gj-grid-md tbody tr.gj-grid-md-select {
        background-color: #F5F5F5; /* Grey 100 */
    }


table.gj-grid-md thead th [data-role="sorticon"] {
    margin-left: 5px;
}

    table.gj-grid-md thead th [data-role="sorticon"] i.material-icons {
        position: absolute;
        font-size: 18px;
        top: 13px;
    }

table.gj-grid-md thead th.gj-grid-select-all {
    padding-bottom: 3px;
}
/* Hide all prioritized columns by default */
@media only all {
    th.display-1120,
    td.display-1120,
    th.display-960,
    td.display-960,
    th.display-800,
    td.display-800,
    th.display-640,
    td.display-640,
    th.display-480,
    td.display-480,
    th.display-320,
    td.display-320 {
        display: none;
    }
}

/* Show at 320px (20em x 16px) */
@media screen and (min-width: 20em) {
    TABLE.gj-grid-bootstrap th.display-320,
    TABLE.gj-grid-bootstrap td.display-320 {
        display: table-cell;
    }
}
/* Show at 480px (30em x 16px) */
@media screen and (min-width: 30em) {
    TABLE.gj-grid-bootstrap th.display-480,
    TABLE.gj-grid-bootstrap td.display-480 {
        display: table-cell;
    }
}
/* Show at 640px (40em x 16px) */
@media screen and (min-width: 40em) {
    TABLE.gj-grid-bootstrap th.display-640,
    TABLE.gj-grid-bootstrap td.display-640 {
        display: table-cell;
    }
}
/* Show at 800px (50em x 16px) */
@media screen and (min-width: 50em) {
    TABLE.gj-grid-bootstrap th.display-800,
    TABLE.gj-grid-bootstrap td.display-800 {
        display: table-cell;
    }
}
/* Show at 960px (60em x 16px) */
@media screen and (min-width: 60em) {
    TABLE.gj-grid-bootstrap th.display-960,
    TABLE.gj-grid-bootstrap td.display-960 {
        display: table-cell;
    }
}
/* Show at 1,120px (70em x 16px) */
@media screen and (min-width: 70em) {
    TABLE.gj-grid-bootstrap th.display-1120,
    TABLE.gj-grid-bootstrap td.display-1120 {
        display: table-cell;
    }
}

/* Material Design Theme */
.gj-grid-md tfoot tr th {
    padding-right: 14px;
}

.gj-grid-md tfoot tr[data-role="pager"] .gj-grid-mdl-pager-label {
    padding-left: 5px;
    padding-right: 5px;
}

.gj-grid-md tfoot tr[data-role="pager"] .gj-dropdown-md {
    margin-left: 12px;
}

    .gj-grid-md tfoot tr[data-role="pager"] .gj-dropdown-md [role="presenter"] {
        font-size: 12px;
        font-weight: bold;
        color: rgba(0,0,0,.54);
    }

        .gj-grid-md tfoot tr[data-role="pager"] .gj-dropdown-md [role="presenter"] [role="display"] {
            text-align: right;
        }

/*.gj-grid-md tfoot tr[data-role="pager"] .gj-dropdown-md [role="list"] li {
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,.54);
}*/

.gj-grid-md tfoot tr[data-role="pager"] .gj-grid-md-limit-select {
    margin-left: 10px;
    font-size: 12px;
    font-weight: bold;
    color: rgba(0,0,0,.54);
}

/* Bootstrap */
.gj-grid-bootstrap tfoot tr[data-role="pager"] th.gj-grid-bootstrap-tfoot-cell {
    line-height: 30px;
    background-color: #f5f5f5;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th > div > div {
    margin-right: 5px;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th > div > button {
    margin-right: 5px;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th > div > input {
    margin-right: 5px;
    width: 40px;
    text-align: right;
    display: inline-block;
    font-weight: bold;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th > div > select {
    display: inline-block;
    margin-right: 5px;
    width: 60px;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th .gj-dropdown-bootstrap .gj-list-bootstrap [data-role="display"] {
    line-height: 14px;
}

.gj-grid-bootstrap tfoot tr[data-role="pager"] th .gj-dropdown-bootstrap [role="presenter"] [role="display"] {
    font-weight: bold;
}

.gj-grid thead tr th div.gj-grid-column-resizer-wrapper {
    position: relative;
    width: 100%;
    height: 0px;
    top: 0px;
    left: 0px;
    padding: 0px;
}

span.gj-grid-column-resizer {
    position: absolute;
    right: 0px;
    width: 10px;
    top: -100px;
    height: 300px;
    z-index: 100;
    cursor: e-resize;
}

.gj-grid-resize-cursor {
    cursor: e-resize;
}

.gj-grid-md tbody tr.gj-grid-top-border td {
    border-top: 2px solid #777;
}

.gj-grid-md tbody tr.gj-grid-bottom-border td {
    border-bottom: 2px solid #777;
}

.gj-grid-bootstrap tbody tr.gj-grid-top-border td {
    border-top: 2px solid #777;
}

.gj-grid-bootstrap tbody tr.gj-grid-bottom-border td {
    border-bottom: 2px solid #777;
}

.gj-grid-md thead tr th.gj-grid-left-border,
.gj-grid-md tbody tr td.gj-grid-left-border {
    border-left: 2px solid #777;
}

.gj-grid-md thead tr th.gj-grid-right-border,
.gj-grid-md tbody tr td.gj-grid-right-border {
    border-right: 2px solid #777;
}

.gj-grid-bootstrap thead tr th.gj-grid-left-border,
.gj-grid-bootstrap tbody tr td.gj-grid-left-border {
    border-left: 2px solid #ddd;
}

.gj-grid-bootstrap thead tr th.gj-grid-right-border,
.gj-grid-bootstrap tbody tr td.gj-grid-right-border {
    border-right: 2px solid #ddd;
}

.gj-dirty {
    position: absolute;
    top: 0px;
    left: 0px;
    border-style: solid;
    border-width: 3px;
    border-color: #f00 transparent transparent #f00;
    padding: 0;
    overflow: hidden;
    vertical-align: top;
}

/* Material Design */
.gj-grid-md tbody tr td.gj-grid-management-column {
    padding: 3px;
}

.gj-grid-md tbody tr td[data-mode="edit"] {
    padding: 0px 18px;
}

.gj-grid-md tbody .gj-dropdown-md [role="presenter"] [role="display"] {
    padding: 0px;
}

.gj-grid-md tbody .gj-dropdown-md [role="presenter"] [role="expander"] .material-icons {
    position: absolute;
    top: -6px;
    right: 0px;
}

/* Bootstrap */
.gj-grid-bootstrap tbody tr td[data-mode="edit"] {
    padding: 0px;
}

    .gj-grid-bootstrap tbody tr td[data-mode="edit"] [data-role="edit"] {
        padding: 0px;
    }

/* Bootstrap 3 */
.gj-grid-bootstrap-3 tbody tr td.gj-grid-management-column {
    padding: 3px;
}

.gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] [data-role="edit"] input[type="text"] {
    height: 37px;
    padding: 8px;
}

.gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] .gj-dropdown-bootstrap [role="presenter"] {
    border: 0px;
    border-radius: 0px;
    height: 37px;
    padding-left: 8px;
}

.gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap {
    height: 37px;
}

    .gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="input"] {
        height: 37px;
        border: 0px;
        border-radius: 0px;
    }

    .gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="right-icon"] {
        border: 0px;
        border-radius: 0px;
    }

.gj-grid-bootstrap-3 tbody tr td[data-mode="edit"] .gj-checkbox-bootstrap {
    display: inline-block;
    padding-top: 8px;
    height: 32px;
}

/* Bootstrap 4 */
.gj-grid-bootstrap-4 tbody tr td.gj-grid-management-column {
    padding: 11px;
}

.gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] [data-role="edit"] input[type="text"] {
    height: 50px;
    padding-left: 12px;
}

.gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-dropdown-bootstrap [role="presenter"] {
    border: 0px;
    border-radius: 0px;
    height: 50px;
    padding-left: 12px;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-dropdown-bootstrap-4 [role="expander"].gj-dropdown-expander-mi .material-icons {
    top: 12px;
}

.gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap {
    height: 50px;
}

    .gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="input"] {
        height: 50px;
        border: 0px;
        border-radius: 0px;
    }

    .gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="right-icon"] {
        border: 0px;
        border-radius: 0px;
        width: 43px;
        background-color: #fff;
    }

        .gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-datepicker-bootstrap [role="right-icon"] .material-icons {
            top: 12px;
            left: 10px;
        }

.gj-grid-bootstrap-4 tbody tr td[data-mode="edit"] .gj-checkbox-bootstrap {
    display: inline-block;
    padding-top: 15px;
    height: 42px;
}

.gj-grid-md thead tr[data-role="filter"] th {
    border-top: 1px solid rgba(0,0,0,.12);
}

div.gj-grid-wrapper div.gj-grid-bootstrap-toolbar {
    background-color: #f5f5f5;
    padding: 8px;
    font-weight: bold;
    border: 1px solid #ddd;
}

div.gj-grid-wrapper div.gj-grid-bootstrap-4-toolbar {
    background-color: #f5f5f5;
    padding: 12px;
    font-weight: bold;
    border: 1px solid #ddd;
}

div.gj-grid-wrapper div.gj-grid-md-toolbar {
    font-weight: bold;
    font-size: 24px;
    font-family: "Helvetica","Arial",sans-serif;
    background-color: rgb(255, 255, 255);
    border-top: 1px solid rgba(0,0,0,.12);
    border-left: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
    border-bottom: 0px;
    border-collapse: collapse;
    padding: 0 18px 0px 18px;
    line-height: 56px;
}

table.gj-grid-scrollable tbody {
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

/* Material Design */
table.gj-grid-md.gj-grid-scrollable {
    border-bottom: 0px;
}

    table.gj-grid-md.gj-grid-scrollable tbody {
        border-right: 1px solid rgba(0,0,0,.12);
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

    table.gj-grid-md.gj-grid-scrollable tfoot {
        border-bottom: 1px solid rgba(0,0,0,.12);
    }

/* Bootstrap 3 */
table.gj-grid-bootstrap.gj-grid-scrollable {
    border-bottom: 0px;
}

    table.gj-grid-bootstrap.gj-grid-scrollable tbody {
        border-right: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
    }

        table.gj-grid-bootstrap.gj-grid-scrollable tbody tr[data-role="row"]:first-child td {
            border-top: 0px;
        }

        table.gj-grid-bootstrap.gj-grid-scrollable tbody tr[data-role="row"] td:first-child {
            border-left: 0px;
        }

        table.gj-grid-bootstrap.gj-grid-scrollable tbody tr[data-role="row"] td:last-child {
            border-right: 0px;
        }

    table.gj-grid-bootstrap.gj-grid-scrollable tfoot {
        border-bottom: 1px solid #ddd;
    }

ul.gj-list li [data-role="spacer"] {
    display: table-cell;
}

ul.gj-list li [data-role="expander"] {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
}

[data-type="tree"] ul li [data-role="expander"].gj-tree-material-icons-expander {
    width: 24px;
}

[data-type="tree"] ul li [data-role="expander"].gj-tree-font-awesome-expander {
    width: 24px;
}

[data-type="tree"] ul li [data-role="expander"].gj-tree-glyphicons-expander {
    width: 24px;
}

    [data-type="tree"] ul li [data-role="expander"].gj-tree-glyphicons-expander .glyphicon {
        top: 4px;
        height: 24px;
    }

/* Bootstrap Theme */
[data-type="tree"] ul.gj-list-bootstrap li {
    border: 0px;
}

.gj-tree-bootstrap-border ul.gj-list-bootstrap li {
    border: 1px solid #ddd;
}

    .gj-tree-bootstrap-border ul.gj-list-bootstrap li ul.gj-list-bootstrap li {
        border-left: 0px;
        border-right: 0px;
    }

        .gj-tree-bootstrap-border ul.gj-list-bootstrap li ul.gj-list-bootstrap li:first-child {
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
        }

        .gj-tree-bootstrap-border ul.gj-list-bootstrap li ul.gj-list-bootstrap li:last-child {
            border-bottom: 0px;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
        }

.gj-tree-bootstrap-4 ul.gj-list-bootstrap li ul.gj-list-bootstrap {
    width: 100%;
}

ul.gj-list-bootstrap li [data-role="expander"].gj-tree-material-icons-expander {
    padding-top: 6px;
}

/* Material Design Theme */
.gj-tree-md-border ul.gj-list-md li {
    border: 1px solid rgba(0,0,0,.87);
    margin-bottom: -1px;
}

    .gj-tree-md-border ul.gj-list-md li ul.gj-list-md li {
        border-left: 0px;
        border-right: 0px;
    }

        .gj-tree-md-border ul.gj-list-md li ul.gj-list-md li:last-child {
            border-bottom: 0px;
        }

.gj-tree-drop-above {
    border-top: 1px solid #000;
}

.gj-tree-drop-below {
    border-bottom: 1px solid #000;
}

.gj-tree-drag-el {
    padding: 0px;
    margin: 0px;
}

    .gj-tree-drag-el li {
        padding: 0px;
        margin: 0px;
    }

    .gj-tree-drag-el [data-role="wrapper"] {
        cursor: move;
        display: table;
    }

    .gj-tree-drag-el [data-role="indicator"] {
        width: 14px;
        padding: 0px 3px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }

.gj-tree-bootstrap-drag-el [data-role="indicator"] {
    width: 24px;
    height: 24px;
    padding: 0px;
}

.gj-tree-mdl-drag-el [data-role="indicator"] {
    width: 24px;
    height: 24px;
    padding: 0px;
}
/* Bootstrap */
.gj-checkbox-bootstrap {
    min-width: 0;
    font-size: 0;
    font-weight: normal;
    margin: 0px;
    text-align: center;
    width: 18px;
    height: 18px;
    position: relative;
    display: inline;
}

    .gj-checkbox-bootstrap input[type="checkbox"] {
        display: none;
        margin-bottom: -12px;
    }

    .gj-checkbox-bootstrap span {
        background: #fff;
        display: block;
        content: " ";
        width: 18px;
        height: 18px;
        line-height: 11px;
        font-size: 11px;
        padding: 2px;
        /*margin-right: 4px;*/
        color: #555555;
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        transition: box-shadow 0.2s linear, border-color 0.2s linear;
        cursor: pointer;
    }

    .gj-checkbox-bootstrap input[type="checkbox"]:focus + span:before {
        outline: 0;
        box-shadow: 0 0 0 0 #66afe9, 0 0 6px rgba(102, 175, 233, .6);
        border-color: #66afe9;
    }

    .gj-checkbox-bootstrap input[type="checkbox"][disabled] + span {
        opacity: 0.6;
        cursor: not-allowed;
    }

        .gj-checkbox-bootstrap input[type="checkbox"][disabled] + span:before {
            background: #eee;
            border: 1px solid #ccc;
            color: #888;
        }

/* Material Design */
.gj-checkbox-md {
    min-width: 0;
    font-size: 0;
    font-weight: normal;
    margin: 0px;
    text-align: center;
    width: 16px;
    height: 16px;
    position: relative;
}

    .gj-checkbox-md input[type="checkbox"] {
        display: none;
        margin-bottom: -12px;
    }

    .gj-checkbox-md span {
        display: inline-block;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        margin: 0;
        cursor: pointer;
        overflow: hidden;
        border: 2px solid #212121;
        border-radius: 2px;
        z-index: 2;
    }

    .gj-checkbox-md input[type="checkbox"]:checked + span {
        border: 2px solid #9E9E9E;
    }

        .gj-checkbox-md input[type="checkbox"]:checked + span:after {
            color: #FFF;
            background-color: #9E9E9E;
            position: absolute;
            left: 1px;
            top: -15px;
        }

    .gj-checkbox-md input[type="checkbox"]:indeterminate + span {
        border: 2px solid #9E9E9E;
    }

        .gj-checkbox-md input[type="checkbox"]:indeterminate + span:after {
            color: #FFF;
            background-color: #9E9E9E;
            position: absolute;
            left: 1px;
            top: -15px;
        }

    .gj-checkbox-md input[type="checkbox"][disabled] + span {
        background-color: #212121;
        border: 2px solid #212121;
    }

        .gj-checkbox-md input[type="checkbox"][disabled] + span:after {
            background-color: #212121;
        }

/* Material Icons */
.gj-checkbox-material-icons input[type="checkbox"]:checked + span:after {
    content: "\E876";
    font-size: 14px;
    font-weight: bold;
    white-space: pre;
}

.gj-checkbox-material-icons input[type="checkbox"]:indeterminate + span:after {
    content: "\E15B";
    font-size: 14px;
    font-weight: bold;
    white-space: pre;
}

/* Glyphicons */
.gj-checkbox-glyphicons input[type="checkbox"]:checked + span:after {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\e013 ";
}

.gj-checkbox-glyphicons input[type="checkbox"]:indeterminate + span:after {
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    content: "\2212 ";
    padding-right: 1px;
}

/* Bootstrap and Material Design */
.gj-checkbox-bootstrap.gj-checkbox-material-icons input[type="checkbox"]:checked + span:after {
    font-size: 11px;
}

.gj-checkbox-bootstrap.gj-checkbox-material-icons input[type="checkbox"]:indeterminate + span:after {
    font-size: 11px;
}
/* Material Design */

.gj-editor-md {
    padding: 7px;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    border: 1px solid rgba(158,158,158,.2);
}

    .gj-editor-md [data-role="toolbar"] {
        margin-bottom: 7px;
    }

    .gj-editor-md div[data-role="body"] {
        border: 1px solid rgba(158,158,158,.2);
        outline: 0px solid transparent;
    }

    .gj-editor-md p {
        margin: 0;
        padding: 0;
    }

    .gj-editor-md blockquote {
        font-size: 14px;
    }

/* Bootstrap */
.gj-editor-bootstrap {
    padding: 7px;
    border: 1px solid #eceeef;
}

    .gj-editor-bootstrap [data-role="toolbar"] {
        margin-bottom: 7px;
    }

        .gj-editor-bootstrap [data-role="toolbar"] .btn-group {
            margin-right: 10px;
        }

    .gj-editor-bootstrap div[data-role="body"] {
        border: 1px solid #eceeef;
        outline: 0px solid transparent;
    }

    .gj-editor-bootstrap p {
        margin: 0;
        padding: 0;
    }

    .gj-editor-bootstrap blockquote {
        font-size: 14px;
    }

.gj-dropdown {
    position: relative;
    border-collapse: separate;
}

    .gj-dropdown [role="presenter"] {
        display: table;
        cursor: pointer;
        /*width: 100%;*/
        outline: none;
    }

        .gj-dropdown [role="presenter"] [role="display"] {
            display: table-cell;
            text-align: left;
        }

        .gj-dropdown [role="presenter"] [role="expander"] {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

/* Material Design */
.gj-dropdown-md [role="presenter"] {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    color: rgba(0,0,0,.87);
    padding: 0px;
    border: 0px;
    background: transparent;
}

    .gj-dropdown-md [role="presenter"] [role="display"] {
        padding: 8px 0px;
        /*width: 100%;*/
    }

/*.gj-dropdown-md [role="presenter"] [role="expander"] {
    width: 24px;
    height: 24px;
}*/

.gj-dropdown-list-md {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #f5f5f5;
    color: #000;
    margin: 0px;
    z-index: 4;
}

    .gj-dropdown-list-md li:hover, .gj-dropdown-list-md li.active {
        background-color: #eee;
    }

/* Bootstrap */
.gj-dropdown-bootstrap [role="presenter"] [role="display"] {
    padding-right: 5px;
    /*width: 100%;*/
}

.gj-dropdown-bootstrap [role="presenter"] [role="expander"] {
    padding-left: 5px;
}

.gj-dropdown-bootstrap-3 [role="presenter"] [role="expander"].gj-dropdown-expander-mi .material-icons {
    top: 5px;
    right: 10px;
    position: absolute;
}

.gj-dropdown-bootstrap-4 [role="presenter"] [role="expander"].gj-dropdown-expander-mi .material-icons {
    top: 7px;
    right: 10px;
    position: absolute;
}

.gj-dropdown-list-bootstrap {
    position: absolute;
    top: 32px;
    left: 0px;
    margin: 0px;
    z-index: 4;
}

.gj-datepicker {
    position: relative;
    display: table;
}

    .gj-datepicker [role="input"] {
        display: table-cell;
        width: 100%;
    }

        .gj-datepicker [role="input"]::-ms-clear {
            display: none;
        }

    .gj-datepicker [role="right-icon"] {
        cursor: pointer;
        display: table-cell;
    }

.gj-calendar {
    position: absolute;
    z-index: 4;
}

    .gj-calendar table tr[role="month-manager"] th {
        cursor: pointer;
    }

        .gj-calendar table tr[role="month-manager"] th div[role="month"] {
            width: 200px;
            text-align: center;
        }


/* Material Design */
.gj-datepicker-md {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    color: rgba(0,0,0,.87);
}

.gj-calendar-md {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 1;
    color: rgba(0,0,0,.87);
    background-color: #FFFFFF;
}

.gj-datepicker-md [role="right-icon"] {
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.gj-calendar-md {
    border: 1px solid #E0E0E0;
}

    .gj-calendar-md table tr[role="month-manager"] th div i.material-icons {
        position: absolute;
        top: 8px;
        left: 8px;
    }

    .gj-calendar-md table tr td div,
    .gj-calendar-md table tr th div {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        font-size: 13px;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    .gj-calendar-md table tr td.gj-cursor-pointer div:hover {
        background: #EEEEEE;
        border-radius: 50%;
    }

    .gj-calendar-md table tr td[type="today"] div {
        color: #1976D2;
    }

    .gj-calendar-md table tr td[type="selected"] div {
        color: #FFFFFF;
        background: #1976D2;
        border-radius: 50%;
    }

    .gj-calendar-md table tr td[type="other-month"] div,
    .gj-calendar-md table tr td.disabled div {
        color: #BDBDBD;
    }

/* Bootstrap */
.gj-datepicker-bootstrap span[role="right-icon"].input-group-addon {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px;
    position: relative;
    min-width: 34px;
}

    .gj-datepicker-bootstrap span[role="right-icon"].input-group-addon .material-icons {
        position: absolute;
        top: 7px;
        left: 7px;
    }

.gj-calendar-bootstrap {
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    padding: 4px;
    background-color: #FFFFFF;
}

    .gj-calendar-bootstrap table tr td div,
    .gj-calendar-bootstrap table tr th div {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        vertical-align: middle;
        position: relative;
    }

    .gj-calendar-bootstrap table tr td[type="today"] div {
        color: #204d74;
        font-weight: bold;
    }

    .gj-calendar-bootstrap table tr td[type="selected"] div {
        color: #fff;
        background-color: #204d74;
        border-color: #122b40;
        border-radius: 4px;
    }

    .gj-calendar-bootstrap table tr td[type="other-month"] div {
        color: #777;
    }

.gj-cursor-pointer i {
    color: #999 !important;
}

.content-module-section .table-responsive i {
    color: currentColor !important;
}
