.clearfix{display:block;clear:both;float:none;}
body{display:block;margin:0;padding:0;font-family:'Roboto', sans-serif;}

nav{display:block;background:#f2f2f2;padding:25px;}
nav h2{display:block;float:left;color:#2b2b2b;text-decoration:none;margin:0;padding:0;}
nav ul{display:block;float:right;list-style:none;margin:0;padding:0;margin-top:5px;}
nav ul li{display:block;float:left;margin-left:20px;}
nav ul li a{color:#5ba9e2;text-decoration:none;}
nav ul li a:hover{text-decoration:underline;}

.video-back{display:block;padding:100px 0px;text-align:center;}
.video-back h1{display:block;text-align:center;color:#fff;text-shadow:2px 2px 4px #000;font-size:50px;}
.video-back p{display:block;color:#fff;text-shadow:2px 2px 1px #000;margin:0px;padding:0px;margin-bottom:20px;}
.video-back img{width:150px;}

.main-heading{text-align: center;margin: 50px auto;font-size: 70px;}
.main-para{margin: 10px 100px;text-align: center; font-size: 20px;}

