﻿@charset "utf-8";
/* CSS Document */

@import url('../../fonts/fonts.css');

* {margin: 0 auto;padding: 0;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {-webkit-box-shadow: 0 0 0 30px white inset !important;-webkit-text-fill-color: #232222 !important;font-family: "robotoregular",Helvetica,Arial,sans-serif !important;transition: background-color 5000s ease-in-out 0s !important;}
html {position: relative;min-height: 100%;width: 100%;}
body {background: #fff;font-family: Arial, Helvetica, sans-serif !important;-o-user-select: none;-ms-user-select: none;user-select: none;-moz-user-select: none;-webkit-user-select: none;visibility: visible;}
a {border: 0 !important;outline: 0 !important}
#main {width: 100%;margin: 0 auto;padding: 0;overflow-x: hidden;}
a {outline: none;border: none}
a:hover {outline: none !important;border: none !important;text-decoration: none !important;outline: none !important}
.logo {margin: 80px auto 50px auto;}
.navbar-brand .logo {position: relative;margin: -10px auto;}
.navbar-brand label {font-weight: normal !important;color: #232222 !important}
#ColAlign {text-align: right;}
.report-heder-section .fa {color: #FFF;}
.logo-m {position: relative;top: -12px;}
.IdDyColor{color:#fff !important;font-weight:bold;}
.report-content {margin-top: 5px !important;padding: 0px;}
/*img {border:0px;width:auto; display:block; height:100%}*/
#ModalINVMail input[type = text], #ModalINVMail select, #ModalINVMail textarea {border-radius: 7px;border: 1px solid #8c9093;color: #232222;}
#ModalINVMail input[type = text]:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128, 128, 1);background: #fff;}
#ModalINVMail select:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128, 128, 1);background: #fff;}
#ModalINVMail textarea:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128, 128, 1);background: #fff;}
#ModalINVMail select {background: none;color: #232222;}
#myModalBTPaymentTerminal #tbl_btDyms i{margin-left:9px;}
.button-footer label {margin-bottom: 0px;}
#lbl-title{background:#ff7276 !important;color:#f2f2f2}
#taxRtl{position: relative;top: -19px;right: -96px;}
/*.navbar-default{background:#8C9093;  border:0px; border-radius:0px;border-bottom:1px solid #DDD}
.navbar-brand{ color:#6a6c6f !important; font-size:25px !important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-style:normal; font-variant:normal; font-weight:normal; line-height:normal; text-shadow:#4f6478 0 1px 5px}
.user{padding:0px; margin:5px 0px 0px -15px; position:relative;right:-12px}*/
/*.user a{color:#6a6c6f !important;padding-right:0px !important;}*/
.navbar-default {background: none !important;border: none !important;margin-bottom: 0px;border-radius: 0 !important;}
.navbar-default .navbar-brand {color: #232222 !important; /*margin-left:-16px !important;*/position: relative !important;top: 1px !important}
.navbar-nav .btn-block {position: relative;top: 11px !important;padding: 6px 10px 6px 10px;}
.modalUP {position: fixed;z-index: 9999;height: 100%;width: 100%;top: 70px;left: 20%;}
/* #IMG1{position:relative;top:-5px;left:10px} */
/*.header-section{ display:block;width:100%;padding:1.5px 0px;border-bottom: 1px solid #d9e3e8;background: linear-gradient(to right,#ff7276,#8C9093);}*/
.header-section {display: block;width: 100%;padding: 1.5px 0px; /*background:#322222*/}
.header-section h1 {font-size: 240%;color: #000;font-family: "Conv_seguisbi";text-align: left;margin: 0 auto;letter-spacing: 2px;position: relative;top: -3px; padding-left: 24px;}
.header-section i {position: relative;z-index: 999; /*right:12px;*/font-size: 30px;cursor: pointer;padding: 0;}
.header-section img {position: relative;z-index: 999; /*right:12px;*/font-size: 30px;cursor: pointer;padding: 0;}
.header-panel {display: inline-block;color: #000;margin: 0px 0;width: 100%;padding: 8px 0px 0px 0px;position: relative;background: #fff !important;}
.header-panel a {outline: none;border: none;color: #FFF;text-decoration: none;}
#IMG1 {min-width: 50px;height: 50px;margin-left: 24px;}
#btnrecDele {color:#232222;}
#legPSettings {background: #fff;position: absolute;left: 17px;padding: 8px;top: -10px;}
.open > .dropdown-menu {display: block;background: #fff;border: 2px solid #8c9093;}
#rpForm {color: #232222 !important;}
.Report-logo img { margin-left: 0px !important;}
#lblName {color: #000;position: relative;top: 10px;}
#Settings, #offSet, #helpset {width: 30px;height: 30px;top: 8px !important;right: 45px;position: relative;margin: 0px 0px 0px 11px;}
#txtItemScan {background: #fff !important;color: #232222 !important}
#linkuploadPath {background: #ff7276 !important;color: #fff !important;border-color: #8c9093; box-shadow: none;border-color: #ff7276 !important;left: 20px;height: 46px;}
#linkuploadPath i {color:#fff !important;}
#linkDownloadPath i {color:#fff !important;}
#lblUpl,#lblDnl {background: #ff7276 !important;color: #fff !important;border-color: #8c9093; box-shadow: none;border-color: #ff7276 !important;}
#myModalpayFinal .modal-footer {background: #fff;}
.profile-pic img {width: 50px;height: 50px;}
.header-panel .right-icon-section {margin: 0 auto;padding: 0px;position: relative; right: -17px;}
.header-panel .right-icon-section a {right: 5px;position: relative;}
.header-panel .right-icon-section small {margin: 20px;position: relative;font-size: 15px;}
.header-panel .right-icon-section small i {position: relative;top: 1px;font-size: 122%;left: 0px;padding: 0px 5px 0px 10px;}
.header-panel .right-icon-section small img {position: relative;top: 1px;left: 25px;padding: 0px 0px 0px 0px;border-radius:8px 8px 8px 8px}
.header-panel .right-icon-section i {font-size: 30px;color: #ff7276;text-align: center;top: 5px;padding: 4px 12px;}
.header-panel .right-icon-section img { top: 5px !important;}
.header-panel .right-icon-section .btn {position: relative;bottom: 2px;margin: 0px auto;padding-right: 1px;padding-left: 0px;right: 6px;border: none;outline: none;background: none;box-shadow: none;-webkit-box-shadow: none;}
.header-panel .right-icon-section input[type=submit] {top: 1px !important;}
.cropped {object-fit: cover; border-radius: 0%;width: 30px !important;height: 30px !important; background: #FFF !important;}
.right-section {margin: 0px auto;padding: 0px; position: relative;right: 15px;}
.right-section i {font-size: 100% !important; color: #232222;text-align: center;padding: 0px;line-height: 0px;vertical-align: bottom;}
#div_grid {margin: 10px auto;}
#tbldiv th, #div_grid th {font-size: 90% !important; text-shadow: none;color: #232222 !important; border-bottom: 0px !important;border-color: #8c9093;}
#tbldiv td, #div_grid td { color: #232222 !important; }
#INVLISlblTitle{color:#fff !important}
#INVLISlblDate{color:#fff !important}
#lblTitleRv{color:#fff !important}
#lbl_page,#lbl_invPageOf{color:#fff !important}
.tt-table div.tt-parent div.content {color: #232222 !important;padding: 0px 6px !important;font-size: 18px !important;background: none !important;}
.header-panel .right-icon-section .dropdown-menu li a {color: #232222; right: 0 !important}
.header-panel .right-icon-section .dropdown-menu li a:horizontal {color: #FFF;}
.dropdown-submenu {position: relative;}
.dropdown-submenu > .dropdown-menu {top: 0;left: -100%;-webkit-border-radius: 6px 0px 0px 6px;-moz-border-radius: 6px 0px 0px 6px; border-radius: 6px 0px 0px 6px;  content: none !important;background: #fff;}
.dropdown-submenu:hover > .dropdown-menu {display: block;}
.dropdown-submenu > a:after {display: block;content: " "; float: right;width: 0; height: 0; border-color: transparent; border-style: solid; border-width: 5px 0px 5px 5px; border-left-color: #232222;top: 8px;right: 15px; position: absolute;}
.dropdown-submenu:hover > a:after {border-left-color: #232222;}
.dropdown-submenu.pull-left {float: none;}
.dropdown-submenu > .dropdown-menu li a .btn {width: 100% !important; text-align: left !important;background: none !important; padding-left: 12px;}
.dropdown-submenu .dropdown-menu li a .btn.active, .dropdown-menu li a .btn:active { background-image: none; outline: 0;-webkit-box-shadow: none;box-shadow: none}
.dropdown-submenu .dropdown-menu li a {right: 0 !important;}
#ModalSettingsPopup .modal-footer {background: #fff !important;}
#ModalDualPopup .dvlege {background: #fff;position: absolute;left: 17px;padding: 8px;top: -10px;color: #232222;}
.table-bordered {border: 1px solid #8c9093 !important;border-top-right-radius: 15px;border-top-left-radius: 15px;background: #fff !important;}
#myItemSearch .modal-footer .btn-default {background: #ff7276 !important;color: #fff !important;border-color: #ff7276;}
.dropdown-submenu:hover > a:after {border-left-color: #FFF !important;}
/* Hover tooltips */
.field-tip {position: relative;}
.field-tip .tip-content {position: absolute;right: 9999px;width: 10px;margin-right: 190px;padding: 12px;color: #fff;border: 2px solid #FFF;border-radius: 5px;}
.field-tip .tip-content:before {content: ' '; position: absolute; top: 62%; right: -10px; width: 0; height: 10px; margin-top: -8px; border: 4px solid transparent; border-left-color: #232222}
.field-tip:hover .tip-content { right: -20px;opacity: 1; }
.DatePicker_Icon {left: auto !important;right: 0px !important; position: absolute !important; top: 4px !important;}
.DatePicker td.dp_selected, .DatePicker td.dp_current {
background: #ff7276 !important;
color: #FFF !important;
border-radius: 50%;
}

.DatePicker td.dp_current:hover {
background: #ff7276 !important
}

.DatePicker td.dp_selected:hover {
background: #ff7276 !important
}
/*.DatePicker_Icon_Inside{position:relative !important;top:-34px !important;}*/

.no-border {
border-left: 0px !important
}

.right-menu {
position: relative;
right: 15px
}

.right-menu ul li {
margin: 0px auto;
padding: 0px;
padding: 6px 0px;
position: relative; /*border-left:1px solid #ddc0fd;*/
}

.right-menu ul li:hover {
background: #8C9093;
}

.right-menu ul li:first-child {
border-left: 0;
border-right: 0px;
}

.user i {
height: 15px;
font-size: 1em;
padding-left: 5px;
padding-right: 0px
}

.right-menu ul li::before {
content: '';
position: absolute;
height: 30px;
top: 18px;
border-right: 2px solid #ddc0fd;
}

.right-menu ul li:first-child::before {
border-right: 0px;
}

.right-menu ul li a {
color: #FFF !important;
padding-right: 0px
}

.right-menu ul li label {
padding: 0px 8px
}

.right-menu ul li::after {
content: '';
position: absolute;
height: 30px;
top: 18px;
border-right: 1px solid rgba(255,255,255,0.20);
}

.panel-section {
margin: 5px auto;
padding: 0px;
background: #FFF;
border: 2px solid #EEE;
list-style: none;
line-height: 50px;
padding: 0px;
margin: 4px auto;
height: 150px
}

.panel-section .round {
width: 56px;
height: 56px;
line-height: 56px;
text-align: center;
opacity: 0.2;
color: #FFF;
float: right;
margin: 20px 15px;
}

.panel-section .round i {
font-size: 56px;
}

.panel-section .status-title {
color: #FFF;
font-size: 15px;
text-align: left;
padding-left: 12px;
}



.status-progressbar {
height: 2px;
background: rgba(0,0,0,0.2);
}

.progressbar {
float: left;
height: 100%;
font-size: 12px;
line-height: 2px;
color: #fff;
text-align: center;
background: #FFF;
-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
-webkit-transition: width .6s ease;
-o-transition: width .6s ease;
transition: width .6s ease;
height: 2px;
width: 70.1%
}


.list-group li {
list-style: none
}

.content-header-stock {
background: #f5f7fa;
padding: 8px;
height: 35px;
border: 1px solid #ccced0;
border-bottom: 0px;
border-radius: 4px 4px 0px 0px;
}

.content-header-stock h1 {
padding: 0px;
font-size: 16px;
color: #9d9fa2;
margin: 4px auto;
line-height: 12px;
margin-left: -12px
}

.ht-text {
background: #FFF;
padding: 5px 4px;
border-radius: 10px 10px 0px 0px;
box-sizing: border-box;
border: 1px solid #8c9093;
border-bottom: 0px;
height: 35px;
}

.ht-text h1 {
font-size: 16px;
color: #232222;
margin: 4px auto; /*line-height:12px;*/
}

.ht-text label {
margin: -3px auto;
color: #232222;
font-family: "Arial",Helvetica, sans-serif !important;
font-weight: normal
}

.table-section {
height: auto;
}

.table-section table {
margin: 0px auto 0px auto;
border: 0px;
background: #ff7276;
}

.table-section .thead-inverse {
background: #ff7276;
}

.left-search table, .cart-input table {
position: relative;
}

.left-search table th, .cart-input table td {
max-width: 120px;
line-height: 25px !important;
margin: 0px;
overflow: hidden !important;
text-overflow: ellipsis !important;
white-space: nowrap;
padding-left: 8px !important;
color: #232222;
vertical-align: middle !important;
text-align: left;
font-size: 12px !important;
padding: 5px
}

.left-search table th {
color: #FFF
}

.left-search table th:nth-child(2), .left-search table td:nth-child(2) {
width: 194px;
text-align: left
}
/* .left-search table th:nth-child(2),.left-search table td:nth-child(2){width:109px;text-align:left} */
.left-search table th:nth-child(3), .left-search table td:nth-child(3) {
width: 110px;
text-align: right
}

.left-search table th:nth-child(4), .left-search table td:nth-child(4), .left-search table th:nth-child(10), .left-search table td:nth-child(10) {
text-align: right;
width: 110px
}

.left-search table th:nth-child(14), .left-search table td:nth-child(14) {
width: 175px;
text-align: center
}

#liQtyM, #liDisM, #liPriceM {
background: #ff7276;
color: #FFF;
border: 1px solid #FF7276 !important
}
/*.ht-text {
background: #fff;
padding: 5px 4px;
border-radius: 10px 10px 0px 0px;
box-sizing: border-box;
border: 1px solid #8c9093;
height: 35px;
}

.ht-text h1 {
font-size: 16px;
color: #232222;
margin: 4px auto; /*line-height:12px;
}
*/
/* .ht-text label {
margin: -3px auto;
color: #232222;
font-family: "Arial",Helvetica, sans-serif !important;
font-weight: normal
}*/

/*.table-section {
height: auto;
}

.table-section table {
margin: 0px auto 0px auto;
border: 0px;
background: #ff7276;
}

.table-section .thead-inverse {
background: #ff7276;
border: 1px solid #8c9093 !important
}

.left-search table, .cart-input table {
position: relative;
}

/*.left-search table th, .cart-input table td {
background: #ff7272;
border: 0px solid #8c9193;
max-width: 120px;
line-height: 25px !important;
margin: 0px;
overflow: hidden !important;
text-overflow: ellipsis !important;
white-space: nowrap;
padding-left: 8px !important;
color: #f2f2f2;
vertical-align: middle !important;
text-align: left;
font-size: 12px !important;
padding: 5px
}

.left-search table th {
color: #FFF
}

.left-search table th:nth-child(2), .left-search table td:nth-child(2) {
width: 194px;
text-align: left;
border: none !important
}
/* .left-search table th:nth-child(2),.left-search table td:nth-child(2){width:109px;text-align:left} */
/*  .left-search table th:nth-child(3), .left-search table td:nth-child(3) {
width: 110px;
text-align: right;
border: none !important
}

.left-search table th:nth-child(4), .left-search table td:nth-child(4), .left-search table th:nth-child(10), .left-search table td:nth-child(10) {
text-align: right;
width: 110px;
border: none !important
}

.left-search table th:nth-child(14), .left-search table td:nth-child(14) {
width: 175px;
text-align: center;
border: none !important;
}*/

.tdClor {
background: #fff !important;
color: #000 !important;
border: none !important;
}

#liQtyM, #liDisM, #liPriceM {
background: #ff7276 !important;
color: #FFF !important;
border: 1px solid #FF7276 !important
}
/*.left-search table .first-th{max-width:38px}*/
/*.cart-input table td:first-child{min-width:38px !important;/*padding-left:15px !important}
.cart-input table td:first-child img{margin-left:1px}

.left-search table td:nth-child(2){min-width:120px}
.left-search table td:nth-child(3){min-width:114px}
.left-search table td:nth-child(5){min-width:130px}
.left-search table td:nth-child(6){min-width:130px}
.left-search table td:nth-child(7){min-width:130px}
.left-search table td:nth-child(8){min-width:130px}
.left-search table td:nth-child(9){min-width:130px}
.left-search table td:nth-child(10){min-width:82px}
.left-search table td:nth-child(14){min-width:80px}*/

/*.left-panel table .first-th{width:100%;max-width:8%}
.left-panel table td{width:120px !important;line-height:12px;padding:5px; margin:0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap !important;}
.left-panel table th {min-width:inherit !important;width: 100%;font-weight:normal !important;background:#8C9093;color:#FFF;border:0px !important;border-right:1px solid #2288d1 !important;}
.left-panel table thead {display: inline-flex;width: 100%;}
.left-panel table tr {display: inherit;width: 100%;}*/

/*.table-section .thead-inverse td:nth-child(2){}
.table-section .thead-inverse td:nth-child(3){}
.table-section .thead-inverse td:nth-child(4){}
.table-section .thead-inverse td:nth-child(5){}*/


/*.table-section .thead-inverse th:nth-child(2){width:40% !important;}
.table-section .thead-inverse th:nth-child(3){position:relative;left:5px;}
.table-section .thead-inverse th:nth-child(4){position:relative;right:44px;}
.table-section .thead-inverse th:nth-child(5){position:relative;right:75px}*/

/*.table-section .thead-inverse th:first-child{width:auto !important}*/

/*.table-filedset td:nth-child(2){width:40% !important;}*/
/*#itemCarttable td{border-top:0px !important;color:#232222;width:fit-content;min-width:80px}*/


/*.table-section .thead-inverse th:nth-child(2){}
.table-section .thead-inverse th:nth-child(3){position:relative;left:93px;}
.table-section .thead-inverse th:nth-child(4){position:relative;right:0px;}
.table-section .thead-inverse th:nth-child(5){position:relative;right:0px;}

.table-section .thead-inverse th:first-child{width:auto !important}

.table-filedset td:nth-child(2){width:35% !important;}*/
#lbltotitemCw{position:relative;left:-220px;}
#totalitemscw {position: relative;left: -220px;}
.table-section td {color: #9d9fa2;background: #FFF;text-align: center}
.responsive-filedset {display: table-cell;width: 100%;border-top: 1px dashed #7a8086;margin: 10px auto;padding: 10px 0px;}
.Separator-filedset {display: table-cell; width: 100%; margin: 10px auto; padding: 10px 0px;}
.table-section th {color: #FFF;font-weight: normal;border-bottom: 0px !important;}
.table-section h4 {color: #FFF;}
/*.table-section td:first-child{width:50% !important;text-align:left}
.table-section th:first-child{width:50% !important}*/
.themeselect { position: relative; top: 10px;}
.themeselect:hover {border: none; background: none !important; box-shadow: none;}
.themeselect span {text-align: left !important;}
.themeselect a {text-align: left !important;line-height: 0px !important; padding: 10px !important;background: none !important;}
.themeselect a:hover {text-align: left !important;line-height: 0px !important;  padding: 10px !important; border: none;background: none !important;box-shadow: none; color: #232222 !important;}
.themeselect .text {position: relative !important; top: 0px !important; text-align: left !important; padding: 0px 12px !important; background: none !important; }
.left-search, .search-one {padding: 0px 10px 0px 0px;overflow-x: hidden;}
.right-search, .search-two {padding: 0px 0px 0px 10px;overflow-x: hidden;}
.left-search .thead-inverse th {padding: 5px 8px 0px 8px;}
#ModalVoid .modal-footer {background: #fff;}
#ModalVoid label { color: #232222;}
#ModalVoid .modal-title label {color: #fff;}
#ModalVoid #btnCreditClose label, #btnSave label {color: #fff;}
#ModalSettingsPopup .table-list-section ul li {padding-left: 0px;padding-right: 0px;}
.mymodal .modal-dialog {position: fixed;margin: 0px auto;padding: 0px;width: 100%;height: 100%;left: 0px; right: 0px;top: 0px;bottom: 0px;}
/*.modal-content{position: absolute;top: 0px;right:10px;bottom: 0px;left: 10px;}*/
/*.modal-footer {position: absolute;right: 0;bottom: 0;left: 0;}*/

#myItemSearch .modal-footer .btn-default {background: #348cd4;color: #FFF;}
.content-section {height: 100%;border: 1px solid #8c9093; overflow: hidden;}
.content-upload-table {height: 100%;border-top: 1px solid #DDD;overflow: hidden;min-height: 450px;width: 100%;background: #fff !important;}
.content-upload-table table {margin: 20px auto;}
.content-header {background: #fff !important;padding: 8px;height: 51px;border: 0px solid #8c9093;}
.content-header ul li { list-style: none; color: #232222;}
.content-header .dropdown a {color: #FFF;text-decoration: none;outline: none}
.content-header .dropdown li a {color: #232222}
.content-header i {padding-right: 12px;padding-left: 12px;}
.content-header label {padding: 6px 0px;color: #232222;}
.upload-modal {background: none !important;padding: 0px !important;}
.upload-modal a {border: 1px solid #ff7276 !important;padding: 0px 8px;}
.upload-modal i {padding-right: 0px; padding-left: 0px}
#ModalUploadPopup .content-header label {margin-bottom: 0px;}
#ModalUploadPopup .btn-default {background: #ff7276 !important;color: #fff !important;border-color: #8c9093;box-shadow: none;border-color: #ff7276 !important;}
#ModalUploadPopup i {color: #FFF !important;}
#ModalUploadPopup .btn-primary {color: #fff;background-color: #ff7276; border-color: #ff7276;}
.modal-body {background: #fff !important}
.content {overflow: auto;position: relative;width: auto;max-width: 100%;max-height: calc(100vh - 287px);height: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.content-search-items {overflow: auto;position: relative;width: auto;max-width: 100%;max-height: calc(100vh - 250px);height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content-modal-table {overflow: auto;position: relative;width: auto;max-width: 100%; max-height: calc(100vh - 250px);height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content-table { overflow: auto;position: relative; width: auto; max-width: 100%; max-height: calc(100vh - 320px); height: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.content-table-right {overflow: auto; position: relative; width: auto; max-width: 100%;max-height: 100px;height: 100%; -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.content-grid {overflow: auto; position: relative;width: auto; max-width: 100%; max-height: 487px;height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.content-table-inner {overflow: auto;position: relative; width: auto;max-width: 100%; max-height: calc(100vh - 475px);height: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
.content-modal-print {overflow: auto;position: relative;width: auto; max-width: 100%; max-height: calc(100vh - 200px);height: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-bottom: 50px;}
.table-filedset {height: 100%;min-height:375px;border: 1px solid #8c9093;background: #fff}
.content-dashboard {overflow: auto; position: relative; margin: 10px auto; width: auto; max-width: 100%; max-height: calc(100vh - 200px);  height: 100%; /*max-height:620px;*/ -webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
/*.content-posmain{overflow: auto;position: relative;margin: 10px auto;width: auto;max-width: 100%;max-height: calc(100vh - 200px);height:100%;*/ /*max-height:620px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
.content-report {overflow: auto;position: relative; width: auto;max-width: 100%; max-height: calc(100vh - 220px);height: 100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box;}
#myModalprint .modal-body {padding: 0px !important}
body.modal-open {overflow: hidden;}
#main-body { position: fixed !important; position: absolute; top: 0; right: 0;bottom: 0; left: 0;}
.content-body { position: absolute; border: 1px solid #DDD; /*min-height:644px;*/}
.content-panel {position: relative !important; width: auto !important;}
.content-table-modal {overflow: auto;position: relative;width: auto;max-width: 100%;max-height: 600px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
/*.content-modal{overflow: auto;position: relative;margin: 0px auto;width: auto;max-width: 100%;max-height: calc(100vh - 20px) !important; height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
.content-modal-address {overflow: auto;position: relative;margin: 0px auto;width: auto;max-width: 100%;max-height: 160px !important;/*calc(100vh - 300px) !important;*/ height: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#ModalINVMail .content-modal-address {max-height: 380px !important;}
.table-modal {overflow: auto;position: relative;width: auto;  max-width: 100%; max-height: calc(100vh - 190px) !important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box;}
.UPI-section ul {background: #fff;z-index: 1;position: relative;color: #232222;}
.UPI-section ul li {border-radius: 7px;border:1px solid #8c9093 !important;}
.Bhim-pay-input input[type=text] {color:#000;}
.btn-cal {padding: 7px 10px;}
.ui-autocomplete {max-height: 140px !important;height: 100%;overflow: auto !important; border-radius: 0px 0px 4px 4px !important;}
.ui-menu-item { display: block;font-size: 12px; line-height: 20px;}
.ui-widget-content {height: 240px !important; overflow: auto; /*max-width:445px !important;width:100%;*/}
.ui-widget-content a { color: #232222 !important; cursor: pointer;font-family: "Arial",Helvetica, sans-serif !important;font-size: 12px;color: #232222 !important;}
.ui-menu .ui-menu-item {border-top: 0px !important;}
.ui-widget-content a:hover {background: #ff7276 !important; border-radius: 0px !important;color: #FFF !important;}
.search-secn { padding: 0px 6px}
.search-autofill {display: block;}
.search-autofill input[type=text] {width: 100%;height: 31px;color: #232222;padding: 0px 10px;border-radius: 5px 0px 0px 5px;  box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border: 1px solid #DDD;}
.add-icon {position: absolute;right: 0px;bottom: 0px; border: 1px solid #FF7276; background: #ff7276; padding: 3.5px 10px;border-left: 0px; border-radius: 0px 7px 7px 0px; z-index: 9;color: #FFF; margin: 1px;}
.add-icon-search {position: absolute; right: 1px; bottom: 1px;border: 1px solid #FF7276; background: #ff7276;padding: 3.5px 1px;border-left: 0px;border-radius: 0px 7px 7px 0px;z-index: 9;color: #FFF;}
.add-icons-search {position: absolute;right: 0px;bottom: 0px;background: #ff7276;padding: 5.8px 10px;border-left: 0px;border-radius: 0px 7px 7px 0px;z-index: 9;color: #FFF; margin: 1px 1px;}
.search-form { position: relative;}
.search-form:before {content: "\f002";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #232222;font-size: 14px;padding-right: 0.5em;position: absolute;top: 5px; right: 0px;}
.search-form input[type=text] {border-radius: 7px !important;box-shadow: none;border: 1px solid #8c9093;background: #fff;color: #232222;}
.search-section {position: relative;margin: 0px auto}
.search-section input {width: 100%;height: 31px;color: #232222;background: #fff;padding: 0px 10px;border-radius: 7px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;border: 1px solid #8c9093;}
.search-section:before {content: "\f002";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #232222;font-size: 14px;padding-right: 0.5em;position: absolute;top: 5px;right: 0px;}
.search-section input:focus {border: 1px solid #8c9093;border-radius: 10px;outline: none !important;}
.flex-section {padding: 0px 0px}
.btn-search {color: #FFF;}

.search-section input:focus {box-shadow: none !important;border-color: #8c9093 !important;}
/*.left-search{padding:0px 5px 0px 15px}
.right-search{padding:0px 15px 0px 0px}*/
::-webkit-input-placeholder {text-align: left;font-size: 12px;font-weight: normal !important; color: #c0c0c0 !important;font-family: "Arial",Helvetica, sans-serif !important}
::-moz-placeholder {text-align: left;font-size: 12px;font-weight: normal !important;color: #c0c0c0 !important;font-family: "Arial",Helvetica, sans-serif !important}
:-moz-placeholder {text-align: left; font-size: 12px;font-weight: normal !important;color: #c0c0c0 !important;font-family: "Arial",Helvetica, sans-serif !important}
:-ms-input-placeholder {text-align: left;font-size: 12px;font-weight: normal !important;color: #c0c0c0 !important;font-family: "Arial",Helvetica, sans-serif !important}
.scan-text input {width: 50%;box-sizing: border-box;border: 1px solid #c8c8c8;height: 25px;border-radius: 4px;font-size: 16px;background-color: #FFF;padding: 5px 5px 5px 5px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out}
/*.search-secn ul li{ display:inline-block;list-style:none}*/
.search-secn i {color: #9d9fa2;font-size: 15px;border: 1px solid #aeb7bc;padding: 8px;border-radius: 4px}
.search-secn i:hover {color: #9d9fa2;background: #FFF}
.right-section-menu {margin: 0px 0px 12px 0px;padding: 0px 0px;position: relative;}
.right-section-menu .btn .caret {margin-left: 8px;}
.right-section-menu i {padding-right: 2px}
.right-section-menu .btn-primary {background: #ff7276;border: 0px;outline: none;}
.right-section-menu .btn-success {background: #ff7276;border: 0px;outline: none}
.right-section-menu .btn-info {background: #ff7276;border: 0px;outline: none}
.right-section-menu .btn {margin-left: 4px !important;border-radius: 4px !important;border: 1px solid #FF7276 !important;outline: none}
#myModalpayFinal .btn-primary {background: #ff7276 !important;border-color: #ff7276 !important;}
.content-modal-pos h4 { /*padding-left:18px;*/font-family: "Arial",Helvetica, sans-serif !important;color: #232222;font-size: 16px}
.content-modal-pos h4 label {font-weight: normal}
.content-modal-pos .content-header {padding: 8px 16px}
.content-modal-pos .btn-default label {margin-bottom: 0px !important;}
.content-modal-pos .btn-default {border-color: #FF7276 !important;background-color: #FF7276;color: #FFF;}
.flex-section-top {padding: 0px 5px}
.flex-section-top i {font-size: 12px;}
.flex-section-top:last-child {padding: 0px 0px}
.flex-section-top:first-child {padding: 0px 5px 0px 0px}
/*#myModalDrafts .modal-dialog{width:50% !important;margin-top:5%}*/
/*#myModalTenders .modal-dialog{width:50% !important;margin-top:5%}*/
.accordion-panel {margin: -10px auto auto auto;}
.accordion-panel li {display: block}
.accordion-panel .link {min-height: 35px;border-radius: 0px 0px 10px 10px;background: #ff7276;cursor: pointer;display: block;padding: 8px 8px 8px 8px;color: #FFF;font-size: 14px;font-weight: normal;border-bottom: 1px solid #CCC;position: relative;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;text-align: right;position: relative;bottom: 11px}
.accordion-panel li:last-child .link {border-bottom: 0;}
.accordion-panel li i {position: absolute;top: 16px;left: 12px;font-size: 18px;color: #595959;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion-panel li i.fa-chevron-down {left: 12px;right: auto;font-size: 16px;}
.accordion-panel li.open .link {color: #aeb7bc;}
.accordion-panel li.open i {color: #595959;}
.accordion-panel li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.accordion-panel li ul li {display: inline-flex;padding: 0px 20px}
/**
 * Submenu
 -----------------------------*/
.submenu {display: none;background: #FFF;font-size: 14px;padding: 20px;width: 100%}
.submenu li {border-bottom: 1px solid #aeb7bc;}
.submenu a {display: block;text-decoration: none;color: #d9d9d9;padding: 12px;padding-left: 42px;-webkit-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.submenu a:hover {background: #b63b4d;color: #FFF;}
.content-body {padding: 7px;margin: 0 auto;text-align: center;color: #232222;background: #fff;width: 100%; /*min-height:644px*/border-left: 1px solid #8c9093;border-right: 1px solid #8c9093;border-top: 1px solid #8c9093;}
.content-body ul {text-align: left;}
.content-body ul li {list-style: none;display: inline-block;line-height: 23px;background: #fff;padding: 8px;margin: 0px 4px;width: 100%;max-width: 16%;text-align: left;border: 1px solid #8c9093;border-radius: 5px;overflow: hidden;height: 100%;min-height: 182px;white-space: normal;text-overflow: ellipsis;}
.content-body ul li h5 {margin: 0px auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.content-body .item-sec {background: #f1f3f6; /*#f1f3f6*/text-align: center;margin: 5px auto;padding: 25px 10px;border: 1px solid #f1f3f6;}
.content-body .item-sec small {background: #fff !important}
.content-body .item-sec p {line-height: 0px !important}
.content-body ul li:active {background: #ff7276;border: 1px solid #ff7276}
.content-body ul li:active .item-sec {background: #fff;}
.content-body ul li:active h5, .content-body ul li:active small {color: #FFF;}
.content-body ul li:active p {color: #FFF !important}
.content-body ul li:active .item-sec small {color: #232222;}
.content-body ul li:active .item-sec samp {background: #fff !important}
.content-body-item {padding: 2px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
/*.content-body-item small{font-size:11px !important;top:5px; position:relative;padding:5px; color:#595959;font-family:"Arial",Helvetica, sans-serif; text-overflow:ellipsis; white-space:nowrap;background:#f1f3f6 !important;border-radius:5px; }*/
.content-body-item small {font-size: 12px;font-weight: bold;padding: 0px 5px;margin: 0px auto;bottom: -5px;position: relative;color: #232222;font-family: "Arial",Helvetica, sans-serif;text-overflow: ellipsis;white-space: nowrap;border-radius: 2px;}
.content-body-item .item-sec samp {color: #232222;padding: 5px;font-size: 25px;text-align: center;line-height: 34px;vertical-align: text-bottom;text-decoration: none !important;background: none !important;border-radius: 5px;}
.content-body-item {padding: 2px;line-height: 15px;}
.content-body ul li a {text-decoration: none !important}
.calc-section {border-radius: 10px;border: 1px solid #8c9093;padding: 13px 0px;background: #fff;display: flex;list-style: none;margin: 0px auto;color: #FFF;}
.calc-section label {color: #232222;font-size: 12px;margin-top: 16px}
.left-search {padding: 0px 5px 0px 16px;}
.right-search {padding: 0px 16px 0px 5px;}
/*.calc-section input[type=text]{outline:none;border:none;border-radius: 0px;margin:5px auto;padding: 0px 5px; border:0px;background: #FFF; border-bottom: 1px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc}*/
/*.calc-section input[type=text]:focus{outline:none;border:none;border-bottom:1px solid #49a3f1;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal }*/
.calc-section input[type=text], .calc-section input[type=number] {font-size: 12px;border-radius: 0px;margin: 0px auto !important;padding: 0px 5px;border: 0px;background: #fff !important;border-bottom: 1px solid #8c9093;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal;background: white no-repeat;background-size: 0 2px, 100% 1px;background-position: 50% 100%, 50% 100%;transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);margin: 5px auto 0px auto;position: relative;color: #232222;font-weight: normal;}
.calc-section input[type=text]:focus, .calc-section input[type=number]:focus {background-size: 100% 2px, 100% 1px;outline: none !important;box-shadow: none !important;border: 0px !important;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;border-bottom: 1px solid #8c9093 !important;}
/*hr{margin-top:0px;margin-bottom:10px}*/
.price-list {text-align: justify}
.price-list ul {padding: 0px;overflow: auto; }
.price-list ul li h1 {font-size: 18px;margin-top: 0px;background: #348cd4;padding: 8px;color: #FFf; border-radius: 4px}
.price-list ul li {list-style: none;border: 1px solid #DDD;padding: 10px;display: inline-block;width: 100%;max-width: 178px;margin: 2px 2px;border-radius: 5px}
.price-list ul li small {padding: 5px 10px;margin: -15px 0px 0px 0px;font-size: 14px;}
.price-list ul li:active {background: #1bbf2b;color: #FFF;border: 1px solid #1bbf2b}
.price-list ul li:active h1 {color: #232222;background: #FFF;}
.subscription-date span {display: inline-block;padding: 0px 5px;font-weight: normal}
.bt-list-group {text-align: right}
.bt-list-group label {margin-bottom: 0px;font-weight: normal}
.bt-list-group .bt-cancel {background: #FFF;border: 1px solid #CCC;color: #232222}
#btnPay {background: #6c757d}
.form-wrapper .button, .form-wrapper .submit {background-color: #348cd4;display: inline-block;padding: 8px 30px;color: #fff;cursor: pointer;font-size: 14px !important;font-family: "robotoregular",Helvetica,Arial,sans-serif !important;border-radius: 4px}
.cart-input input[type=text] {width: auto;outline: none;border: none;border-radius: 0px;border: 0px;background: #FFF;border-bottom: 2px solid #DDD;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal;color: #aeb7bc}
.cart-input input[type=text]:focus {outline: none;border: none;border-bottom: 1px solid #DDD;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal}
.cal-body {text-align: center}
.cal-body ul li {list-style: none;display: inline-block;background: #fff !important;padding: 11px 0px 11px 0px;margin: 2px auto;width: 100%;max-width: 31%;text-align: center;border: 1px solid #8c9093;border-radius: 5px;color: #232222 !important;cursor: pointer;}
.cal-body ul li:hover {background: #ff7276;color: #FFF}
.cal-body .pay {background: #ff7276;color: #FFF}
.size-large .modal-dialog {width: 98%;height: 100%;margin: 5px auto;padding: 10px 0px;}
.size-large .modal-content {height: auto;min-height: 100%;border-radius: 4px;}
.size-large .modal-footer {position: absolute;right: 0;bottom: 0;left: 0;background: #fff;border-top: 1px solid #8c9093;border-bottom-right-radius: 7px;border-bottom-left-radius: 7px;}
#ModalShortCutPopup {width: 40%;margin: 10% auto !important}
#ModalShortCutPopup .modal-header {background: #8C9093;border-radius: 5px 5px 0px 0px}
#ModalShortCutPopup .modal-footer {border-radius: 0px 0px 10px 10px}
#ModalShortCutPopup .modal-header h4 {font-size: 25px !important;text-align: left;font-family: "Conv_seguisbi" !important;line-height: 30px !important;font-weight: normal !important;color: #FFF;}
#ModalShortCutPopup .table-inner th {background: #8C9093 !important;color: #FFF;font-size: 13px;text-align: left !important}
#ModalShortCutPopup .table-inner td {color: #232222;font-size: 12px;text-align: left !important}
#ModalShortCutPopup .modal-body {padding-top: 10px;padding-bottom: 55px}

/*#ModalShortCutPopup . {
margin: 0 auto !important
}*/

.bootstrap-dialog-title {font-size: 25px !important;text-align: left;font-family: "Conv_seguisbi" !important;line-height: 30px !important;font-weight: normal !important;color: #FFF !important}
.bootstrap-dialog .bootstrap-dialog-message {font-size: 15px !important;color: #232222;font-weight: normal !important;font-family: "Arial",Helvetica, sans-serif !important;}
.modal-section {width: 100%;margin: 0 auto;padding: 0px;}
.data-panel {padding: 0px 30px;margin: 0px auto;}
.cal-panel {margin: 0px auto;padding: 0px 30px 0px 34px;}
.data-details {margin: 15px auto;}
.data-details .btn-default {color: #232222}
.data-table-total .table-data {background: #FFF !important;}
.data-table-total .table-data td {height: 20px !important;padding-top: 0px;padding-bottom: 10px;line-height: 0px}
.liner:after {content: '';width: 0;height: 83%;position: fixed;border-right: 1px solid #9d9fa2;padding: 0 10px;top: 8%;left: 48.4%}
.data-table-total {overflow: auto;position: relative;width: auto;max-width: 100%;max-height: 220px !important;height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.data-table-total .table-section {padding: 0px 20px}
.table-modal table {margin: 0px auto 0px auto;border: 0px; /*background:#FFF*/}
.table-modal .thead-inverse {background: #ff7276;color: #FFF}
.table-modal td {color: #232222;padding: 8px 4px !important}
#itemCustable .thead-inverse td {text-align: right;}
#itemCustable #txtalignCols {text-align: left;}
#myModalTenders .table-modal table {margin: 0px auto 0px auto;border: 2px solid #8c9093;border-bottom: none !important /*background:#FFF*/}
#myModalDrafts .table-modal table {margin: 0px auto 0px auto;border: 1px solid #8c9093; /*background:#FFF*/}
#tbltendertab td {text-align: right !important;padding: 0px 8px !important;left: -1px;border-right: 1px solid #8c9093;border-left: 2px solid #8c9093;border-top: 1px solid #8c9093;border-bottom: 1px solid #8c9093}
#myModalTenders .table-modal table td {background: #fff !important;}
#myModalTenders .table-modal table th {background: #fff !important;}
#tbl_tenderDyms .tdClor {border: 1px solid #8c9093 !important;}
/*#myModalDrafts, .table-modal table th { background: #ff7276 !important;}*/
#myModalDrafts .modal-footer {background: #fff;border-top: 1px solid #8c9093;}
#myModalTenders #thLeft {text-align: left;background: #ff7276 !important;}
#myModalTenders #thright {text-align: right;background: #ff7276 !important;}
.cal-panel .cal-body ul li {width: 23.5%}
.cal-panel label {margin-top: 12px;color: #232222}
.cal-panel input[type=text] {outline: none;border: none;border-radius: 0px;margin: 5px auto;padding: 0px 10px;border-radius: 4px;background: #FFF;border: 1px solid #DDD;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal;color: #aeb7bc;}
.cal-panel input[type=text]:focus {outline: none;border: none;border: 1px solid #DDD;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal}
.card-section-panel {padding: 0px 0px 0px 10px;}
.card-section-panel ul li {list-style: none;display: inline-block;}
.card-section-panel h4 {margin: -10px auto 10px auto}
.card-section-panel .cal-body ul li {background: #ff7276 !important;color: #FFF !important;border: 1px solid #ff7276 !important;padding: 5px 0px 5px 0px;margin: 1px;text-align: center;max-width: 23%;width: 100%;font-size: 15px;line-height: 30px;margin: 2px 10px 0px 0px;}
.btn-sectionsub ul li {list-style: none;display: inline-block;}
.btn-sectionsub .cal-body ul li {width: 100%;background: #ff7276 !important;color: #FFF;border: 11px solid #337ab7;padding: 5px;}
.btn-print {background: #ff7276;border: 0px;padding: 10px 0px 10px 0px;width: 120px !important;line-height: 30px;position: relative;outline: none !important}
.btn-tender {background: #ff7276;border: 0px;padding: 10px 0px 10px 0px;width: 120px !important;line-height: 31px;position: relative;outline: none !important;}
.print-area {margin: 10px auto 0px auto}
.print-area label {color: #FFF;margin: 0px auto}
.btn-tender label {margin-top: 0px !important}
.table-input label {margin-top: 0px}
.calc-section-modal {padding: 20px 40px 0px 25px;background: #FFF;line-height: 0px;}
.calc-section-modal {display: block;list-style: none;margin: 0px auto;color: #FFF;}
.calc-section-modal label {color: #aeb7bc;font-size: 12px;margin-top: 22px;}
.calc-section-modal input[type=text] {outline: none;border: none;border-radius: 0px;margin: 5px auto;padding: 0px 5px;border: 0px;background: #FFF;border-bottom: 2px solid #DDD;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal;color: #aeb7bc}
.calc-section-modal input[type=text]:focus {outline: none;border: none;border-bottom: 1px solid #DDD;border-radius: 0;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;font-weight: normal}
.size-large .modal-title, .cal-panel h4 {color: #232222;font-weight: normal;font-family: Arial, Helvetica, sans-serif;}
#itemCustable td {color: #232222}
#itemCustable .thead-inverse th {padding: 6px 8px;text-align: left;}
#itemCustable .thead-inverse th label {margin: 0px auto;text-align: left}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {background-color: rgba(255,114,118,0.75) !important;width: 4px !important;}
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {background-color: rgba(216, 227, 240, 0.8) !important;}
.mCSB_scrollTools .mCSB_draggerContainer {background-color: rgba(255, 255, 255, 0.1) !important;background-color: transparent !important; /*rgba(216, 227, 240, 0.8)!important;*/}
.mCSB_container {width: 100% !important;}
.mCSB_inside > .mCSB_container {margin-right: 0px !important;}
.mCSB_scrollTools .mCSB_draggerContainer {left: 0px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {width: 8px !important}
.menu {margin: 0px 5px 0px auto; /*position:relative;right:30px;*/}
.menu li {border: 1px solid #FF7276;padding: 0.5px 0px;position: relative;background: #ff7276;color: #FFF !important;}
.menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(4) {border-left: none}
.menu li:first-child {border-radius: 4px 0px 0px 4px;border-right: 0px}
.menu li:last-child {border-radius: 0px 4px 4px 0px;}
.menu li a {padding: 6px 15px;color: #FFF !important;font-size: 110%;}
.menu li a:hover {background: #ff7276 !important;color: #FFF !important;}
.menu .btn-create i, .menu li i {padding-right: 8px;vertical-align: middle;position: relative;bottom: 2px;}
.menu #btnGenerate, .menu #btnPreview {border-right: 1px solid #cac8c8;}
.menu #btnEdit {border-left: 1px solid #cac8c8;border-radius: 4px 0px 0px 4px;}
.menu #btnCancel {border-left: 1px solid #cac8c8;border-radius: 0px 4px 4px 0px;}
.menu #btnDelete {border-right: 0px;}
.menu .btn-create {background: #ff7276; /*padding:5px 10px;*/border-radius: 4px;color: #FFF;outline: none !important;}
.modal-content {border: 0px !important}
.btn {outline: none !important;}
.dropdown-menu > li > a {color: #232222}
/*.dropdown-menu sub-menu {
background: #fff !important;
border: 1px solid #8c9093 !important;
color: #f2f2f2 !important
}*/
/*.status-btn{ position:relative;bottom:3px;}*/
.status-btn i {color: #fff;padding-right: 8px;}
.status-btn button {border-left-color: #ccc !important;border-right-color: #ff7276 !important;font-size: 110%;color: #FFF !important;background: #ff7276;}
.btnclss .dropdown-menu {left: 4px;right: auto}
.btn-upload {border-radius: 4px !important;margin: 0px 0px 0px 5px}
.total-list-value {text-align: right;padding: 0px !important}
.total-list-value li {display: inline-block !important;padding: 0px !important}
/*.search-form{ position:relative;left:16px;}*/
/*--------------------- Grid ---------------------*/
/*.navbar-default{ background:none !important;border:none !important; margin-bottom:10px; border-radius:0 !important;}
.navbar-default .navbar-brand{color:#c0c0c0 !important;}*/
.home-section {background: #fff !important;margin: 20px auto auto auto;padding: 0;text-align: center;padding-bottom: 5px;}
.report-heder-section {background: #ff7276;border-bottom: 1px solid #ff7276;margin: 20px auto auto auto;padding: 0;text-align: center;padding-bottom: 5px;border-radius: 10px 10px 0px 0px;}
.report-heder-section ul li {list-style: none;display: inline-block;border-right: 1px solid #DDD;padding-left: 10px;padding-right: 10px;font-size: 14px}
.report-heder-section ul li input[type=text] {border: 1px solid #DDD;padding-left: 10px}
.report-heder-section ul li:last-child {border-right: 0px}
/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {padding:0px !important; margin:0px auto !important}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:#8C9093;color:#FFF}
.navbar-default li{color:#232222 !important;}*/
.content-module-section {margin: 0px 0px;padding: 20px 35px 10px 35px;background: #fff;border: 1px solid #8c9093;height: 100%;border-radius: 10px;}
.panel-sec {margin: 0px 0px;}
/*.list-icons{position:relative;bottom:3px;left:12px;}*/
.list-icons .dropdown-menu > li > a {color: #232222 !important;}
.list-icons .dropdown-menu > li > a:hover {background: #ff7276;color: #FFF !important;}
.dropdown-menu > li > a:hover {background: #ff7276 !important;color: #FFF !important;}
#divIntuitive {position: relative;padding-left: 5px}
#divIntuitive i {padding-right: 8px;color: #FFF}
#divIntuitive .btn-default {color: #FFF !important;border: 1px solid #ddd !important;background: #ff7276 !important;}
.grpah-icon i {color: #232222;padding-right: 0px !important}
.table-grid {margin: 0px auto;padding: 0px 10px;}
.table-grid th {background: #8C9093;color: #FFF}
.content-module-section .table-responsive table .thead-inverse {background: #ff7276;}
.content-module-section .table-responsive table {text-align: left !important;}
.content-module-section .table-responsive table th {color: #FFF;font-size: 90%;text-shadow: none;-webkit-text-shadow: none;border-bottom: 0px !important}
.content-module-section .table-responsive table th label {margin-bottom: 0px;}
.content-module-section .table-responsive table th input[type=button] {background: none;border: 0px;box-shadow: none;outline: none; /*font-size:14px !important;*/font-size: 80%;font-weight: normal}
.content-module-section .table-responsive table th img {position: relative;top: -1px;}
.content-module-section .table-responsive table td {border: 1px solid #8c9096 !important;color: #232222;background: #fff !important;font-size: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 120px;table-layout: fixed;}
.content-module-section .table-responsive input[type=text] {width: 100%;border: 0px solid #8c9093 !important;background: #fff !important;}
.content-module-section .table-responsive input[type=text]:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1);background: #fafafa;}
/*#tblSummaryGridSub td{padding:0px; vertical-align:middle; line-height:40px;}*/
/*#tblSummaryGridSub td input[type=text]{height:40px;}*/
.Add-Details {width: 100% !important;border: none !important;color: #FFF;height: 38px !important;}
.Add-Details tr td {text-align: center !important;width: auto !important}
.Add-Details th {border: 0px !important;border-bottom: 1px solid #fafafa !important;}
.Add-Details tr td img {width: auto !important;display: inline-block;}
.form-control {border-color: #8c9093 !important;}
.form-control:focus {outline: none !important;box-shadow: none !important;}
.showcss {display: block;}
.hidecss {display: none;}
.content-module-section .table-responsive .table-inner th {font-size: 100%;font-weight: normal !important}
.content-module-section .table-responsive .table-inner td {
line-height: 30px;padding: 0px;margin: 0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap;width: auto !important;vertical-align: middle !important;}
.content-module-section .table-responsive button {border: 1px solid #8c9093;border-radius: 10px !important;background: #FFF;}
.content-module-section .table-responsive button span {padding: 0px;}
.content-module-section .table-responsive i {color: #FFF;position: relative !important;font-size: 14px;top: 0px;left: 5px;padding-right: 12px;}
/*.content-module-section .table-responsive tr:nth-child(odd){background:#f9f9f9}*/
#Modalcomponent .table-responsive table th {background: #ff7276;color: #FFF;font-size: 14px;font-weight: normal}
#Modalcomponent .table-responsive .table-inner td {line-height: 30px;padding: 0px;margin: 0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap;width: auto !important;vertical-align: middle !important;}
#Modalcomponent .table-responsive .table-inner input[type=text] {width: 100%;border: 1px solid #DDD;background: #FFF;height: 35px !important;color: #232222}
#Modalcomponent .table-responsive .table-inner input[type=text]:focus {background: #fafafa}
#Modalcomponent .table-responsive i {padding-right: 12px;font-size: 14px;}
#Modalcomponent .table-responsive th input[type=button] {background: none;border: 0px;box-shadow: none;outline: none;font-size: 14px !important;}
/*#Modalcomponent .table-responsive .table-inner tr:nth-child(odd){background:#f9f9f9}*/
#Modalcomponent .modal-header {text-align: left;color: #FFF;border-radius: 4px 4px 0px 0px !important;background: #8C9093;font-family: "Conv_seguisbi"}
#Modalcomponent .modal-title {font-size: 150% !important;color: #FFF;}
#Modalcomponent .modal-footer {position: relative !important}
#Modalcomponent .table-responsive table th img {position: relative;top: -2px;}
.modal-header {background-color: #ff7276 !important;}
.modal-header .close {color: #232222 !important;opacity: 0.5 !important;}
.modal-header h4 {color: white !important;}
.grid-section {display: none;background: #fff !important;margin: 0 auto;padding: 20px;width: 100%;font-size: 100%;border-radius: 0px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;}
.table-list-section {width: 100%;margin: 0 auto;padding: 0;background: #fff !important}
.table-list-section ul {display: block;width: 100%;}
.table-list-section ul li {list-style: none;border: none;padding: 0px 40px 0px 40px;line-height: 35px;margin: 0px 0px 0px 0px;display: block}
.table-list-section ul .lable-grp {margin: 0px}
.table-list-section ul li label {color: #232222 !important;font-weight: normal;padding-right: 12px;font-size: 12px;background: none;}
.table-list-section ul li input[type=text], .table-list-section ul li input[type=number] {outline: none;line-height: 30px;height: 32px;width: 100%;padding: 0px 8px 0px 8px;background: #fff;color: #232222;font-size: 13px; border: none; -webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;border: 1px solid #8c9093;border-radius: 7px;margin-bottom: 5px;}
/*.table-list-section ul li input[type=text]:focus,.table-list-section ul li input[type=number]:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1);background: #fafafa;}*/
.table-list-section ul li input[type=text]:focus,.table-list-section ul li input[type=number]:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128, 128, 1);background: #fff;}
.table-list-section ul li input[type=password] {outline: none;line-height: 30px;height: 32px;width: 100%;padding: 0px 8px 0px 8px;background: #fff;color: #232222;font-size: 13px;border: none;-webkit-box-shadow: none;box-shadow: none;-moz-box-shadow: none;border: 1px solid #ddd;border-radius: 5px;margin-bottom: 5px;}
/*.table-list-section ul li input[type=password]:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1); border: 1px solid rgba(81, 203, 238, 1);background: #fafafa;}*/
.table-list-section ul li input[type=password]:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1); border: 1px solid rgba(255, 128, 128, 1);background: #fafafa;}
.table-list-section .btn-upload {border-radius: 10px !important;background: #ff7276 !important;border-color: #ff7276 !important;color: #FFF !important;}
.table-list-section .btn-upload i, .table-list-section .btn-upload label, .table-list-section .btn-upload span {color: #FFF !important;}
.table-list-section ul li input[type=radio] {background: #fff;color: #232222;font-size: 13px;border: none;border-radius: 5px;margin: 15px 10px 0px 0px;float: left;}
.table-list-section ul li input[type=checkbox] {background: #fff;color: #232222;font-size: 13px;border: none;margin: 8px 0px 0px 0px;position: relative;top: 2px; /*left:65px*/}
.table-list-section ul li select {line-height: 20px;height: 32px !important;width: 99.99% !important;background: #fff;color: #232222;font-size: 13px;-webkit-box-shadow: none; box-shadow: none;-moz-box-shadow: none;border: 1px solid #8c9093;border-radius: 7px;background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");padding-left: 10px;background-repeat: no-repeat;background-size: auto 50%;background-position: right 10px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
/*.table-list-section ul li select:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1);background: #fafafa;outline: none !important;background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A"); padding-left: 10px;background-repeat: no-repeat;background-size: auto 50%;background-position: right 10px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;}*/
.table-list-section ul li select:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128,128, 1);background: #fafafa;outline: none !important;background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A"); padding-left: 10px;background-repeat: no-repeat;background-size: auto 50%;background-position: right 10px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.table-list-section ul li span {padding: 0;color: #232222;font-size: 12px;float: left;clear: both; /*margin-bottom:-8px;*/}
.table-list-section ul li textarea {line-height: 1.456894;width: 100%;padding: 5px 8px 0px 8px;background: #fff;color: #232222;font-size: 13px;-webkit-box-shadow: none; box-shadow: none;-moz-box-shadow: none;border: 1px solid #8c9093;border-radius: 7px;margin-bottom: 10px;min-height: 106px;height: 100%;resize: none;}
/*.table-list-section ul li textarea:focus {box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1);background: #fafafa;}*/
.table-list-section ul li textarea:focus {box-shadow: 0 0 5px rgba(255, 128, 128, 1);border: 1px solid rgba(255, 128, 128, 1);background: #fafafa;}
.table-list-section ul .radio-sec {line-height: 9px !important}
.table-list-section ul .radio-sec label {padding-top: 16px;}
.table-list-section ul li .radio-list-group {display: block;border: 1px solid #8c9093;padding-bottom: 12px;margin: 20px 0px 10px 0px;border-radius: 7px;}
.table-list-section ul li .radio-list-group li {display: table;padding: 0;margin: 0;line-height: 40px;}
.table-list-section ul li .radio-list-group li ul li {display: inline-block;padding: 0px 5px;margin: 5px auto;line-height: 0px;}
.table-list-section ul li .radio-list-group li ul li label {position: relative;padding: 0px 10px;}
.table-list-section ul li .radio-list-group .rblbox {position: relative;margin: 0px 0px 0px 0px;line-height: 0px;text-align: center;width: 100%}
.table-list-section ul li .sales-radio { margin: 0px auto;}
.table-list-section ul li .sales-radio input[type=radio] {margin-right: -10px;}
.table-list-section ul li .sales-radio ul li {margin: 0px auto !important;}
.button, .btn {outline: none !important;background-color: #FF7276 !important;color: #FFF !important;border: 1px solid #FF7276 !important;position: relative;margin: 0px 2px;}
.button, .btn:hover {outline: none !important;background-color: #FF7276 !important;color: #FFF !important;border: 1px solid #FF7276 !important}
#btnCreditOK{position:relative;margin-left:-3px}
.rl-box label {position: relative;bottom: 2px;}
/*.pagination-section{height:50px;width:100%;text-align:center;margin-top:26px;background:#FFF}*/
.pagination-section {/*height: 50px;*/width: 100%;text-align: center;/*margin-top: 26px;*/background: #fff !important;}
.pagination-section li {display: inline-flex !important;padding: 0px;}
.pagination {margin: 8px auto;background: no-repeat}
.accordian-section {width: auto;margin: 0px 0px 20px 0px;padding: 0px;display: block;}
.accordion {width: 100%;margin: 0px auto;background: #FFF;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;border: 1px solid #8c9093;text-align: left}
.accordion .link {cursor: pointer;display: block;padding: 10px 15px 10px 22px;font-size: 16px;position: relative;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;margin: -1px auto auto auto;}
.accordion span {padding: 0px 0px 0px 10px; color: #232222;font-size: 14px;}
.accordion li:first-child {border: none;}
.accordion li {list-style: none; border-top: 1px solid #8c9093;}
.accordion li:last-child .link {border-bottom: 0;}
.accordion li i {position: absolute;top: 16px;left: 22px;font-size: 14px;color: #232222;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease; }
.accordion li i.fa-chevron-down {right: 12px;left: auto;font-size: 12px;}
.accordion li.open .link span {color: #FFF !important;}
.accordion li.open i {color: #FFF;}
.accordion li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.accordion .active {display: block;}
.accordion .deactive-link .link span {color: #232222 !important}
.accordion .active-link {color: #FFF !important;background: #ff7276 !important;border-radius: 7px !important;}
.accordion .active-link .link span {color: #FFF !important;}
.accordion .active-link i {color: #FFF !important;-webkit-transform: rotate(180deg) !important;-ms-transform: rotate(180deg) !important;-o-transform: rotate(180deg) !important;transform: rotate(180deg) !important;}
.accordion li.open {color: #232222 !important;background: #ff7276 !important;border-radius: 10px 10px 10px 10px;}
.accordian .active-link .link span {color: #232222 !important;}
.accordion table th {color: #FFF;font-size: 14px;}
.user-panel h1 {font-size: 12px;color: #232222;text-align: left;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.feature-panel {background: #FFF;min-height: 250px;height: 100%;}
.User-Buttons {margin-top: 80%;}
.User-Buttons i {color: #FFF !important;font-size: 150% !important; position: relative !important;top: 1px !important;left: -2px !important;text-align: center !important;}
.User-Buttons button {margin: 5px;width: 35px;}
.User-Buttons li {margin-bottom: 5px !important;}
.feature-panel select {border: 1px solid #DDD;min-height: 400px;height: 100%;width: 100%}
.feature-panel select option {padding: 5px !important;}
.feature-panel .search-form {margin: 10px;padding: 5px}
div.pager {text-align: center;margin: 1em 0;}
div.pager span { display: inline-block;text-align: center;cursor: pointer;background-color: #ffffff !important;color: #232222;border: 1px solid #DDD;padding: 5px 10px;font-size: 12px;border-right: 0px;}
div.pager span:last-child {border-right: 1px solid #DDD;}
div.pager span.active {background: #DDD !important;color: #232222;border: 1px solid #DDD}
.link label {font-size: 14px;margin: 0px;font-weight: normal;}
.table-filedset table {background: #fff !important;}
.details-table td {border-bottom: 1px solid #EEE; border-top: 0px;}
.details-table i {padding-right: 12px;clear: both;width: 35px;}
/*--------------------- Grid ---------------------*/
/* Footer Section*/
.footer-section {position: fixed;bottom: 0px;width: 100%;margin: 0 auto; padding: 0;left: 0;right: 0;height: 30px;overflow: hidden;}
/*.footer-section{ position:absolute;bottom:0;width:100%; margin:0 auto; padding:0;left:0;right:0;height:30px;overflow:hidden;z-index:-1}*/
.footer-section ul {margin: 0 auto;padding: 0px;display: block; width: 100%; }
.footer-section ul li {list-style: none;padding: 8px 0px 10px 0px;border: 1px solid #cac8c8;display: inline-block;background: #f7fbfe; margin: 0 auto;font-size: 12px; color: #232222;line-height: 12px; height: 30px;padding: 5px;}
.footer-section ul li i {padding-right: 12px; }
.footer-section ul li span {line-height: 22px;}
/* Footer Section*/
.modal-title label, .size-large .modal-footer label, .right-section-menu label, .list-icons label, .menu label, .drop-menu-section label, .dropdown-menu label, .dropdown-menu-arrow label {font-weight: normal;margin-bottom: 0px;}
.modal-footer label {font-weight: normal;margin-bottom: 0px;}
.modal-title {color: #232222;}
.modal-footer label {font-weight: normal;margin-bottom: 0px;}
.modal-title { color: #232222;}
/*--------------------------------------Dash Board----------------------------------------------------*/
.dashboard-stats {margin: 10px auto;background-color: #fff;min-height: 107px;border: 2px solid #8c9093;border-radius: 25px 25px 25px 25px;cursor: default;padding-left: 24px;}
.dashboard-stats .left {float: left;padding-top: 5px;}
.dashboard-stats label {margin-bottom: 0px;}
.dashboard-stats .left h4 {font-size: 12px;font-weight: bold;color: #8c9093;line-height: 24px;font-family: inherit;font-family: Arial, Helvetica, sans-serif;}
.dashboard-stats .right {line-height: 95px;background: #ff7276;border-radius: 23px 23px 23px 23px !important; position: absolute;right: 11px;top: 13px;width: 135px; height: 101px;font-size: 38px;text-align: center;}
.dashboard-stats .right img { width: 50px;height: 50px;}
.dashboard-stats h3 {color: #000;}
/* .dashboard-stats .right i{color:#34CE93; vertical-align:middle;line-height:100px;} */
.dashboard-stats-popup {margin: 10px auto;border: 1px solid #8c9093;background-color: #fff;position: relative;min-height: 107px;padding: 3px; border-radius: 10px;display: table;width: 100%;text-align: left;margin-bottom: 10px;cursor: default;}
.dashboard-stats-popup .right {float: right;padding-top: 0px;padding-right: 10px;}
.dashboard-stats-popup label {margin-bottom: 0px;color: #000;}
.dashboard-stats-popup .right h3 {text-align: right;font-size: 24px;font-weight: bold;}
.dashboard-stats-popup .right h4 {font-size: 18px;font-weight: bold;color: #f2f2f2;line-height: 24px;font-family: inherit;font-family: Arial, Helvetica, sans-serif;text-align: right;}
.dashboard-stats-popup .left {position: absolute;border: 1px solid #8c9093;left: 0px;top: 0px;width: 40%;bottom: 0px;border-bottom-left-radius: 10px;border-top-left-radius: 10px;font-size: 38px;text-align: center;color: #FFFFFF; background-color: #FF7276;}
.dashboard-stats-popup .left i {color: #FFF;vertical-align: middle;line-height: 100px;}
.icon-section {margin: 20px 5px 0px;}
.icon-section .dashboard-panel {padding: 0px 8px;}
.icon-section .list-group {padding-left: 0;margin-bottom: 20px;}
.list-group .btn-primary {padding: 6px 10px;margin: 5px 0px 0px 0px;color: #FFF !important;border: 1px solid #ff7276 !important;outline: none !important;background: #ff7276;box-shadow: none;font-size: 14px;border-radius: 10px;}
.list-group .btn-primary:hover { background: #ff7276;}
.list-group .btn-primary label {color: #FFF !important;font-size: 15px;margin-bottom: 0px;}
.list-group .dropdown-menu li {padding: 0px 15px;line-height: 12px;}
.list-group .dropdown-menu li input[type=checkbox] {position: initial;margin-right: 12px;vertical-align: text-bottom}
.list-group .dropdown-menu li label {font-size: 100%;padding-right: 12px}
.quick-actions {padding: 0px;margin: 0px 5px;color: #232222}
.quick-actions .dashboard-panel {padding: 0px 8px}
.quick-actions .dashboard-panel img {width: 50px;height: 50px;margin-top: -9px;}
.quick-actions a {color: #232222;}
.quick-actions .list-group {margin-bottom: 10px}
.quick-actions .list-group-item {padding: 8px 15px 4px 15px;cursor: pointer !important;border: 1px solid #8c9093 !important;border-radius: 7px;background: #fff;color: #232222}
.icon-img {width: 35px !important;height: auto !important;margin-top: 0px !important;padding-right: 12px;border-right: 2px solid #8c9093 !important;}
.quick-actions a:hover {background: none;}
/* .quick-actions a:visited{background:#FFF}
.quick-actions a:hover {background-color: #e4e4e5 !important;color: #232222 !important;}
.quick-actions a:hover i {color: #232222 !important;} */
.quick-actions a i {font-size: 35px;padding-right: 20px;color: #FFF;margin-right: 20px;position: relative;top: 2px}
.quick-actions a label {font-weight: bold;cursor: pointer !important;color: #232222;padding-left: 20px;}
#invoicebtn label {font-weight: normal;cursor: pointer !important;color: #FFf !important;padding-left: 30px;}
.quick-actions #invoicebtn {color: #FFF !important;cursor: pointer !important;padding: 29px 15px 0px 26px;height: 93px;border: 0px !important;font-size: 24px;background: #ff7276;border-radius: 10px}
/* .quick-actions #invoicebtn i{font-size:41px;color:#34CE93} */
/* #Uimg{width: 100px !important;height: 100px !important;border: 1px Solid #DDD;border-radius: 50px;background: #FFF;} */
/* #arcs{position:absolute;top:20px}
#arcs div {border-top: 6px solid #FFF;display: inline-block;min-width: 1.6em;min-height: 0.2em;padding: 0.5em;border-radius: 50%;border-left-color: transparent;border-right-color: transparent;} */

.graph-section {background: #fff;padding: 20px 20px 45px 20px;border: 2px solid #8c9093;border-radius: 25px;height: 300px;max-height: 100%;text-align: center;}
.graph-section img {display: block;width: 100%;height: 100%;}
#div_graph1 {height: 450px}
.home-grpah-img {height: 300px !important}
.dashboard-panel-graph {padding: 0px 8px;}
.quick-actions-graph {padding: 0px;margin: 0px 5px}
.quick-actions-graph label {color: #232222 !important;}
.quick-actions-graph .dashboard-panel {padding: 0px 8px}
.quick-actions-graph h4 {margin: 0px auto}
.quick-actions-graph hr {margin: 5px auto !important}
#tblGrid th {font-size: 14px;font-weight: normal;color: #fff;background:#ff7276;}
#tblGrid tr td {font-size: 14px;font-weight: normal;color: #232222;background:#fff;}
/* .dashboard-stats-graph{margin:10px auto;border:1px solid #DDD;background-color: #FFFFFF;position: relative;min-height: 100px;padding: 3px 20px;cursor:default} */
.graph-section ul li {list-style: none;display: inline-block;}
.graph-section ul li {border-right: 2px solid #8c9093;padding: 0px 19px;display: inline-block;}
.graph-section ul li:last-child {border-right: 0px;}
.graph-section ul {position: relative;top: 55px;left: 14px !important;margin: 0px 0px 0px -24px;}
.graph-section ul li ul {position: relative;top: 0px;}
.graph-section ul li ul li {list-style: none;display: inline-block;border-right: 0px !important;padding: 0px 8px;text-align: left;}
.graph-section ul li ul li i {font-size: 50px;color: #ff7276;}
.graph-section ul li ul li h4 {font-size: 12px;font-weight: bold;color: #232222;line-height: 24px;font-family: inherit;font-family: Arial, Helvetica, sans-serif;}
.graph-section ul li ul li small {font-size: 18px;}
.graph-section ul li ul li label {color: #232222;font-size: 18px;font-weight: 600}
.graph-section ul li ul li h4 label {font-size: 16px;font-weight: normal;color: #8c9093 !important;line-height: 24px;font-family: inherit;font-family: Arial, Helvetica, sans-serif;}

/* 
.dashboard-stats-graph .left {float: left;padding-top: 5px;}
.dashboard-stats-graph .left i{vertical-align:middle;line-height:80px;font-size:50px;color:#FFF}
.dashboard-stats-graph .left h4{font-size:12px;font-weight:bold; color:#232222;line-height:24px; font-family:inherit; font-family:Arial, Helvetica, sans-serif;}
.dashboard-stats-graph .right {position: absolute;left: 80px;top: 3px;width: 60%;bottom: 3px;border-radius: 2px;font-size: 38px;text-align: left;color: #FFFFFF;}
.dashboard-stats-graph .right small{position: relative;left: 0px;color:#595959;font-size:18px; bottom:5px}
.dashboard-stats-graph .right label{position: relative;left: 10px;color:#7AE1BF;font-size:18px;bottom:4px;font-weight:normal} */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {border: 1px solid #8C9093 !important;
border-bottom-color: transparent !important;background-color: #8C9093;color: white;font-weight: bold;}
#div_graph1 #canvas {height: 100%;max-height: 375px !important;display: block;width: 100%}
#Top5Items {height: 100%;max-height: 375px !important;display: block;width: 100%}
#TodayTenderSale {height: 100%;max-height: 250px !important;display: block;max-width: 80% !important;margin-top: 0px;}
#div_graph1 #canvasWeek, #div_graph2 #canvasMonth, #div_graph3 #canvasYear {height: 100% !important;max-height: 380px !important;display: block !important;width: 100% !important;}
.modal {margin: 39px auto}
.modal-header {border-radius: 10px 10px 0px 0px !important;margin: -1px !important}
.modal-content {border-radius: 10px !important;}
/*#div_alertboxModel.modal-dialog{width:35%;}*/
#div_alertboxModel .modal-header {background: #ff7276 !important;}
#div_alertboxModel .btn-default {background: #ff7272 !important;color: #FFF !important;border-color: #ff7276;box-shadow: none;border-color: #ff7276 !important;}
.info-alert {font-size: 300%;color: #ffd729;margin: 0px 60px;position: relative;top: 14px;position: relative;right: 20px;}
.info-alertSuc {font-size: 300%;color: #7bb221;margin: 0px 60px;position: relative;top: 14px;position: relative;right: 20px;}
.alert-message {text-align: left;bottom: 20px;width: 100%;max-width: 60%;position: relative;margin: 0px auto}
.modal .pagination-section {background: #EEE;height: 58px;width: 100%;text-align: center;position: absolute;bottom: 55px;border: 1px solid #EEE}
.modal .pagination-section li {display: inline-block;padding: 0px}
.modal .pagination {margin: 8px auto;background: no-repeat}
.mCS_img_loaded {width: 20%;height: 100%;margin-left: 12px}
#div_grid label {margin-bottom: 20px;font-weight: bold;font-size: 15px;text-align: center !important}
#div_grid h5 {margin: 0px auto}
#myTable p {line-height: 10px !important;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap !important;width: 100% !important;margin: -15px auto auto auto;}
.inner-address-div {border: 1px solid #DDD;padding: 20px 10px;background: #FFF;text-align: justify;word-wrap: break-word;overflow: auto;position: relative;margin: 0px auto;max-height: calc(100vh - 300px) !important;height: 100%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
#ulHomeAddresses li {padding: 0px;color: #333;}
.inner-address {line-height: 20px;border: 1px solid #EEE;background: #fafafa;margin: 10px 20px;padding: 4px 10px}
.print-popup thead h2 {font-size: 25px;margin: -10px auto 10px auto;color: #232222}
.print-popup h4 {font-size: 15px;border-bottom: 1px solid #DDD;padding-bottom: 10px;font-weight: normal;color: #232222;margin-bottom: -8px}
.print-popup thead th {border: 0px !important;padding: 5px 5px 0px 5px !important}
.print-popup td {border: 0px;padding: 5px 0px;color: #232222;font-size: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 120px;table-layout: fixed;font-family: Arial, Helvetica, sans-serif;}
.print-popup-body {margin: -12px auto auto auto;}
.print-popup-body td label {padding: 0px 8px}
.print-popup-body td {border: 0px !important;padding: 2px 0px;color: #232222;font-size: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;max-width: 120px;table-layout: fixed;font-family: Arial, Helvetica, sans-serif;}
.print-popup-body tfoot {border-top: 2px solid #DDD;padding: 0px;margin: 0px auto}
.print-popup-body tfoot label {padding: 0px;}
#myModalprint .modal-body {padding-bottom: 80px}
#Modal_print .btn-primary {background: #FFF;color: #232222;outline: none;}
#Modal_print .btn-primary label {font-weight: normal;padding: 0px !important;margin-bottom: 0px !important;}
#divEWall table th {vertical-align: middle;border: 1px solid #fafafa}
#divEWall table th label {color: #FFF}
#divEWall table td {padding: 0px;height: 45px;vertical-align: middle;border: 1px solid #DDD}
#divEWall table td:nth-child(2), #divEWall table td:nth-child(3) {padding: 0px 10px;}
#divEWall table input[type=text] {height: 45px;border-radius: 0px;margin-bottom: -2px}
#divEWall table input[type=button] {border-radius: 6px;margin-bottom: 0px;width: 50%;float:left;}
#divEWall table input[type=checkbox] {width: 100%;}
#ModalCreditNote .modal-footer {background: #fff !important;}
.payment-section small #lblmakePay {color: #f2f2f2 !important;}
.card-payment #lblselewallapp {color: #f2f2f2 !important}
#footer-pay .btn-pay {left: 0px;top: -3px;width: 102%;height: 67px;}
.card-payment .inner-card-header {padding: 20px 0px 40px 0px;background: #fff !important;margin-top: -10px;border-radius: 5px 5px 0px 0px;cursor: pointer;color: #232222 !important;border: 1px solid #8c9093 !important;}
/*--------------------------------------Dash Board----------------------------------------------------*/
/* .invoice-section{margin: 40px auto;} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {.graph-section ul li {padding: 0px !important}
.graph-section ul li ul li {padding: 0px 6px !important;}
.table-filedset {min-height: 388px}
.content-body ul li {max-width: 19%;}
.card-section-panel .cal-body ul li {max-width: 17% !important;}
}

@media only screen and (max-device-width : 992px) {.navbar-toggle {display: inline-block;}
.navbar-collapse.collapse {display: none !important;border-top: 1px solid #E7E7E7 !important;}
.navbar-collapse.collapse.in {display: block !important;}
.navbar-nav {float: none;margin-left: auto;margin-right: auto}
.navbar-header {float: none;}
#main-body {position: fixed !important;top: 0;right: 0;bottom: 0;left: 0;}
.header-panel .right-icon-section i {padding: 4px 6px;}
.header-panel .right-icon-section img {padding: 4px 6px;}
.header-panel .right-icon-section small {margin: 0px 2px;}
}

/*@media only screen and (max-width : 320px) {
.left-search table th, .cart-input table td{max-width:50px}
}*/

@media screen and (max-width: 768px) {
.flex-section-top {padding: 0px;margin: 5px auto}
.flex-section-top:first-child {padding: 0px 0px 0px 0px}
.right-section-menu {text-align: center}
.header-panel img, .logo img {width: 103px;height: auto !important;margin-left: 10px;}
.left-search {padding: 0px 15px}
.right-search {padding: 0px 15px}
.content-body ul li {max-width: 47%}
.left-search table th, .cart-input table td {max-width: 33px}
.left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 100px}
.left-search table th:nth-child(4), .left-search table td:nth-child(4), .left-search table th:nth-child(10), .left-search table td:nth-child(10) {width: 120px}
.right-icon-section #lblName {display: none}
.table-filedset table {background: #FFF !important}
.card-section-panel .cal-body ul li {max-width: 45%;margin: 5px 1px;line-height: 18px;}
.table-filedset {min-height: 423px}
.menu .btn {width: 100%;}
.menu {margin-top: 8px;margin-bottom: 8px}
#divNavBarRight .container-fluid {padding-left: 0px;padding-right: 0px}
#divIntuitive {position: relative;margin: 8px auto;padding-left: 0px;width: 100%}
#divIntuitive .dropdown-menu {margin: 0px auto}
.btnclss .dropdown-menu {margin: 2px 0px 8px 0px !important}
.status-btn .dropdown-menu {border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;margin: 0px 0px 0px 0px;}
.intuitive .dropdown-menu {margin: 2px 0px 8px 10px;border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;}
.main-body {padding-bottom: 200px}
#ModalUploadItemsPopup {width: 90% !important}
#ImgUserPick {width: 20px !important;height: 20px !important;left: -19px;}
.price-list ul li {max-width: 48.5%}
.btn-print {max-width: 100px !important;}
.btn-tender {max-width: 68px !important;}
.graph-section {max-height: 100%;margin-bottom: 10px;min-height: 400px}
.content-module-section {padding: 30px 25px 30px 25px;margin: 19px auto 220px auto;}
.table-list-section ul li {padding: 0px 10px 0px 10px;}
.grid-section {padding: 20px 0px;}
.info-alertSuc, .info-alert {top: 0px;width: 100%;text-align: center;margin: 0px auto !important;left: auto;right: auto}
.alert-message {bottom: 0px;width: 100%;position: relative;margin: 0px auto;left: auto;right: auto;text-align: center;}
.content-module-section .table-responsive table {border-bottom: 1px solid #DDD;}
.table-modal .table-responsive {border: 0px !important;}
#ModalUploadPopup .table-responsive {border: 0px;}
#ModalUploadPopup .table {border: 1px solid #DDD;}
.size-large {margin-top: 50px;}
.list-group {margin-bottom: 0px;}
.content-module-section .table-responsive table td {min-width: 140px;}
.footer-section ul li {height: 35px;}
.size-large .modal-lg {margin-left: 20px;margin-right: 20px;}
.content-grid {max-height: calc(100vh - 10px)}
.content, .content-report {max-height: 100%}
.pos-bg {background: none !important;background-color: none !important}
.table-modal {max-height: 600px}
.content-modal-print {max-height: calc(100vh - 210px)}
.report-heder-section ul li {font-size: 9px !important}
.graph-section ul li {padding: 10px 0px;border-bottom: 1px solid #8c9093;border-right: 0px;display: block;max-width: 160px;}
.graph-section ul li ul li {padding: 0px;border-bottom: 0px;}
.graph-section ul li:last-child {border-bottom: 0px;}
#TodayTenderSale {max-width: 311px !important;width: 100% !important;margin-top: 20px;}
#Settings, #offSet, #helpset {top: 5px !important;right: 20px;}
.graph-section ul {top: 0px;}
.card-section-panel .cal-body ul li img {height: 22px !important;width: 17px !important;}
.card-section-panel .cal-body ul li #li_CreditCard img {height: 28px !important;width: 17px !important;}
#lbltotitemCw {left:-44px;}
#totalitemscw {left: -44px; }
.content-modal-address {max-height: 210px !important;}
}
@media (max-width:768px) and (orientation:landscape) {
.card-section-panel .cal-body ul li {max-width: 18%;margin: 5px 5px;}
/*.content-body ul li {max-width: 23% !important}*/
.left-search table th, .cart-input table td {max-width: 25px}
.left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 115px}
.left-search table th:nth-child(4), .left-search table td:nth-child(4), .left-search table th:nth-child(10), .left-search table td:nth-child(10) {width: 145px}
.calc-section {display: block}
}

@media screen and (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
.status-btn button {
margin-top: -10px;
}

.right-section-menu {
text-align: right
}

.left-search table th, .cart-input table td {
max-width: 25px
}

.left-search {
padding: 0px 6px 0px 15px
}

.content-body ul li {
max-width: 19%
}

.right-search {
padding: 0px 15px 0px 6px
}

.card-section-panel .cal-body ul li {
max-width: 17%;
}

.left-search table th:nth-child(2), .left-search table td:nth-child(2) {
width: 80px
}

.cal-body ul li {
padding: 12px 0px 12px 0px
}

.calc-section .cal-body {
padding: 0px
}

.calc-section label {
padding: 0px
}

.left-search table th:nth-child(4), .left-search table td:nth-child(4), .left-search table th:nth-child(10), .left-search table td:nth-child(10) {
width: 145px
}
/* .table-filedset{height:100%;min-height:383px;border:1px solid #8c9093} */
.table-filedset {
height: 100%;
/*min-height: calc(100vh - 250px);*/
min-height: 375px;
border: 1px solid #8c9093;
}

.calc-section {
min-height: calc(100vh - 140px);
}

.content-table {
min-height: 405px !important;
}
/*.pagination-section{margin-top:80px}*/
.navbar-nav {
margin-top: 10px;
}

.menu {
margin-top: 0px;
margin-right: 5px
}

.content-grid {
max-height: calc(100vh - 10px)
}

.graph-section ul li {
padding: 0px 9px
}

.graph-section ul li ul li {
padding: 0px 0px;
}
}

@media (max-width:900px) and (orientation:landscape) {
.card-section-panel .cal-body ul li {max-width: 17%;margin: 5px}
.content-body ul li {max-width: 23.5%}
.table-filedset {height: 100%;min-height: 450px;border: 1px solid #DDD}
.content-table {min-height: 410px !important;}

}
