﻿@charset "utf-8";
/* CSS Document */

@import url(../fonts/fonts.css);

*{margin:0 auto;padding:0;}

html {position: relative;min-height: 100%;width:100%;}
html, body{height: 100%;}
body{ background:#FFF;font-family:Arial,sans-serif !important;-o-user-select:none;-ms-user-select:none;user-select:none;-moz-user-select:none;-webkit-user-select:none; visibility:hidden}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    html{zoom: 85% !important;-ms-zoom:85% !important;}
    body{zoom: 96% !important;-ms-zoom:96% !important;}
}
