﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1" />
    <title></title>
    <link href="Styles/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="Styles/css/jquery-ui.css" rel="stylesheet" />
    <link href="Styles/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="Styles/css/simple-sidebar.css" rel="stylesheet" />
    <link href="Styles/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="Styles/css/css-themes/Default.css" rel="stylesheet" />
    <link href="Styles/bootstrap-dialog.min..css" rel="stylesheet" />

    <!--[if lt IE 9]>
          <script src="<%=Page.ResolveUrl("~/Scripts/html5shiv.js") %>"></script>
          <script src="<%=Page.ResolveUrl("~/Scripts/respond.min.js") %>"></script>
    <![endif]-->
    <!--<script src="js/Chart.bundle.js"></script>-->
    <!--<script src="js/chart.min.js"></script>-->
    <script src="scripts/Chart.js"></script>
    <script src="scripts/utils.js"></script>
    <script src="scripts/amcharts.js"></script>
    <script src="scripts/pie.js"></script>
    <style>
        canvas {
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }

        .blink_me {
            animation: blinker 2s linear infinite;
        }

        @keyframes blinker {
            40% {
                opacity: 0;
            }
        }
    </style>
</head>
<body onload="LoadDash();">
    <div id="main">
        <div id="">
            <!--------- Header --------->
            <nav class="header-section navbar push-menu-navbar-top dnl-hidden dnl-hidden-right">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 header-panel">
                           
                            <div class="col-xs-6 col-sm-4 col-md-4 text-left neo-logo">
                                <a href="#" class="push-btn-toggle"><i class="fa fa-bars"></i></a>
                                <!--<h1><a href="DashBoard.html"><img id="IMG1" src="images/mmlogo-inner1.png" alt="Logo" /></a></h1>-->
                                <h1><a href="DashBoard.html"><img id="IMG1"  alt="Logo" /></a></h1>
                                <!--<img id="Imgpath"/>
                                <img id="Imgpath1" />
                                <img id="Imgpath2" />-->

                                <span style="margin-top: -9px;position: absolute;margin-left: 158px;color: red;">
                                    <label id="lblNetwork" style="display:none"> Offline Network</label>
                                </span>
                            </div>
                            <div class="col-xs-6 col-sm-8 col-md-8 right-icon-section text-right">

                                <span>
                                    <small class="profile-pic">
                                        <img id="ImgUserPick" class="cropped" src="images/UserLogo.png" onclick="openFileUser(); return;" >
                                    </small>

                                    <small>
                                        <label ID="lblName"></label>
                                        <span><small><bdo></bdo></small></span>
                                    </small>
                                </span>

                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" aria-labelledby="dropdownMenu"><img src="images/settings.png" id="Settings" /><!--<i class="fa fa-cog" rel="tooltip" data-placement="bottom" id="lblToolPersonal" title="Personalize"></i>--></a>

                                <ul class="dropdown-menu pull-right dropdown-menu-arrow">
                                    <li class="dropdown-submenu">
                                        <a href="#"><label for="lblThemes">Themes</label></a>
                                        <ul class="dropdown-menu">
                                            <li><a class="field-tip" ID="btnTheamOne" href="#" OnClick="btnTheam_Click1()"><label for="lblTheme1">Theme-1</label> <span class="tip-content"></span></a></li>
                                            <li><a class="field-tip" ID="btnTheamTwo" href="#" OnClick="btnTheam_Click2()"><label for="lblTheme2">Theme-2</label> <span class="tip-content"></span></a></li>
                                            <!--<li><a class="field-tip" ID="btnTheamThree" href="#" OnClick="btnTheam_Click3()"><label for="lblTheme3">Theme-3</label> <span class="tip-content"></span></a></li>
                                            <li><a class="field-tip" ID="btnTheamFour" href="#" OnClick="btnTheam_Click4()"><label for="lblTheme4">Theme-4</label>  <span class="tip-content"></span></a></li>-->
                                        </ul>
                                    </li>
                                    <li><a href="#" onclick="MDPLSettings();"><label for="lblSettings">Settings</label></a></li>
                                    <li><a href="ChangePassword.html"><label for="lblChangePassword">Change Password</label></a></li>
                                    <li><a href="Subscription.html"><label for="lblSubcription">Renewal</label></a></li>

                                </ul>
                                <a href="#" rel="tooltip" title="Help" onclick="window.open('Help/HelpFile.html', 'Chatwindow', 'width=1005,height=530,scrollbars=yes,toolbar=0,screenx=180,screeny=280,location=0,titlebar=0,directories=0,status=0,menubar=0');" rel="tooltip" data-placement="bottom" title="" id="tbHelp" data-original-title="Help"><img src="images/help.png" style="width:30px;height:30px" id="helpset" /><!--<i class="fa fa-question"></i>--></a>
                                <a onclick="onexit();"><img src="images/turn-off.png" style="width:30px;height:30px;" id="offSet" /><!--<i class="fa fa-power-off" rel="tooltip" data-placement="bottom" title="Signout"></i>--></a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

            <!--------- Header --------->
            <!-- Menu-Section-->
            <div class="container-fluid">
                <div class="row">
                    <!-- Menu-Section-->
                    <div class="push-navbar-left dnl-hidden">
                        <ul class="dnl-nav">
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-Configurator" aria-expanded="false" aria-controls="collapseStatistics-Configurator">
                                    <i class="fa fa-cog dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblConfigurators">Configurators</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-Configurator">
                                    <li>
                                        <a onclick="PageValidatebyPage('POSConfigT')" style="cursor:pointer">

                                            <span class="fa fa-database dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblSubConfigurators">E-Wallet Configuration</label></span>
                                        </a>
                                    <li>

                                        <a onclick="PageValidatebyPage('POSINVCFG')" style="cursor:pointer">
                                            <span class="fa fa-print dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblPrintCustomize">Invoice Configuration</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSBCODG')" style="cursor:pointer">
                                            <span class="fa fa-barcode dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblBarcodeGenerator">Barcode Generator</label></span>
                                        </a>
                                    </li>

                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSBCODG')" style="cursor:pointer">
                                            <span class="fa fa-barcode dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblBarcodeGenerator">Barcode Generator</label></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-Master" aria-expanded="false" aria-controls="collapseStatistics-Master">
                                    <i class="fa fa-graduation-cap dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblMasters">Masters</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-Master">
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSCNTTYP')" style="cursor:pointer">
                                            <span class="fa fa-filter dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTillType">Till Type</label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a onclick="PageValidatebyPage('POSCOUDF')" style="cursor:pointer">
                                            <span class="fa fa-desktop dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTill">Till</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSCTRPRM')" style="cursor:pointer">
                                            <span class="fa fa-check dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTillPermissions">Till Permissions</label></span>
                                        </a>
                                    </li>
                                    <li id="li_user" style="display:none">
                                        <a href="UserPermissions.html" style="cursor:pointer">
                                            <span class="fa fa-users dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblUserPermissions">User</label></span>
                                        </a>
                                    </li>
                                    <li id="li_user_permissions" style="display:none">
                                        <a href="CounterOpening.html" style="cursor:pointer">
                                            <span class="fa fa-folder-open dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTillOpening">Till Opening</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSCUSTM')" style="cursor:pointer">
                                            <span class="fa fa-user dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblCustomer">Customer</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSTENDERTYPE')" style="cursor:pointer">
                                            <span class="fa fa-usd dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTenderType">Tender Type</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <!--<a href="LoyaltyPoints.html" style="cursor:pointer">-->
                                        <a onclick="PageValidatebyPage('POSLOYPRG')" style="cursor:pointer">
                                            <span class="fa fa-credit-card-alt dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblLoyaltyPoints">Loyalty Points</label></span>
                                        </a>
                                    </li>
                                    <li>

                                        <a href="Item.html" style="cursor:pointer">
                                            <span class="fa fa-table dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblItem">Item</label></span>
                                        </a>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-Invoice" aria-expanded="false" aria-controls="collapseStatistics-Invoice">
                                    <i class="fa fa-usd dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblTransactions">Transactions</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-Invoice">
                                    <li>
                                        <!--  <a onclick="GetShiftData();" style="cursor:pointer;">-->
                                        <a onclick="PageValidatebyPage('POSIORCR')" style="cursor:pointer">
                                            <span class="fa fa-file-text-o dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblInvoce">Invoice</label></span>
                                        </a>
                                    </li>

                                    <li>
                                        <a onclick="PageValidatebyPage('POSSLSRT')" style="cursor:pointer">
                                            <span class="fa fa-exchange dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblSalesReturn">Sales Return</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSDISPATCH')" style="cursor:pointer">
                                            <span class="fa fa-truck dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblDispatch">Dispatch</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="ItemStock.html" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblReceipt">Receipt</label></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li style="display:none">
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-posting" aria-expanded="false" aria-controls="collapseStatistics-posting">
                                    <i class="fa fa-cog dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblPosting">Posting</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-posting">
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSCOUCL')" style="cursor:pointer">
                                            <span class="fa fa-remove dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTillClosing">Till Closing</label></span>
                                        </a>
                                    </li>


                                </ul>
                            </li>

                            <li>
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-Reports" aria-expanded="false" aria-controls="collapseStatistics-Reports">
                                    <i class="fa fa-files-o dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblReports">Reports</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-Reports">

                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTINVL')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblInvoiceListing">Invoice Listing</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSINLSM')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblInvoiceSummary">Invoice Details</label></span>
                                        </a>
                                    </li>
                                    <li style="display:none">
                                        <a onclick="PageValidatebyPage('POSRPTINVLST')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTillInvoiceListing">Till - Invoice Listing</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTDCTN')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblTenderTypeWiseCollectionDailySummary">Tender Type Wise Collection Daily Summary</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTCINV')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblCurrentInventory">Current Inventory</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTSLRT')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblSalesReturns">Sales Returns</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSACPO')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblAccountPosting">Account Posting</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSTVRR')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>&nbsp;&nbsp;
                                            <span class="dnl-link-text"><label for="lblVATReturns">VAT Returns</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSCUSTLDGR')" style="cursor:pointer">
                                            <span class="fa fa-file-text dnl-link-icon"></span>&nbsp;&nbsp;
                                            <span class="dnl-link-text"><label for="lblCustLDGR">Customer Ledger</label></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li style="display:none">
                                <a class="collapsed" data-toggle="collapse" href="#collapseStatistics-AnalyticalReports" aria-expanded="false" aria-controls="collapseStatistics-AnalyticalReports">
                                    <i class="fa fa-files-o dnl-link-icon "></i>
                                    <span class="dnl-link-text"><label for="lblAnalyticalReports">Analytical Reports</label></span>
                                    <span class="fa fa-angle-up dnl-btn-sub-collapse"></span>
                                </a>
                                <!-- Dropdown level one -->
                                <ul class="dnl-sub-one collapse" id="collapseStatistics-AnalyticalReports">
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTICSA')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblItemCategorySalesAnalysis">Item Category Sales Analysis</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTWDRR')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblWeekDaysRevenue">Week days Revenue</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTBAR')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblBucketAnalysis">Bucket Analysis</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTLWATV')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblLocationwiseAverageInvoiceValue">Location wise  Average Invoice Value</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTICPA')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblItemCategoryProfitAnalysis">Item Category Profit Analysis</label></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a onclick="PageValidatebyPage('POSRPTLWPAS')" style="cursor:pointer">
                                            <span class="fa fa fa-file-text dnl-link-icon"></span>
                                            <span class="dnl-link-text"><label for="lblLocationwiseProfitAnalysis">Location wise Profit Analysis</label></span>
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- Menu Section-->
                </div>
            </div>

            <!-- Menu Section-->

            <div class="container-fluid">
                <div class="row">

                    <div class="content-wrap dnl-hidden content-opacity" data-effect="dnl-overlay">
                        <div class="main .content-dashboard">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="icon-section">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                            <a href="#">
                                                <div class="dashboard-stats">
                                                    <div class="left">
                                                        <h3><label id="lblsalesCTDash"></label>  </h3>
                                                        <h4><label for="lblTotalSales">Total Sales</label> (<label id="lblDateDH"></label>)</h4>
                                                    </div>
                                                    <div class="right">
                                                        <img src="images/basket.svg">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div style="display:none" class="col-lg-3 col-md-3 col-sm-3 col-xs-12 dashboard-panel">
                                            <a href="#">
                                                <div class="dashboard-stats">
                                                    <div class="left">
                                                        <h3><label id="lblsalesCUSDash" style="color:#fb5d5d !important"></label> </h3>
                                                        <h4><label for="lblTotCust">Total Customers1111</label></h4>
                                                    </div>
                                                    <div class="right" style="background:#fb5d5d">
                                                        <i class="fa fa-user"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                            <a href="#">
                                                <div class="dashboard-stats">
                                                    <div class="left">
                                                        <h3><label id="lblsalesITEMDash" ></label></h3>
                                                        <h4><label for="lblTotItems">Total Items</label></h4>
                                                    </div>
                                                    <div class="right">
                                                        <img src="images/basket-2.svg">
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div style="display:none" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                            <a href="#">
                                                <div class="dashboard-stats">
                                                    <div class="left">
                                                        <h3><label id="lblTodayCustomers"></label></h3>
                                                        <h4><label for="lblNewCust">New Customers</label> <label style="display:none" id="lblToDayDate"></label></h4>
                                                    </div>
                                                    <div class="right">
                                                        <i class="fa fa-users"></i>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    </div>
                                </div><!--row-->
                            </div><!--containerfluid-->

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="quick-actions">
                                      
                                        <h4 class="text-center"><label for="lblWelToPOS">Welcome to Point of Sale</label></h4>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                                    <div class="list-group">
                                                        <a class="list-group-item" onclick="PageValidatebyPageDash('POSIORCR');" id="invoicebtn"> <img src="images/basket-3.svg">
                                                        <label for="lblStartANewSale"> Start a New Sale</label></a>
                                                    </div>

                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                                    <div class="list-group">
                                                        
                                                        <a class="list-group-item" href="TodayItemsSummaryReport.html" id="hLinkTodayspItemsSummaryReport" style="display:none;"> <i class="fa fa-clipboard"></i><label for="lblTodayItemsSummaryReport">Today's Items Summary Report</label> </a>
                                                        <a class="list-group-item" onclick="PageValidatebyPage('POSACPO')" id="hLinkAccountPosting"> <img id="ImgReven" class="icon-img" /><label for="lblAccountPosting">Account Posting</label></a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                                    <div class="list-group">
                                                        <!--<a class="list-group-item"onclick="PageValidatebyPage('POSRPTINVL')" id="A1"><img src="images/SalesRevenue.png" class="icon-img" /><label  for="lblInvoiceListing">Invoice Listing</label> </a>-->
                                                        <a class="list-group-item" onclick="PageValidatebyPage('POSRPTINVL')" id="A1"><img id="imgtill" class="icon-img" /><label for="lblInvoiceListing">Invoice Listing</label> </a>
                                                        <a class="list-group-item" onclick="PageValidatebyPage('POSACPO')" id="A2" style="display:none;"><img src="images/note.png" class="icon-img" /><label for="lblAccountPosting">Invoice Listing Report</label></a>
                                                        <!--<a class="list-group-item" onclick="PageValidatebyPage('POSACPO')" id="A2" style="display:none;"><img src="images/SalesRevenue.png" class="icon-img" /><label for="lblAccountPosting">Invoice Listing Report</label></a>-->
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel" id="hLinkTodaysCloseoutReport" style="display:none;">
                                                    <div class="list-group">
                                                        <a class="list-group-item" onclick="GetClosedShiftData();"> <i class="fa fa-clock-o"></i><label for="lblTodayCloseoutReport">Today's Closeout Report</label> </a>

                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel" style="display:none;">
                                                    <div class="list-group">
                                                        <a class="list-group-item" onclick="GetShiftDataRTDR();" id="hLinkTodaysSalesDetailsReport"> <i class="fa fa-bars"></i> <label for="lblTodaysSalesDetailsReport">Today's Sales Details Report</label></a>
                                                    </div>
                                                </div>

                                            </div>
 
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="hLinkTodaysCloseoutReport" style="display:none;">
                                                <div class="list-group">
                                                    <a class="list-group-item" onclick="GetClosedShiftData();"> <i class="fa fa-clock-o"></i><label for="lblTodayCloseoutReport">Today's Closeout Report</label> </a>

                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="display:none;">
                                                <div class="list-group">
                                                    <a class="list-group-item" onclick="GetShiftDataRTDR();" id="hLinkTodaysSalesDetailsReport"> <i class="fa fa-bars"></i> <label for="lblTodaysSalesDetailsReport">Today's Sales Details Report</label></a>
                                                    <!--<a class="list-group-item" href="UserPermissions.html" id="hLinkTillClosing" style="display:none;"> <i class="fa fa-remove dnl-link-icon"></i>Create Users</a>-->
                                                </div>
                                            </div>

                                         
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="container-fluid" id="divSalesInformation" style="display:none;">
                                <div class="col-md-12 graph-section">
                                    <h4 class="text-center"><label for="lblSalesInfo">Sales Information</label></h4>
                                    <div class="container-fluid">
                                        <ul class="nav nav-tabs">
                                            <li class="active"><a data-toggle="tab" href="#home"><label for="lblWeek">Week</label></a></li>
                                            <li><a data-toggle="tab" href="#menu1"><label for="lblMonth">Month</label></a></li>
                                            <li><a data-toggle="tab" href="#menu2"><label for="lblYear">Year</label></a></li>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="home" class="tab-pane fade in active">

                                                <div id="div_graph1" class="home-grpah-img">
                                                    <canvas id="canvasWeek"></canvas>
                                                </div>
                                            </div>
                                            <div id="menu1" class="tab-pane fade">
                                                <div id="div_graph2">
                                                    <canvas id="canvasMonth"></canvas>
                                                </div>
                                            </div>
                                            <div id="menu2" class="tab-pane fade">
                                                <div id="div_graph3">
                                                    <canvas id="canvasYear"></canvas>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <!--<div>
                                        <img src="images/POS Dashboard.jpg" alt="graph" />
                                    </div>-->
                                </div>
                            </div>
                            <div id="divGraphsForSales" class="container-fluid">
                                <div class="row">
                                    <div class="quick-actions-graph">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                            <div class="list-group">
                                                <div class="graph-section">
                                                    <h4 class="text-center"><label for="lblSalesAnalysis">Sales Analysis</label></h4>
                                                    <ul>
                                                        <li>
                                                            <a href="#">
                                                                <div class="dashboard-stats-graph">
                                                                    <ul>
                                                                        <li><img src="images/business-and-finance.png" style="width:60px;height:75px" /><!--<i class="fa fa-arrow-up"></i>--></li>
                                                                        <li>
                                                                            <small><label for="lblSales">Sales</label></small>
                                                                            <h4><label id="lblSales_M">0.00</label></h4>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="dashboard-stats-graph">
                                                                    <ul>
                                                                        <li>
                                                                            <img src="images/tax.png" style="width:60px;height:75px" />
                                                                            <!--<i class="fa fa-superscript"></i>-->
                                                                        </li>
                                                                        <li>
                                                                            <small><label for="lblRefunds">Refunds</label> </small>
                                                                            <h4><label id="lblRefunds_M">0.00</label></h4>

                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="#">
                                                                <div class="dashboard-stats-graph">
                                                                    <ul>
                                                                        <li><img src="images/increase.png" style="width:60px;height:75px" /><!--<i class="fa fa-usd"></i>--></li>
                                                                        <li>
                                                                            <small><label for="lblRevenue">Revenue</label> </small>
                                                                            <h4><label id="lblRevenue_M">0.00</label></h4>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dashboard-panel">
                                            <div class="list-group">
                                                <div class="graph-section">
                                                    <h4 class="text-center"><label for="lblTenderWiseSales">Tender Wise Sales</label></h4>
                                                    
                                                    <div class="container-fluid">
                                                        <div class="tab-content">
                                                            <div id="Tenders_" class="tab-pane fade in active">
                                                                <div id="div_graphTenderSales">
                                                                    <div id="TodayTenderSale" style="width:400px;height:300px"></div>
                                                                    <!--<canvas id="TodayTenderSale"></canvas>-->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> 
                                </div> 
                            </div> 
                        </div>
                        <!--Main--> 

                    </div>
                    <!--Sub Contetnt End -->
                    <div class="dnl-hidden content-opacity" data-effect="dnl-overlay"></div>
                </div>
            </div>



        </div>
    </div>

    <div id="ModalSettingsPopup" class="modal fade" role="dialog">
        <div class="size-large modal-dialog">
            <div class="modal-sm">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                        <div class="link">
                            <h4 class="modal-title"><label for="lblSCPopPwd">Personal Settings</label> </h4>
                        </div>

                    </div>
                    <div class="content-modal">
                        <div class="modal-body">


                            <div class="container-fluid">
                                <div class="row">
                                    <div class="table-list-section">
                                        <div style="height:280px" class="col-md-12">
                                            <ul class="list-group">
                                                <li>
                                                    <label for="lblLanguage">Language</label>
                                                    <select id="ddlLanguage"></select>
                                                </li>
                                                <li>
                                                    <label for="lblDateFormat">Date Format</label>
                                                    <select id="ddlDateFormate">
                                                        <option value="d/m/Y">dd/mm/yyyy</option>
                                                        <option value="m/d/Y">mm/dd/yyyy</option>
                                                        <option value="Y/d/m">yyyy/dd/mm</option>
                                                        <option value="Y/m/d">yyyy/mm/dd</option>
                                                        <option value="d-m-Y">dd-mm-yyyy</option>
                                                        <option value="m-d-Y">mm-dd-yyyy</option>
                                                        <option value="Y-d-m">yyyy-dd-mm</option>
                                                        <option value="Y-m-d">yyyy-mm-dd</option>

                                                    </select>
                                                </li>
                                                <li style="display:none">
                                                    <ul class="radio-list-group">
                                                        <li class="rblbox radio-label">
                                                            <div style="background: #FFF;position: absolute;left: 17px;padding: 8px;top:-10px;">Dual Display</div>
                                                            <ul>
                                                                <li><button type="button" onclick="showDualDisplay();" class="btn btn-primary">Start</button></li>
                                                                <li> <button type="button" onclick="stopDualDisplay();" class="btn btn-primary">Stop</button></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCheckOK" onclick="savePSettingsPOP();" class="btn btn-primary"><label for="lblPopOk">Ok</label></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><label for="lblPopClose">Close</label></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="ModalDualPopup" class="modal fade" role="dialog">
        <div class="size-large modal-dialog">
            <div class="modal-sm">
                <!-- Modal content-->
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="link">
                            <h4 class="modal-title"><label for="lblSCPopDualDisplay">Dual Display Settings</label> </h4>
                        </div>
                    </div>
                    <div class="content-modal">
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="table-list-section">
                                        <div style="height:250px" class="col-md-12">
                                            <ul class="list-group">

                                                <li>
                                                    <ul class="radio-list-group">
                                                        <li class="rblbox radio-label">
                                                            <div style="background: #FFF;position: absolute;left: 17px;padding: 8px;top:-10px;">Dual Display</div>
                                                            <ul>
                                                                <li><button id="btnstartdisplay" type="button" onclick="showDualDisplay();" class="btn btn-primary">Start</button></li>
                                                                <li> <button id="btnstopdisplay" type="button" onclick="stopDualDisplay();" class="btn btn-primary">Stop</button></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li style="display:none" id="li_Advertisement">
                                                    <ul class="radio-list-group">
                                                        <li class="rblbox radio-label">
                                                            <div style="background: #FFF;position: absolute;left: 17px;padding: 8px;top:-10px;">Advertisement</div>
                                                            <ul>
                                                                <li><button id="btnstartadd" type="button" onclick="StartAdvertisement();" class="btn btn-primary">Start</button></li>
                                                                <li> <button id="btnstoptadd" type="button" onclick="StoptAdvertisement();" class="btn btn-primary">Stop</button></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCheckOK" onclick="saveDualPSettingsPOP();" class="btn btn-primary"><label for="lblPopOk"></label></button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><label for="lblPopClose">Close</label></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalUploadimagePopup" class="modal fade mymodal" role="dialog">
        <div class="size-large">
            <div class="modal-dailog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><label for="lblUploadUserImage"></label></h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <table class="table" style="border:0px;min-height:200px;margin-bottom:50px">
                                    <tr>
                                        <td style="border:0px"><img id="Uimg" src="images/UserLogo.png" style="width:80px;height:80px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="border:0px">
                                            <p id="b64" style="display:none"></p>
                                            <a href="Javacript::" class="btn btn-default" onclick="openUserFileOption(); return;" style="border:1px solid #c8c8c8 !important">
                                                <i style="transform: rotate(0deg)!important;position: inherit;font-size:13px" class="fa fa-upload"></i>
                                                <span style="padding-left:8px"><label for="lblUpload" style="margin-bottom:0px;font-weight:normal"></label></span>
                                            </a>

                                            <input id="userinp" type='file' style="display:none;" accept="image/*">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-right">
                                    <div class=" ">
                                        <div class="text-right">
                                            <div id="div_Save" style="display:none">
                                                <img src="images/uploading.gif" style="width:20%" /> <label for="lblPleasewait"></label>
                                            </div>
                                        </div>
                                        <div class="text-right">
                                            <button type="button" class="btn btn-primary" onclick="saveimage()"><label for="lblSave"></label></button>
                                            <button type="button" class="btn btn-default" data-dismiss="modal" onclick="RefreshData()"><label for="lblClose"></label></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <input type="hidden" id="hdnNAssignCountrTrans" />
    <input type="hidden" id="hdnChPwdSaveSucc" />
    <input id="hdnThameChange" type="hidden" />
    <input type="hidden" id="hdnNotAssignCountrToTrans" />
    <input type="hidden" id="hdnAccessDenied" />
    <input type="hidden" id="hdnDateFromate" />
    <input type="hidden" id="hdnUserId" />
    <input id="hdnImageSave" type="hidden" />
    <input id="hdnSelImage" type="hidden" />

    <input id="hdnDCcash" type="hidden" />
    <input id="hdnDCCard" type="hidden" />
    <input id="hdnDCIPay" type="hidden" />
    <input id="hdnDCNote" type="hidden" /> 
    <input id="hdnDCCrSale" type="hidden" />
    <script type="text/javascript" src="cordova.js"></script>
    <script src="js/index.js"></script>
    <script type="text/javascript" src="scripts/platformOverrides.js"></script>
    <script src="scripts/jquery-2.2.4.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/menu.js"></script>
    <script src="scripts/jquery.mCustomScrollbar.concat.min.js"></script> 
    <script src="scripts/jquery.ajax-cross-origin.min.js"></script>
    <!--<link href="js/bootstrap-dialog.min..css" rel="stylesheet" />-->
    <!--<link href="Styles/bootstrap-dialog.min..css" rel="stylesheet" />-->
    <script src="scripts/session.js"></script>
    <script src="js/url.js" type="text/javascript"></script> 
    <script src="js/DashBoard.js"></script>
    <script type="text/javascript">
        $("a[data-theme]").click(function () {
            $("head link#theme").attr("href", $(this).data("theme"));
        });


        $('#btnTheamOne').mouseover(function () {
            $('.tip-content').css('background', '#ffffff');
            $('.tip-content').css('border-color', '#ff7276');
        });
        $('#btnTheamTwo').mouseover(function () {
            $('.tip-content').css('background', '#232222');
            $('.tip-content').css('border-color', '#ff7276');
        });
        //$('#btnTheamThree').mouseover(function () {
        //    $('.tip-content').css('background', '#d8241f');
        //});
        //$('#btnTheamFour').mouseover(function () {
        //    $('.tip-content').css('background', '#6A6C6E');
        //});

    </script>
</body>
</html>