﻿@charset "utf-8";
/* CSS Document */

@import url('../../fonts/fonts.css');

*{margin:0 auto;padding:0;}


html {position: relative;min-height: 100%;width:100%;}
body{ background:#f1f3f6;font-family:Arial, Helvetica, sans-serif !important;-o-user-select:none;-ms-user-select:none;user-select:none;-moz-user-select:none;-webkit-user-select:none;visibility:visible}
a{ border:0 !important;outline:0 !important} 
#main{width:100%;margin:0 auto;padding:0;}
a{outline:none;border:none}
a:hover{outline:none !important;border:none !important;text-decoration:none !important; outline:none !important}
.logo{ margin:80px auto 50px auto;}
.logo-m{position:relative;top:-12px;}
.navbar-brand .logo{ position:relative;margin:-10px auto;}
.navbar-brand label{font-weight:normal !important}
.report-heder-section .fa{color: #1776b6;}
/*img {border:0px;width:auto; display:block; height:100%}*/

/*.navbar-default{background:#1776b6;  border:0px; border-radius:0px;border-bottom:1px solid #DDD}
.navbar-brand{ color:#6a6c6f !important; font-size:25px !important;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif; font-style:normal; font-variant:normal; font-weight:normal; line-height:normal; text-shadow:#4f6478 0 1px 5px}
.user{padding:0px; margin:5px 0px 0px -15px; position:relative;right:-12px}*/
/*.user a{color:#6a6c6f !important;padding-right:0px !important;}*/

.navbar-default{ background:none !important;border:none !important; margin-bottom:0px; border-radius:0 !important;}
.navbar-default .navbar-brand{color:#292b2c !important; /*margin-left:-16px !important;*/ position:relative !important;top:1px !important}
.navbar-nav .btn-block{ position:relative;top:11px !important; padding:6px 10px 6px 10px}


.header-section {
    background: #232222 repeat top;
    display: block;
    width: 100%;
    padding: 1.5px 0px;
    border-bottom: 1px solid #d9e3e8;
}
.header-section h1{font-size:240%;color:#FFF; font-family:"Conv_seguisbi";text-align:left;margin:0 auto; letter-spacing:2px;position:relative;top:-3px; padding-left:42px}
.header-section i{position:relative;bottom:9px;z-index:999;/*right:12px;*/ font-size:28px; cursor:pointer; padding:0;}
.header-panel{ display:inline-block;color:#FFF; margin:0px 0; width:100%; padding:8px 0px 0px 0px; position:relative;}
.header-panel a{outline:none;border:none;color:#FFF; text-decoration:none;}



.header-panel .right-icon-section{margin:0 auto;padding:0px; position:relative;right:7px}
.header-panel .right-icon-section a{right:5px; position:relative;}
.header-panel .right-icon-section small{margin:5px; position:relative;top:3px; padding:0px; left:8px;}
.header-panel .right-icon-section small i{position:relative;top:1px; font-size:122%; left:0px;padding:0px 5px 0px 10px}
.header-panel .right-icon-section i{font-size:20px;color:#FFF; text-align:center;top:5px; padding:4px 6px;}
.header-panel .right-icon-section .btn{ position:relative;bottom:2px;margin:0px auto; padding-right:1px; padding-left:0px; right:6px; border:none;outline:none; background:none;box-shadow:none;-webkit-box-shadow:none;}
.header-panel .right-icon-section input[type=submit]{top:1px !important;}

/*.header-panel .right-icon-section .dropdown-menu{position:absolute;top:35px}
.header-panel .right-icon-section .dropdown-menu a{cursor:pointer}*/
.cropped{object-fit: cover;border-radius: 100%;width: 40px;height: 40px;background:#FFF !important}

.right-section{margin:0px  auto;padding:0px; position:relative;right:15px}
.right-section i{font-size:100% !important;color:#292b2c; text-align:center;padding:0px; line-height:0px; vertical-align:bottom}

#div_grid{margin:10px auto}
#tbldiv th,#div_grid th{font-size: 90% !important;text-shadow: none; color:#292b2c !important; border-bottom:0px !important}
#tbldiv td,#div_grid td{color:#292b2c !important}
.tt-table div.tt-parent div.content{color:#666 !important; padding:0px 6px !important; font-size:18px !important; background:none !important}


.header-panel .right-icon-section .dropdown-menu li a{color:#292b2c !important;right:0 !important}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:-100%;-webkit-border-radius:6px 0px 0px 6px;-moz-border-radius:6px 0px 0px 6px;border-radius:6px 0px 0px 6px;content: none !important;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0px 5px 5px;border-left-color:#292b2c;top:8px;right:15px; position:absolute}
.dropdown-submenu:hover>a:after{border-left-color:#292b2c;}
.dropdown-submenu.pull-left{float:none;}
.dropdown-submenu >.dropdown-menu li a .btn{width:100% !important; text-align:left !important; background:none !important; padding-left:12px}
.dropdown-submenu .dropdown-menu li a .btn.active,.dropdown-menu li a .btn:active{background-image:none;outline:0;-webkit-box-shadow:none;box-shadow:none}
.dropdown-submenu .dropdown-menu li a{ right:0 !important;}


/* Hover tooltips */
.field-tip {position:relative;}
.field-tip .tip-content {position:absolute;right:9999px; width:10px;margin-right:190px;padding:12px;color:#fff;border:2px solid #FFF;border-radius:5px;}
.field-tip .tip-content:before {content:' ';position:absolute;top:62%;right:-10px; width:0;height:10px;margin-top:-8px;border:4px solid transparent;border-left-color:#292b2c}
.field-tip:hover .tip-content {right:-20px;opacity:1;}


.DatePicker_Icon{ left:auto !important;right:0px !important; position:absolute !important; top:4px !important;}

.DatePicker td.dp_selected,.DatePicker td.dp_current{background:#1776b6 !important;color: #FFF !important;border-radius:50%;}
.DatePicker td.dp_current:hover{ background:#1776b6  !important}
.DatePicker td.dp_selected:hover{ background:#1776b6  !important}



/*.DatePicker_Icon_Inside{position:relative !important;top:-34px !important;}*/

.no-border{border-left:0px !important}

.right-menu{position:relative;right:15px}
.right-menu ul li {margin:0px auto;padding:0px;padding:6px 0px; position:relative;/*border-left:1px solid #ddc0fd;*/}
.right-menu ul li:hover {background:#1776b6;}
.right-menu ul li:first-child{border-left:0;border-right:0px;}
.user i{height:15px;font-size:1em;padding-left:5px;padding-right:0px}

.right-menu ul li::before {content: '';position: absolute; height: 30px;top: 18px;border-right: 2px solid #ddc0fd;}
.right-menu ul li:first-child::before{border-right:0px;}
.right-menu ul li a{color:#FFF !important;padding-right:0px}
.right-menu ul li label{padding:0px 8px}
.right-menu ul li::after {content: '';position: absolute;height: 30px;top: 18px;border-right: 1px solid rgba(255,255,255,0.20);}

.panel-section {margin:5px auto;padding:0px;background:#FFF;border:2px solid #EEE;list-style:none;line-height:50px; padding:0px;margin:4px auto;height:150px}
.panel-section .round{ width:56px; height:56px;line-height:56px;text-align:center;opacity:0.2;color:#FFF; float:right;margin:20px 15px;}
.panel-section .round i{font-size:56px;}
.panel-section .status-title{color:#FFF;font-size:15px; text-align:left;padding-left:12px;}



.status-progressbar{height:2px;background:rgba(0,0,0,0.2);}
.progressbar{float: left;height: 100%;font-size: 12px;line-height: 2px;color: #fff;text-align: center;background: #FFF;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition: width .6s ease;-o-transition: width .6s ease;transition: width .6s ease;height:2px;width:70.1%}


.list-group li{ list-style:none}

.content-header-stock{background:#f5f7fa;padding:8px;height:35px;border:1px solid #ccced0;border-bottom:0px;border-radius:4px 4px 0px 0px;}
.content-header-stock h1{padding:0px; font-size:16px; color:#9d9fa2;margin:4px auto; line-height:12px;margin-left:-12px}

.ht-text{background:#FFF;padding:5px 4px;border-radius:4px 4px 0px 0px;box-sizing:border-box;border:1px solid #DDD;border-bottom:0px;height:35px;}
.ht-text h1{font-size:16px; color:#292b2c;margin:4px auto; /*line-height:12px;*/}
.ht-text label{margin:-3px auto; color:#292b2c;font-family:"Arial",Helvetica, sans-serif !important;font-weight:normal}

.table-section{height:auto;}
.table-section table{ margin:0px auto 0px auto; border:0px;background:#1776b6} 
.table-section .thead-inverse{ background:#1776b6;}

.left-search table,.cart-input table{position:relative;}
.left-search table th,.cart-input table td{max-width:120px;line-height:25px !important;margin:0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap; padding-left:8px;color:#292b2c;vertical-align:middle !important; text-align:left;  font-size:12px !important;padding:5px}
.left-search table th{color:#FFF}
.left-search table th:nth-child(2),.left-search table td:nth-child(2){width:72px;text-align:left}
.left-search table th:nth-child(3),.left-search table td:nth-child(3){width:110px;text-align:right}
.left-search table th:nth-child(4),.left-search table td:nth-child(4),.left-search table th:nth-child(10),.left-search table td:nth-child(10){text-align:right;width:110px}
.left-search table th:nth-child(14),.left-search table td:nth-child(14){width:175px;text-align:center}


/*.left-search table .first-th{max-width:38px}*/
/*.cart-input table td:first-child{min-width:38px !important;/*padding-left:15px !important}
.cart-input table td:first-child img{margin-left:1px}

.left-search table td:nth-child(2){min-width:120px}
.left-search table td:nth-child(3){min-width:114px}
.left-search table td:nth-child(5){min-width:130px}
.left-search table td:nth-child(6){min-width:130px}
.left-search table td:nth-child(7){min-width:130px}
.left-search table td:nth-child(8){min-width:130px}
.left-search table td:nth-child(9){min-width:130px}
.left-search table td:nth-child(10){min-width:82px}
.left-search table td:nth-child(14){min-width:80px}*/

/*.left-panel table .first-th{width:100%;max-width:8%}
.left-panel table td{width:120px !important;line-height:12px;padding:5px; margin:0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap !important;}
.left-panel table th {min-width:inherit !important;width: 100%;font-weight:normal !important;background:#1776b6;color:#FFF;border:0px !important;border-right:1px solid #2288d1 !important;}
.left-panel table thead {display: inline-flex;width: 100%;}
.left-panel table tr {display: inherit;width: 100%;}*/

/*.table-section .thead-inverse td:nth-child(2){}
.table-section .thead-inverse td:nth-child(3){}
.table-section .thead-inverse td:nth-child(4){}
.table-section .thead-inverse td:nth-child(5){}*/


/*.table-section .thead-inverse th:nth-child(2){width:40% !important;}
.table-section .thead-inverse th:nth-child(3){position:relative;left:5px;}
.table-section .thead-inverse th:nth-child(4){position:relative;right:44px;}
.table-section .thead-inverse th:nth-child(5){position:relative;right:75px}*/

/*.table-section .thead-inverse th:first-child{width:auto !important}*/

/*.table-filedset td:nth-child(2){width:40% !important;}*/
/*#itemCarttable td{border-top:0px !important;color:#292b2c;width:fit-content;min-width:80px}*/


/*.table-section .thead-inverse th:nth-child(2){}
.table-section .thead-inverse th:nth-child(3){position:relative;left:93px;}
.table-section .thead-inverse th:nth-child(4){position:relative;right:0px;}
.table-section .thead-inverse th:nth-child(5){position:relative;right:0px;}

.table-section .thead-inverse th:first-child{width:auto !important}

.table-filedset td:nth-child(2){width:35% !important;}*/


.table-section td{ color:#9d9fa2;background:#FFF; text-align:center}
.responsive-filedset{ display:table-cell; width:100%; border-top:1px dashed #7a8086; margin:10px auto; padding:10px 0px;}
.Separator-filedset{ display:table-cell; width:100%;margin:10px auto; padding:10px 0px;}
.table-section th{ color:#FFF; font-weight:normal;border-bottom:0px !important}
.table-section h4{color:#FFF}
/*.table-section td:first-child{width:50% !important;text-align:left}
.table-section th:first-child{width:50% !important}*/

.themeselect{position:relative;top:10px;}
.themeselect:hover{border:none;background:none !important;box-shadow:none}
.themeselect span{ text-align:left !important;}
.themeselect a{ text-align:left !important; line-height:0px !important;padding:10px !important;background:none !important;}
.themeselect a:hover{ text-align:left !important; line-height:0px !important;padding:10px !important;border:none;background:none !important;box-shadow:none;color:#292b2c !important}
.themeselect .text{ position:relative !important;top:0px !important; text-align:left !important; padding:0px 12px !important; background:none !important}

.left-search,.search-one {padding:0px 10px 0px 0px;overflow-x:hidden}
.right-search,.search-two{padding:0px 0px 0px 10px;overflow-x:hidden}

.left-search .thead-inverse th {padding:5px 8px}

#ModalSettingsPopup .table-list-section ul li{padding-left:0px;padding-right:0px}
.mymodal .modal-dialog{position: fixed;margin: 0px auto; padding: 0px;width: 100%;height: 100%;left:0px;right:0px;top:0px;bottom:0px;}
/*.modal-content{position: absolute;top: 0px;right:10px;bottom: 0px;left: 10px;}*/
/*.modal-footer {position: absolute;right: 0;bottom: 0;left: 0;}*/

#myItemSearch .modal-footer .btn-default{background:#348cd4;color:#FFF}

.content-section{height:100%;border:1px solid #DDD; overflow:hidden;}
.content-upload-table{height:100%;border-top:1px solid #DDD; overflow:hidden;min-height:450px;width:100%;}
.content-upload-table table{margin:20px auto}
.content-header{background:#FFF;padding:8px; height:51px}
.content-header ul li{list-style:none;color:#292b2c}
.content-header .dropdown a{color:#FFF;text-decoration:none;outline:none}
.content-header .dropdown li a{color:#292b2c}
.content-header i{padding-right:12px;padding-left:12px}
.content-header label{padding:6px 0px}
.upload-modal{background:none !important;padding:0px !important}
.upload-modal a{border:1px solid #DDD !important}
.upload-modal i{padding-right:0px;padding-left:0px}
/*.content{overflow: auto;position: relative;width: auto;max-width: 100%;max-height: calc(100vh - 250px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
.content-search-items{overflow: auto;position: relative;width: auto;max-width: 100%;max-height: calc(100vh - 250px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content-modal-table{overflow: auto;position: relative;width: auto;max-width: 100%;max-height: calc(100vh - 250px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content-table{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: calc(100vh - 220px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content-table-right{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: 100px;height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/*.content-grid{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: calc(100vh - 300px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
.content-table-inner{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: calc(100vh - 475px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.content-modal-print{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: calc(100vh - 200px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;padding-bottom:50px;}
.table-filedset{height:100%;min-height:385px;border:1px solid #DDD}
.content-dashboard{overflow: auto;position: relative;margin: 10px auto;width: auto;max-width: 100%;max-height: calc(100vh - 200px);height:100%;/*max-height:620px;*/-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/*.content-posmain{overflow: auto;position: relative;margin: 10px auto;width: auto;max-width: 100%;max-height: calc(100vh - 200px);height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/


#myModalprint .modal-body{padding:0px !important}

body.modal-open {
    overflow: hidden;
}

#main-body{position:fixed !important;position:absolute;top:0;right:0;bottom:0;left:0;}
.content-body{position:absolute;border:1px solid #DDD; /*min-height:644px;*/}
.content-panel{position:relative !important;width:auto !important;}
.content-table-modal{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: 600px;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
/*.content-modal{overflow: auto;position: relative;margin: 0px auto;width: auto;max-width: 100%;max-height: calc(100vh - 20px) !important; height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}*/
.content-modal-address{overflow: auto;position: relative;margin: 0px auto;width: auto;max-width: 100%;max-height: calc(100vh - 300px) !important; height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.table-modal{overflow: auto;position: relative; width: auto;max-width: 100%;max-height: calc(100vh - 190px) !important;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}

.btn-cal{padding:7px 10px;}

.ui-autocomplete{/*max-height:140px !important;*/ height:100%; overflow:auto !important;border-radius:0px 0px 4px 4px !important;}
.ui-menu-item{display:block;font-size:12px;line-height:20px;}
.ui-widget-content{height:240px !important; overflow:auto;/*max-width:445px !important;width:100%;*/}
.ui-widget-content a{color:#292b2c !important; cursor:pointer;font-family:"Arial",Helvetica, sans-serif !important;font-size:12px;color:#292b2c !important}
.ui-menu .ui-menu-item{border-top:0px !important;}


.search-secn{padding:0px 6px}

.search-autofill{ display:block;}
.search-autofill input[type=text]{width: 100%;height: 31px;color: #292b2c;padding: 0px 10px;border-radius: 5px 0px 0px 5px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow:none;border:1px solid #DDD;}
.add-icon{position: absolute;right: 0px;bottom: 0px;border: 1px solid #DDD;background:#1776b6;padding: 4.5px 8px;border-left:0px;border-radius: 0px 5px 5px 0px;z-index:9;color:#FFF}
.add-icon-search{position: absolute;right: -14px;background:#1776b6;bottom: 0px;border: 1px solid #DDD;padding: 4.5px 0px;border-left:0px;border-radius: 0px 5px 5px 0px;z-index:99;color:#FFF}


.search-section { position:relative;margin:0px auto}
.search-section input {width: 100%;height: 31px;color: #292b2c;padding: 0px 10px;border-radius: 5px;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow:none;border:1px solid #DDD;}
.search-section:before{content: "\f002";font-family: FontAwesome;font-style: normal;font-weight: normal;text-decoration: inherit;color: #c0c0c0;font-size: 14px;padding-right: 0.5em;position: absolute;top: 5px;right:0px;}

.flex-section{padding:0px 0px}

/*.left-search{padding:0px 5px 0px 15px}
.right-search{padding:0px 15px 0px 0px}*/


::-webkit-input-placeholder {text-align:left;font-size:12px; font-weight:normal !important;color:#c0c0c0 !important; font-family:"Arial",Helvetica, sans-serif !important}
::-moz-placeholder {text-align:left;font-size:12px; font-weight:normal !important;color:#c0c0c0 !important;  font-family:"Arial",Helvetica, sans-serif !important}
:-moz-placeholder {text-align:left;font-size:12px;font-weight:normal !important;color:#c0c0c0 !important;  font-family:"Arial",Helvetica, sans-serif !important}
:-ms-input-placeholder {text-align:left;font-size:12px;font-weight:normal !important;color:#c0c0c0 !important;  font-family:"Arial",Helvetica, sans-serif !important}

.scan-text input {width: 50%;box-sizing: border-box;border: 1px solid #c8c8c8; height:25px;border-radius: 4px;font-size: 16px;background-color: #FFF;padding: 5px 5px 5px 5px;-webkit-transition: width 0.4s ease-in-out;transition: width 0.4s ease-in-out}

/*.search-secn ul li{ display:inline-block;list-style:none}*/
.search-secn i{color:#9d9fa2;font-size:15px;border:1px solid #aeb7bc;padding:8px;border-radius:4px}
.search-secn i:hover{color:#9d9fa2; background:#FFF}

.right-section-menu{margin:0px 0px 12px 0px; padding:0px 0px;position:relative}
.right-section-menu .btn .caret{margin-left:8px;}
.right-section-menu  i{padding-right:0px}
.right-section-menu .btn-primary{background:#8892d6;border:0px}
.right-section-menu .btn-success{background:#45bbe0;border:0px}
.right-section-menu .btn-info{background:#348cd4;border:0px}
.right-section-menu .btn{margin-left:4px !important;border-radius:4px !important;border:0px !important}

.content-modal-pos h4{/*padding-left:18px;*/font-family:"Arial",Helvetica, sans-serif !important;color:#292b2c;font-size:16px}
.content-modal-pos h4 label{font-weight:normal}    
.content-modal-pos .content-header{padding:8px 16px}

.flex-section-top{padding:0px 5px}
.flex-section-top:last-child{padding:0px 0px}
.flex-section-top:first-child{padding:0px 5px 0px 0px}
/*#myModalDrafts .modal-dialog{width:50% !important;margin-top:5%}*/
/*#myModalTenders .modal-dialog{width:50% !important;margin-top:5%}*/

.accordion-panel{margin:-10px auto auto auto;}
.accordion-panel li{ display:block}
.accordion-panel .link {min-height:35px;background: #1776b6;cursor: pointer;display: block;padding: 8px 8px 8px 8px;color: #FFF;font-size: 14px;font-weight: normal;border-bottom: 1px solid #CCC;position: relative;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;text-align:right;position:relative;bottom:11px}
.accordion-panel li:last-child .link { border-bottom: 0; }
.accordion-panel li i {position: absolute;top: 16px;left: 12px;font-size: 18px;color: #595959;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion-panel li i.fa-chevron-down {left: 12px;right: auto;font-size: 16px;}
.accordion-panel li.open .link { color: #aeb7bc; }
.accordion-panel li.open i { color: #595959; }
.accordion-panel li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}

.accordion-panel li ul li{display:inline-flex;padding:0px 20px}

/**
 * Submenu
 -----------------------------*/


.submenu {display: none;background: #FFF;font-size: 14px; padding:20px;width:100%}
.submenu li { border-bottom: 1px solid #aeb7bc; }
.submenu a {display: block;text-decoration: none;color: #d9d9d9;padding: 12px;padding-left: 42px;-webkit-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.submenu a:hover { background: #b63b4d; color: #FFF;}


.content-body{padding:5px;margin:0 auto;text-align:center;color:#656668;background:#FFF;width:100%/*min-height:644px*/}
.content-body ul{text-align:left;}
.content-body ul li{ list-style:none; display:inline-block;line-height:23px; background:#FFF; padding:8px; margin:0px 4px;width:100%;max-width:16%;text-align:left;border:2px solid #EEE;border-radius:5px; overflow:hidden; height:100%; min-height:162px;white-space:normal;text-overflow:ellipsis}
.content-body ul li h5{margin:0px auto;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;width: 100%;}
.content-body .item-sec{background:#f1f3f6;text-align:center;margin:5px auto;padding:25px 10px;}
.content-body .item-sec small{background:#FFF}
.content-body .item-sec p{line-height:0px !important}
.content-body ul li:active{background:#1bbf2b;border:1px solid #1bbf2b}
.content-body ul li:active .item-sec{background:#FFF}
.content-body ul li:active h5,.content-body ul li:active small{color:#FFF}
.content-body ul li:active p{color:#FFF !important}
.content-body ul li:active .item-sec small {color:#292b2c}
.content-body ul li:active .item-sec samp{background:#FFF !important}
.content-body-item{padding:2px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
/*.content-body-item small{font-size:11px !important;top:5px; position:relative;padding:5px; color:#595959;font-family:"Arial",Helvetica, sans-serif; text-overflow:ellipsis; white-space:nowrap;background:#f1f3f6 !important;border-radius:5px; }*/
.content-body-item small{font-size:12px;font-weight:bold;padding:0px 5px;margin:0px auto;bottom:-5px;position:relative;color:#292b2c;font-family:"Arial",Helvetica, sans-serif; text-overflow:ellipsis; white-space:nowrap;border-radius:2px;}
.content-body-item .item-sec samp{color:#292b2c;padding:5px;font-size:25px;text-align:center;line-height:34px;vertical-align:text-bottom; text-decoration:none !important;background:#f1f3f6 !important;border-radius:5px; }
.content-body-item{padding:2px;line-height:15px;}
.content-body ul li a{ text-decoration:none !important}


.calc-section{ border:1px solid #DDD;padding:13px 0px;background:#FFF;display:flex; list-style:none; margin:0px auto;color:#FFF;}
.calc-section label{color:#292b2c;font-size:12px;margin-top:16px }
.left-search{padding:0px 5px 0px 16px}
.right-search{padding:0px 16px 0px 5px}

/*.calc-section input[type=text]{outline:none;border:none;border-radius: 0px;margin:5px auto;padding: 0px 5px; border:0px;background: #FFF; border-bottom: 1px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc}*/
/*.calc-section input[type=text]:focus{outline:none;border:none;border-bottom:1px solid #49a3f1;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal }*/

.calc-section input[type=text],.calc-section input[type=number]{font-size:12px;border-radius: 0px;margin:0px auto !important;padding: 0px 5px; border:0px;background: #FFF; border-bottom: 1px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc;background: white no-repeat;background-image: linear-gradient(to bottom, #1776b6, #1776b6), linear-gradient(to bottom, #DDD, #DDD);background-size: 0 2px, 100% 1px;background-position: 50% 100%, 50% 100%;transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);margin:5px auto 0px auto;position:relative;color:#292b2c;font-weight:normal;}
.calc-section input[type=text]:focus,.calc-section input[type=number]:focus{background-size: 100% 2px, 100% 1px;outline: none !important;box-shadow:none !important;border:0px !important;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;}

/*hr{margin-top:0px;margin-bottom:10px}*/

.price-list{text-align:justify}
.price-list ul {padding: 0px;overflow: auto;}
.price-list ul li h1 {font-size: 18px;margin-top: 0px;background: #348cd4;padding:8px;color:#FFf;border-radius:4px}

.price-list ul li {list-style: none;border: 1px solid #DDD;padding: 10px;display: inline-block;width: 100%;max-width: 178px;margin: 2px 2px;border-radius:5px}
.price-list ul li small {padding: 5px 10px;margin:-15px 0px 0px 0px;font-size:14px;}
.price-list ul li:active{background:#1bbf2b; color:#FFF;border:1px solid #1bbf2b}
.price-list ul li:active h1{color:#292b2c;background:#FFF;}
.subscription-date span{display:inline-block;padding:0px 5px;font-weight:normal}
.bt-list-group{text-align:right}
.bt-list-group .bt-cancel{background:#FFF;border:1px solid #CCC;color:#292b2c}
#btnPay{background:#6c757d}

.form-wrapper .button, .form-wrapper .submit{background-color: #348cd4;display: inline-block;padding: 8px 30px;color: #fff;cursor: pointer;font-size: 14px !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;border-radius:4px}

.cart-input input[type=text]{width:auto;outline:none;border:none;border-radius: 0px;border:0px;background: #FFF; border-bottom: 2px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc}
.cart-input input[type=text]:focus{outline:none;border:none;border-bottom:1px solid #DDD;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal }

.cal-body{text-align:center}
.cal-body ul li{list-style: none;display: inline-block;background: #FFF;padding: 11px 0px 11px 0px;margin: 2px auto;width: 100%;max-width:31%;text-align: center;border: 1px solid #DDD;border-radius: 5px;color: #292b2c;cursor: pointer;}
.cal-body ul li:hover{background:#49a3f1;color:#FFF}
.cal-body .pay{background: #337ab7;color:#FFF}

.size-large .modal-dialog {width: 98%;height: 100%;margin: 5px auto;padding: 10px 0px;}
.size-large .modal-content {height: auto;min-height: 100%;border-radius: 4px;}
.size-large .modal-footer{position: absolute;right: 0;bottom: 0;left: 0; background:#FFF;}
#ModalShortCutPopup{width:40%;margin:10% auto !important}
#ModalShortCutPopup .modal-header{background:#1776b6; border-radius:5px 5px 0px 0px}
#ModalShortCutPopup .modal-footer{border-radius:0px 0px 10px 10px}
#ModalShortCutPopup .modal-header h4{font-size:25px !important; text-align:left;font-family:"Conv_seguisbi" !important; line-height:30px !important; font-weight:normal !important; color:#FFF;}
#ModalShortCutPopup .table-inner  th{background:#1776b6 !important; color:#FFF;font-size:13px; text-align:left !important}
#ModalShortCutPopup .table-inner  td{color:#292b2c;font-size:12px; text-align:left !important}
#ModalShortCutPopup .modal-body{ padding-top:10px ; padding-bottom:55px}
#ModalShortCutPopup .{margin:0 auto !important}

.bootstrap-dialog-title{font-size:25px !important; text-align:left;font-family:"Conv_seguisbi" !important; line-height:30px !important; font-weight:normal !important}
.bootstrap-dialog .bootstrap-dialog-message{font-size:15px !important;color:#292b2c; font-weight:normal !important;font-family: "Arial",Helvetica, sans-serif !important;}

.modal-section{width:100%;margin:0 auto;padding:0px;}
.data-panel{padding:0px 30px;margin:0px auto;}
.cal-panel{margin:0px auto;padding:0px 30px 0px 34px;}
.data-details{margin:15px auto;}
.data-details .btn-default{color:#292b2c}
.data-table-total .table-data{background:#FFF !important;}
.data-table-total .table-data td{height:20px !important;padding-top:0px;padding-bottom:10px;line-height:0px}
.liner:after {content: '';width: 0;height: 83%;position: fixed;border-right: 1px solid #9d9fa2;padding:0 10px;top:8%;left:48.4%}

 .data-table-total{overflow: auto;position: relative;width: auto;max-width: 100%;max-height: 220px !important;height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
 .data-table-total .table-section{padding:0px 20px}

.table-modal table{ margin:0px auto 0px auto; border:0px;/*background:#FFF*/} 
.table-modal .thead-inverse{ background:#1776b6;color:#FFF}
.table-modal td{color:#292b2c;padding:8px 4px !important}


.cal-panel .cal-body ul li{width:23.5%}
.cal-panel label{ margin-top:12px; color:#292b2c}
.cal-panel input[type=text]{outline:none;border:none;border-radius: 0px;margin:5px auto;padding:0px 10px; border-radius:4px;background: #FFF; border:1px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc;}
.cal-panel input[type=text]:focus{outline:none;border:none;border:1px solid #DDD;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal }

.card-section-panel{padding:0px 0px 0px 10px;}
.card-section-panel ul li {list-style:none; display:inline-block;}
.card-section-panel h4{margin:-10px auto 10px auto}
.card-section-panel .cal-body ul li{background:#23b7e5;color:#FFF;border:1px solid #23b7e5; padding:10px 0px 10px 0px;margin:1px;text-align:center;max-width:18%;width:100%;font-size:12px;line-height:30px;margin:2px 10px 0px 0px;}
.btn-sectionsub ul li {list-style:none; display:inline-block;}
.btn-sectionsub .cal-body ul li{width:100%; background:#337ab7;color:#FFF;border:11px solid #337ab7; padding:5px;}
.btn-print{background:#348cd4;border:0px;padding:10px 0px 10px 0px;width:120px !important;line-height:30px;position:relative;}
.btn-tender{background:#fb78a4;border:0px;padding:10px 0px 10px 0px;width:120px !important;line-height:31px;position:relative;}
.print-area{margin:10px auto 0px auto}
.print-area label{color:#FFF;margin:0px auto}
.btn-tender label{margin-top:0px !important}
.table-input label{margin-top:0px}

.calc-section-modal{padding:20px 40px 0px 25px;background:#FFF; line-height:0px;}
.calc-section-modal{display:block; list-style:none; margin:0px auto;color:#FFF;}
.calc-section-modal label{color:#aeb7bc;font-size:12px; margin-top:22px;}
.calc-section-modal input[type=text]{outline:none;border:none;border-radius: 0px;margin:5px auto;padding: 0px 5px; border:0px;background: #FFF; border-bottom: 2px solid #DDD;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal;color:#aeb7bc}
.calc-section-modal input[type=text]:focus{outline:none;border:none;border-bottom:1px solid #DDD;border-radius:0;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;font-weight:normal }

.size-large .modal-title,.cal-panel h4{color:#292b2c;font-weight:normal;font-family:Arial, Helvetica, sans-serif;}
#itemCustable td{color:#292b2c}
#itemCustable .thead-inverse th{padding:6px 8px;text-align:left;}
#itemCustable .thead-inverse th label{margin:0px auto;text-align:left}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{background-color: rgba(23,118,182,0.75) !important;width:4px !important;}
.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {background-color: rgba(216, 227, 240, 0.8) !important;}
.mCSB_scrollTools .mCSB_draggerContainer {background-color:rgba(255, 255, 255, 0.1)!important;background-color: transparent !important;/*rgba(216, 227, 240, 0.8)!important;*/}
.mCSB_container{width:100% !important;}
.mCSB_inside > .mCSB_container{ margin-right: 0px !important;}
.mCSB_scrollTools .mCSB_draggerContainer{left:0px;}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:8px !important}

.menu{margin:0px 5px 0px auto; /*position:relative;right:30px;*/}
.menu li{border:1px solid #cac8c8; padding:0.5px 0px;position:relative;background:#FFF;}
.menu li:nth-child(2),.menu li:nth-child(3),.menu li:nth-child(4){border-left:none}
.menu li:first-child{border-radius:4px 0px 0px 4px; border-right:0px}
.menu li:last-child{border-radius:0px 4px 4px 0px}
.menu li a{padding:6px 15px;color:#292b2c !important;font-size:110%;}
.menu li a:hover{background:#fafafa !important}
.menu .btn-create i,.menu li i{padding-right:8px;vertical-align:middle; position:relative;bottom:2px;}

.menu #btnGenerate,.menu #btnPreview{border-right:1px solid #cac8c8;}
.menu #btnEdit{border-left:1px solid #cac8c8;border-radius:4px 0px 0px 4px; }
.menu #btnCancel{border-left:1px solid #cac8c8;}
.menu #btnDelete{border-right:0px;}
.menu .btn-create{background:#4a89dc;/*padding:5px 10px;*/border-radius:4px;color:#FFF;}


.dropdown-menu > li > a{color:#292b2c}
/*.status-btn{ position:relative;bottom:3px;}*/
.status-btn i{color:#292b2c;padding-right:8px;}
.status-btn button{ border-color:#cac8c8; font-size:110%;color:#292b2c}
.btnclss .dropdown-menu{left:4px;right:auto}
.btn-upload{border-radius:4px !important}

.total-list-value{text-align:right;padding:0px !important}
.total-list-value li{display:inline-block !important;padding:0px !important}

/*.search-form{ position:relative;left:16px;}*/
.search-form input[type=text]{border-radius:4px !important; box-shadow:none}

/*--------------------- Grid ---------------------*/
/*.navbar-default{ background:none !important;border:none !important; margin-bottom:10px; border-radius:0 !important;}
.navbar-default .navbar-brand{color:#c0c0c0 !important;}*/

.home-section{background:#fafafa;border-bottom: 1px solid #d9e3e8;margin: 0 auto;padding: 0;text-align: center; padding-bottom:5px;}
.report-heder-section{background:#fafafa;border-bottom: 1px solid #d9e3e8;margin: 0 auto;padding: 0;text-align: center; padding-bottom:5px;}
.report-heder-section ul li{list-style:none;display:inline-block;border-right:1px solid #DDD;padding-left:10px;padding-right:10px;font-size:14px}
.report-heder-section ul li input[type=text]{border:1px solid #DDD;padding-left:10px}
.report-heder-section ul li:last-child{border-right:0px}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form {padding:0px !important; margin:0px auto !important}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover{background:#1776b6;color:#FFF}
.navbar-default li{color:#292b2c !important;}*/

.content-module-section{margin:19px 14px;padding:30px 35px 30px 35px; background:#FFF;border:1px solid #ddd;height:100%;}
.panel-sec{margin:20px 13px;}


/*.list-icons{position:relative;bottom:3px;left:12px;}*/
.list-icons .dropdown-menu > li > a { color:#292b2c !important;}

#divIntuitive{position:relative;padding-left:5px}
#divIntuitive i{padding-right:8px;color:#292b2c}
#divIntuitive .btn-default{color:#292b2c !important}
.grpah-icon i{color:#292b2c;padding-right:0px !important}

.table-grid{margin:0px auto; padding:0px 10px;}
.table-grid th{ background:#1776b6;color:#FFF}
.content-module-section .table-responsive table{ text-align:left !important;}
.content-module-section .table-responsive table th{background:#1776b6;color:#FFF; font-size:90%; text-shadow:none;-webkit-text-shadow:none;}
.content-module-section .table-responsive table th label{margin-bottom:0px;}
.content-module-section .table-responsive table th input[type=button]{background:none;border:0px;box-shadow:none; outline:none;/*font-size:14px !important;*/ font-size:80%; font-weight:normal}
.content-module-section .table-responsive table th img{position:relative;top:-1px;}

.content-module-section .table-responsive table td{color:#292b2c;font-size:100%;white-space:nowrap;text-overflow: ellipsis ;overflow: hidden ;max-width: 120px ; table-layout:fixed;}
.content-module-section .table-responsive input[type=text]{width:100%; border:0px solid #DDD; background:#FFF /*height:32px;*/ }
.content-module-section .table-responsive input[type=text]:focus{box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1); background:#fafafa;}
/*#tblSummaryGridSub td{padding:0px; vertical-align:middle; line-height:40px;}*/
/*#tblSummaryGridSub td input[type=text]{height:40px;}*/

.Add-Details{width:100% !important;border:none !important;color:#FFF;height:38px !important;}
.Add-Details tr td{ text-align:center !important;width:auto !important}
.Add-Details th{border:0px !important;border-bottom:1px solid #fafafa !important;}
.Add-Details tr td img{width:auto !important; display:inline-block;}

 .showcss{ display:block;}
 .hidecss{ display:none;}

.content-module-section .table-responsive .table-inner th{ font-size:100%; font-weight:normal !important}
.content-module-section .table-responsive .table-inner td{line-height:30px;padding:0px; margin:0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap;width:auto !important;vertical-align:middle !important;}
.content-module-section .table-responsive button {border:1px  solid #DDD ;height:30px;border-radius:0px !important; background:#cac8c8;}
.content-module-section .table-responsive i{color:#FFF; position:relative !important; font-size:14px; top:0px; left:5px; padding-right:12px;}
/*.content-module-section .table-responsive tr:nth-child(odd){background:#f9f9f9}*/


#Modalcomponent .table-responsive table th{ background:#1776b6;color:#FFF;font-size:14px;font-weight:normal}
#Modalcomponent .table-responsive .table-inner td{line-height:30px;padding:0px; margin:0px;overflow: hidden !important;text-overflow: ellipsis !important;white-space: nowrap;width:auto !important;vertical-align:middle !important;}
#Modalcomponent .table-responsive .table-inner input[type=text]{width:100%; border:1px solid #DDD;background:#FFF;height: 35px !important; color:#292b2c}
#Modalcomponent .table-responsive .table-inner input[type=text]:focus{background:#fafafa}
#Modalcomponent .table-responsive i{padding-right:12px; font-size:14px;}
#Modalcomponent .table-responsive th input[type=button]{background:none;border:0px;box-shadow:none;outline:none;font-size:14px !important;}
/*#Modalcomponent .table-responsive .table-inner tr:nth-child(odd){background:#f9f9f9}*/

#Modalcomponent .modal-header{ text-align:left;color:#FFF;border-radius:4px 4px 0px 0px !important; background:#1776b6; font-family:"Conv_seguisbi"}
#Modalcomponent .modal-title{font-size:150% !important; color:#FFF;}
#Modalcomponent .modal-footer {position:relative !important}
#Modalcomponent .table-responsive table th img{position:relative;top:-2px;}


.modal-header {background-color:#1776b6 !important ;}

.modal-header h4{color:white !important ;}
.grid-section {display: none;background: #FFF;margin:0 auto; padding:20px;width:100%; font-size:100%;}


.table-list-section{ width:100%; margin:0 auto;padding:0;}
.table-list-section ul{ display:block;width:100%;}
.table-list-section ul li{ list-style:none;border:none; padding:0px 40px 0px 40px;line-height:35px; margin:0px 0px 0px 0px; display:block}
.table-list-section ul .lable-grp{ margin:0px}
.table-list-section ul li label {color:#292b2c;font-weight:normal;padding-right:12px; font-size:12px;}
.table-list-section ul li input[type=text],.table-list-section ul li input[type=number] {line-height:30px;height:32px;width:100%;padding:0px 8px 0px 8px;background:#fff;color:#666;font-size:13px;border: none;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;border:1px solid #ddd;border-radius:5px; margin-bottom:5px;}
.table-list-section ul li input[type=text]:focus,,.table-list-section ul li input[type=number]:focus{box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1); background:#fafafa;}
/*.ui-autocomplete{width:459px !important; border-radius:0px 0px 4px 4px !important}*/

.table-list-section ul li input[type=password] {line-height:30px;height:32px;width:100%;padding:0px 8px 0px 8px;background:#fff;color:#666;font-size:13px;border: none;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;border:1px solid #ddd;border-radius:5px; margin-bottom:5px;}
.table-list-section ul li input[type=password]:focus{box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1); background:#fafafa;}



.table-list-section ul li input[type=radio]{background:#fff;color:#666;font-size:13px;border: none;border-radius:5px;margin:15px 10px 0px 0px; float:left;}
.table-list-section ul li input[type=checkbox]{background:#fff;color:#292b2c;font-size:13px;border: none;margin:8px 0px 0px 0px; position:relative; top:1px;/*left:65px*/}
.table-list-section ul li select{line-height:20px;height:32px !important;width:99.99% !important;background:#fff;color:#666;font-size:13px;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;border:1px solid #ddd;border-radius:5px;background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");padding-left: 10px;background-repeat: no-repeat;background-size:auto 50%;background-position: right 10px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.table-list-section ul li select:focus{box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1); background:#fafafa;outline: none !important;background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20448%22%20enable-background%3D%22new%200%200%20256%20448%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E.arrow%7Bfill%3A@{arrow}%3B%7D%3C%2Fstyle%3E%3Cpath%20class%3D%22arrow%22%20d%3D%22M255.9%20168c0-4.2-1.6-7.9-4.8-11.2-3.2-3.2-6.9-4.8-11.2-4.8H16c-4.2%200-7.9%201.6-11.2%204.8S0%20163.8%200%20168c0%204.4%201.6%208.2%204.8%2011.4l112%20112c3.1%203.1%206.8%204.6%2011.2%204.6%204.4%200%208.2-1.5%2011.4-4.6l112-112c3-3.2%204.5-7%204.5-11.4z%22%2F%3E%3C%2Fsvg%3E%0A");padding-left: 10px;background-repeat: no-repeat;background-size:auto 50%;background-position: right 10px center;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
.table-list-section ul li span { padding:0;color:#292b2c; font-size:12px; float:left; clear:both;/*margin-bottom:-8px;*/}
.table-list-section ul li textarea {line-height:1.456894;width:100%;padding:5px 8px 0px 8px;background:#fff;color:#666;font-size:13px;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;border:1px solid #ddd;border-radius:5px; margin-bottom:10px; min-height:106px; height:100%;resize: none; }
.table-list-section ul li textarea:focus{box-shadow: 0 0 5px rgba(81, 203, 238, 1);border: 1px solid rgba(81, 203, 238, 1); background:#fafafa;}
.table-list-section ul .radio-sec{ line-height:9px !important}
.table-list-section ul .radio-sec label{ padding-top:16px;}

.table-list-section ul li .radio-list-group{ display:block; border:1px solid #DDD; padding-bottom:12px; margin:20px 0px 10px 0px; border-radius:4px;}
.table-list-section ul li .radio-list-group li{ display:table; padding:0; margin:0; line-height:40px;vertical-align:middle}
.table-list-section ul li .radio-list-group li ul li{  display:inline-block;padding:0px 5px;margin:5px auto;line-height:0px}
.table-list-section ul li .radio-list-group li ul li label{bottom:0px;position:relative;padding:0px 10px;}
.table-list-section ul li .radio-list-group .rblbox{position:relative;margin:0px 0px 0px 0px;line-height:0px;text-align:center;width:100%;}


.pagination-section{height:50px;width:100%;text-align:center;border-bottom:1px solid #DDD;margin-top:-20px;background:#FFF}
.pagination-section li{display:inline-flex !important;padding:0px; }
.pagination{margin:8px auto;background:no-repeat}


.accordian-section{width:auto; margin:10px 0px 20px 0px;padding:0px;display:block;}	
.accordion {width: 100%;margin: 0px auto; background: #FFF;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;border: 1px solid #ddd; text-align:left}
.accordion .link {cursor: pointer;display: block;padding: 10px 15px 10px 22px; font-size: 16px;border-bottom: 1px solid #eee; position: relative;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion span{ padding:0px 0px 0px 10px;color:#292b2c;font-size:14px;}
.accordion li:first-child{border:none}
.accordion li{ list-style:none;border-top: 1px solid #eee;}
.accordion li:last-child .link { border-bottom: 0; }
.accordion li i {position: absolute;top: 16px;left: 22px;font-size: 14px;color: #292b2c;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion li i.fa-chevron-down {right: 12px;left: auto;font-size: 12px;}
.accordion li.open .link span{ color: #FFF !important;}
.accordion li.open i { color: #FFF; }
.accordion li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);  transform: rotate(180deg);}
.accordion .active{ display:block;}

.accordion .deactive-link .link span{ color:#292b2c !important}
.accordion .active-link{ color:#292b2c !important;  background:#1776b6 !important;}
.accordion .active-link .link span{ color:#FFF !important;}
.accordion .active-link i{color:#FFF !important;-webkit-transform: rotate(180deg) !important;-ms-transform: rotate(180deg) !important;-o-transform: rotate(180deg) !important;  transform: rotate(180deg) !important;}
.accordion li.open{color:#292b2c !important;  background:#1776b6 !important;}
.accordian .active-link .link span{ color:#FFF !important}

.accordion table th{background:#1776b6;color:#FFF;font-size:14px}
.user-panel  h1{ font-size:12px; color:#666; text-align:left;font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;}
.feature-panel{background:#FFF;min-height:250px; height:100%;}
.User-Buttons{ margin-top:80%;}
.User-Buttons i{color:#FFF !important;font-size:150% !important; position:relative !important;top:1px !important;left:-2px !important;text-align:center !important;}
.User-Buttons button{margin:5px;width:35px;}
.User-Buttons li{ margin-bottom:5px !important;}
.feature-panel select{border:1px solid #DDD;min-height:400px; height:100%; width:100%}
.feature-panel select option{padding:5px !important;}

.feature-panel .search-form{ margin:10px; padding:5px}
div.pager {text-align: center;margin: 1em 0;}
div.pager span {display: inline-block;text-align: center;cursor: pointer;background-color: #ffffff !important;color: #292b2c;border: 1px solid #DDD; padding:5px 10px; font-size:12px;border-right:0px;}
div.pager span:last-child{border-right:1px solid #DDD}
div.pager span.active {background: #DDD !important; color:#292b2c;border:1px solid #DDD}
.link label{font-size: 14px; margin: 0px; font-weight:normal}

/*--------------------- Grid ---------------------*/

/* Footer Section*/
.footer-section{position:fixed;bottom:0px;width:100%; margin:0 auto;padding:0;left:0;right:0;height:30px;overflow:hidden;}
/*.footer-section{ position:absolute;bottom:0;width:100%; margin:0 auto; padding:0;left:0;right:0;height:30px;overflow:hidden;z-index:-1}*/
.footer-section ul{margin:0 auto;padding:0px;display:block;width:100%}
.footer-section ul li{ list-style:none; padding:8px 0px 10px 0px;border:1px solid #cac8c8; display:inline-block;background:#f7fbfe; margin:0 auto;font-size:12px;color:#292b2c;line-height:12px;height:30px; padding:5px;}	
.footer-section ul li i{ padding-right:12px;}
.footer-section ul li span{ line-height:22px}
/* Footer Section*/

.modal-title label,.size-large .modal-footer label,.right-section-menu label,.list-icons label,.menu label,.drop-menu-section label,.dropdown-menu label,.dropdown-menu-arrow label{font-weight:normal;margin-bottom:0px;}
.modal-footer label{font-weight:normal;margin-bottom:0px;}
.modal-title{color:#292b2c;}
  .table-filedset table{background:#FFF !important}
  .details-table td{border:1px solid #EEE}

.details-table i{padding-right:12px;clear:both;width:30px}
/*--------------------------------------Dash Board----------------------------------------------------*/


.dashboard-stats{margin:10px auto;background-color: #FFFFFF;position: relative;min-height: 107px;padding: 3px;padding-left: 5%;box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);-webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);border-radius: 2px;display: table;width: 100%;text-align: left;margin-bottom: 10px;cursor:default}
.dashboard-stats .left {float: left;padding-top: 5px;}
.dashboard-stats label{margin-bottom:0px;}
.dashboard-stats .left h4{font-size:12px;font-weight:bold; color:#666;line-height:24px; font-family:inherit; font-family:Arial, Helvetica, sans-serif;}
.dashboard-stats .right {position: absolute;right: 3px;top: 3px;width: 40%;bottom: 3px;border-radius: 2px;font-size: 38px;text-align: center;color: #FFFFFF;}
.dashboard-stats .right i{color:#FFF; vertical-align:middle;line-height:100px;}


.icon-section{margin:0px 5px;}
.icon-section .dashboard-panel{padding:0px 8px}
.icon-section .list-group {padding-left: 0;margin-bottom: 20px;}
.list-group .btn-primary{padding:6px 10px;margin:5px 0px 0px 0px;  border:1px solid #cac8c8 !important;outline:none !important; background:#e6e6e6;color:#292b2c;box-shadow:none; font-size:14px;}
.list-group .btn-primary:hover{background:#fafafa;}

.list-group .dropdown-menu li{padding:0px 15px; line-height:12px;}
.list-group .dropdown-menu li input[type=checkbox]{position: initial; margin-right:12px;vertical-align:text-bottom}
.list-group .dropdown-menu li label{font-size:100%; padding-right:12px}

.quick-actions{padding:0px;margin:0px 5px;}
.quick-actions .dashboard-panel{padding:0px 8px}
.quick-actions a {color: #292b2c;}
.quick-actions .list-group{margin-bottom:10px}
.quick-actions .list-group-item {padding:10px 15px 8px 15px;cursor:pointer !important}
.quick-actions a:visited{background:#FFF}
.quick-actions a:hover {background-color: #e4e4e5 !important;color: #292b2c !important;}
.quick-actions a:hover i {color: #292b2c !important;}
.quick-actions a i {font-size: 20px;padding-right: 20px;color: #292b2c;border-right: 1px solid #d7dce5;margin-right: 20px;position:relative;top:2px}
.quick-actions a label{font-weight:normal;cursor:pointer !important}

.quick-actions #invoicebtn{background:#23b7e5;color:#FFF;cursor:pointer !important;padding:7px 15px 7px 15px}
.quick-actions #invoicebtn i{font-size:25px;color:#FFF}

#Uimg{width: 100px !important;height: 100px !important;border: 1px Solid #DDD;border-radius: 50px;background: #FFF;}


.graph-section{background:#FFF;padding:20px 20px 45px 20px;border:1px solid #DDD;height:100%;max-height:330px;}
.graph-section img{ display:block;width:100%; height:100%;}
#div_graph1{height:450px}
.home-grpah-img{height:300px !important}
.dashboard-panel-graph{padding:0px 8px;}
.quick-actions-graph{padding:0px;margin:0px 5px}
.quick-actions-graph label{color:#00acac}
.quick-actions-graph .dashboard-panel{padding:0px 8px}
.quick-actions-graph h4{margin:0px auto}
.quick-actions-graph hr{margin:5px auto !important}


#tblGrid th{font-size:14px;font-weight:normal;color:#292b2c}


.dashboard-stats-graph{margin:10px auto;border:1px solid #DDD;background-color: #FFFFFF;position: relative;min-height: 100px;padding: 3px 20px;cursor:default}
.dashboard-stats-graph .left {float: left;padding-top: 5px;}
.dashboard-stats-graph .left i{vertical-align:middle;line-height:80px;font-size:50px;color:#FFF}
.dashboard-stats-graph .left h4{font-size:12px;font-weight:bold; color:#666;line-height:24px; font-family:inherit; font-family:Arial, Helvetica, sans-serif;}
.dashboard-stats-graph .right {position: absolute;left: 80px;top: 3px;width: 60%;bottom: 3px;border-radius: 2px;font-size: 38px;text-align: left;color: #FFFFFF;}
.dashboard-stats-graph .right small{position: relative;left: 0px;color:#595959;font-size:18px; bottom:5px}
.dashboard-stats-graph .right label{position: relative;left: 10px;color:#00acac;font-size:18px;bottom:10px;font-weight:normal}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border: 1px solid #1776b6 !important;border-bottom-color: transparent !important;background-color: #1776b6;color: white;font-weight: bold;}
#div_graph1 #canvas{height:100%;max-height:375px !important;display:block;width:100%}
#Top5Items {height:100%;max-height:375px !important;display:block;width:100%}
#TodayTenderSale {height:100%;max-height:370px !important;display:block;width:87% !important;margin-top:20px}
#div_graph1 #canvasWeek,#div_graph2 #canvasMonth,#div_graph3 #canvasYear{height:100% !important;max-height:380px !important;display:block !important;width:100% !important;}

.modal{margin:39px auto}

/*#div_alertboxModel.modal-dialog{width:35%;}*/
#div_alertboxModel .modal-header{background:#1776b6 !important;}
#div_alertboxModel .btn-default{background:#4a89dc;color:#FFF;border-color:#4a89dc;box-shadow:none}

.info-alert{font-size: 300%;color: #ffd729;margin: 0px 60px;position: relative;top: 14px; position:relative;right:20px;}
.info-alertSuc{font-size: 300%;color: #7bb221;margin: 0px 60px;position: relative;top: 14px; position:relative;right:20px;}
.alert-message {text-align :left;bottom: 20px;width:100%;max-width:60%;position:relative;margin:0px auto}



.modal .pagination-section{background:#EEE;height:58px;width:100%;text-align:center;position:absolute;bottom:55px}
.modal .pagination-section li{display:inline-block;padding:0px}
.modal .pagination{margin:8px auto;background:no-repeat}

.mCS_img_loaded{width:20%;margin-left:12px;object-fit:cover;overflow:hidden}

#div_grid label{margin-bottom:20px;font-weight:bold;font-size:15px;text-align:center !important}
#div_grid h5{margin:0px auto}

#myTable p{line-height:10px !important;overflow:hidden !important;text-overflow:ellipsis !important;white-space:nowrap !important;width:100% !important;margin:-15px auto auto auto;}


.inner-address-div{border:1px solid #DDD;padding:20px 10px;background:#FFF;text-align:justify;word-wrap: break-word;overflow: auto;position: relative;margin: 0px auto;max-height: calc(100vh - 300px) !important; height:100%;-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
#ulHomeAddresses li{padding:0px;color:#333;}
.inner-address{line-height:20px;border:1px solid #EEE;background:#fafafa;margin:10px 20px;padding:4px 10px}

.print-popup thead h2{font-size:25px;margin:-10px auto 10px auto;color:#292b2c}
.print-popup h4{font-size:15px;border-bottom:1px solid #DDD;padding-bottom:10px;font-weight:normal;color:#292b2c;margin-bottom:-8px}
.print-popup thead th{border:0px !important;padding:5px 5px 0px 5px !important}
.print-popup td{border:0px;padding:5px 0px;color:#292b2c;font-size:100%;white-space:nowrap;text-overflow: ellipsis ;overflow: hidden ;max-width: 120px ; table-layout:fixed;font-family:Arial, Helvetica, sans-serif;}
.print-popup-body{margin:-12px auto auto auto;}
.print-popup-body td label{padding:0px 8px}
.print-popup-body td{border:0px !important;padding:2px 0px; color:#292b2c;font-size:100%;white-space:nowrap;text-overflow: ellipsis ;overflow: hidden ;max-width: 120px ; table-layout:fixed;font-family:Arial, Helvetica, sans-serif;}
.print-popup-body tfoot{border-top:2px solid #DDD;padding:0px;margin:0px auto}
.print-popup-body tfoot label{padding:0px;}
#myModalprint .modal-body{padding-bottom:80px}
#Modal_print .btn-primary{padding-bottom:2px}
#Modal_print .btn-primary label{font-weight:normal;padding:0px !important}

#divEWall table th{vertical-align:middle;border:1px solid #fafafa}
#divEWall table th label{color:#FFF}
#divEWall table td{padding:0px;height:45px;vertical-align:middle;border:1px solid #DDD}
#divEWall table td:nth-child(2),#divEWall table td:nth-child(3){padding:0px 10px;}
#divEWall table input[type=text]{height:45px;border-radius:0px;margin-bottom:-2px}
#divEWall table input[type=checkbox]{width:100%;}
/*--------------------------------------Dash Board----------------------------------------------------*/


@media only screen  and (max-width : 992px){
    .navbar-toggle {display: inline-block;}
    .navbar-collapse.collapse {display: none!important; border-top:1px solid #E7E7E7 !important;}
    .navbar-collapse.collapse.in {display: block!important;}
    .navbar-nav {float: none;margin-left:auto;margin-right:auto}
    .navbar-header {float: none;}
    /*.navbar-nav li > a {padding-top: 10px;padding-bottom: 10px;}*/
    #main-body{position:fixed !important;top:0;right:0;bottom:0;left:0;}       
   }

@media only screen and (max-width : 320px) {
    .left-search table th, .cart-input table td{max-width:50px}
    .table-list-section ul li .radio-list-group li{padding:0px 10px;}
    .table-list-section ul li .radio-list-group .rblbox{text-align:left}
    .table-list-section ul li .radio-list-group .rblbox label{white-space:nowrap;}
}
@media only screen and (max-width : 980px) {
   .flex-label{float:right;clear:both}
    #itemCarttable{background:#FFF !important}  
   .flex-section-top{padding:0px;margin:5px auto}
    #divNavBarRight .container-fluid{padding-left:0px;padding-right:0px}
    #divIntuitive{position:relative;padding-left:0px;width:100%}
    #divIntuitive .dropdown-menu{margin:0px auto}
    .report-heder-section ul li{font-size:100%}
    .dnl-link-text label{font-size:1.4rem}
    .left-search table th, .cart-input table td{max-width:61px}
    .card-section-panel{margin-top:20px}
    .add-icon {border:0px;background:#1776b6;border-radius:0px;right:0px;color:#FFF;padding:6px 8px;border-radius:0px 5px 5px 0px}
    .left-search{padding:0px 15px}
    .right-search{padding:0px 15px}
    .flex-section{margin:5px auto}
    .btton-search .right-section-menu{text-align:center} 
    .calc-section{display:block;margin-bottom:100px}
    .main-body{padding-bottom:200px}
    #ModalUploadItemsPopup{width:90% !important}
    .header-panel .right-icon-section i{padding:4px}
    /*.header-panel img{margin-left:-12px}*/
    .header-panel img,.logo img{width:auto !important}
    #ImgUserPick{width:30px !important;height:30px !important}
    .price-list ul li{max-width:48.5%} 
    .btn-print{min-width:110px !important;}
    .btn-tender{min-width:110px !important;}
    .right-icon-section #lblName{display:none}
    .form-horizontal .form-group label{margin-top:0px;}
    .pagination-section{margin-top:0px}
    .card-section-panel .cal-body ul li {max-width: 100%;margin: 5px auto;}
    .print-area, .card-section-panel {padding-left: 30px;padding-right: 30px;}
    .content-module-section {padding: 30px 25px 30px 25px;margin: 19px auto 220px auto;}
    .table-list-section ul li {padding: 0px 10px 0px 10px;}
    .grid-section {padding: 20px 0px;}
    #navbar ul li ul li {border-bottom: 1px solid #EEE !important;}
    #navbar ul li {border: 0px !important;}
    .info-alertSuc,.info-alert {top: 0px;width: 100%;text-align: center;margin: 0px auto !important;left:auto;right:auto}
    .alert-message {bottom: 0px;width: 100%;position: relative;margin: 0px auto;left: auto;right: auto;text-align: center;}
    .table-filedset table{background:#fff !important}
    .menu {width: 100%;margin: 10px auto  0px auto;}
    .menu li:nth-child(1), .menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(4) {border-left: 1px solid #cac8c8;}
    .menu li:first-child {border-right: 1px solid #cac8c8;}
    .menu .btn-create{width:100%;}
    .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: 100%;border-radius: 0px;}
    .menu #btnCancel{margin-bottom:-15px}
    .status-btn{margin-top:18px}
    .btnclss .dropdown-menu{margin:2px 0px 8px 0px !important}    
    .search-form{margin-bottom:10px}
    .user-search {display: block;}
    .graph-section {max-height: 100%;margin-bottom: 10px;min-height:363px}
    .content-body ul li {max-width: 47%}
    .menu #btnEdit, .menu #btnDelete {border-right: 1px solid #cac8c8;}
    .status-btn .dropdown-menu {border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;margin: 0px 0px 0px 0px;}

    .content-module-section .table-responsive table {border-bottom: 1px solid #DDD;}
    .table-modal .table-responsive {border: 0px !important;}
    #ModalUploadPopup .table-responsive {border: 0px;}
    #ModalUploadPopup .table {border: 1px solid #DDD;}
    .table-filedset {min-height: 120px;}
    .intuitive .dropdown-menu {margin: 2px 0px 8px 10px;border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;}    
    .size-large {margin-top: 50px;}
    .list-group {margin-bottom: 0px;}
    .content-module-section .table-responsive table td {min-width: 140px;}
    .footer-section ul li {height: 35px;}
    .size-large .modal-lg {margin-left: 20px;margin-right: 20px;}
    /*.content-grid{max-height:calc(100vh - 10px)}*/
    .pos-bg{background:none !important;background-color:none !important}   
    .table-modal{max-height:600px}
    .content-posmain{max-height: calc(100vh - 10px);}
    .content-modal-address{max-height:100% !important}
    /*#div_grid td:first-child{min-width:50px !important;max-width:30px !important;width:30px !important}*/    
}

@media only screen and (max-width : 768px) and (orientation:landscape) {    
    .left-search table th, .cart-input table td{max-width:180px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 126px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 150px !important;}    
    .panel-footer {width:100%;padding:0px;position:relative}
    .right-icon-section label{display:inherit}
    .pagination-section{margin-top:0px !important;height:50px !important}    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:landscape) {
     .card-section-panel .cal-body ul li {max-width: 32% !important;margin: 5px 1px !important;}
     .pagination-section{margin-top:-20px;height:auto}     
     .left-search{padding:0px 5px 0px 16px !important}
     .right-search{padding:0px 16px 0px 5px !important}
     .print-area,.card-section-panel{padding-left:55px;padding-right:55px}     
     .search-area{width:100% !important;margin:0px auto !important;}      
     .content-body ul li{min-width:32% !important}
     .accordion-panel .link {bottom:9px}         
     .menu{width:auto;margin:10px 5px 0px auto}
     .status-btn{margin-top:10px}
     .intuitive{margin-top:10px}  
     .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: auto;}     
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
       
    .search-section {margin:0px 10px}
    .left-search {padding: 0px 10px}
    .right-search {padding: 0px 10px;margin:0px auto}
    .card-section-panel .cal-body ul li {max-width: 32%;margin: 5px 2px;}
    .pagination-section{margin-top:-20px;height:auto}
    .content-body ul li{min-width:32% !important}  
    .search-area{width:100%}
    .search-area .search-form{width:100%}
    .dashboard-stats-graph .right label{left:-10px;font-size:12px}
    .footer-section{position:fixed}
    .cal-body ul li {padding:23px 0px}
    .form-horizontal .form-group label{margin-top:0px}
    .table-filedset{height:100%;min-height:709px;}
    .menu{width:auto;margin-left:2px;margin-right:2px}
    .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel{width:auto}
    #divIntuitive{width:auto;padding-left:5px}    
    #divNavBarRight .container-fluid{padding-left:15px !important;padding-right:15px !important}

}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .content-body ul li{max-width:15.8% !important; }    
    .table-filedset{height:100%;min-height:375px;border:1px solid #DDD}
    .content-table{min-height:378px !important;}
    .content-search-items{max-height:calc(100vh - 150px)}   
    .form-horizontal .form-group label{margin-top:0px}
    .status-btn{margin-top:10px}
    .bootstrap-dialog .bootstrap-dialog-title{color:#fff !important}
    #myModal{margin-top:0px}
    .menu{width:auto;margin-left:2px;margin-right:2px}
    .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: auto;}
    .card-section-panel{margin-top:0px}
    .card-section-panel .cal-body ul li {max-width: 32.8% !important;margin: 5px 1px !important;padding:6px}
    .cal-body ul li {padding:6px 0px !important}
    .form-horizontal .form-group{margin-bottom:0px}
    .table-responsive{overflow:auto !important}      
    #divIntuitive{position:relative;padding-left:5px;width:auto}
    .status-btn, .intuitive{margin-top:10px}
    #divNavBarRight .container-fluid{padding-left:15px;padding-right:15px}
   .btton-search .right-section-menu{text-align:right} 
   .right-icon-section #lblName{display:inline-block}
   .table-list-section ul li .radio-list-group .rblbox{text-align:center}      
   #myModalSubscription{margin-top:0px !important}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
    .right-section-menu .btn-group{display:inline-flex;right:32px}
    .table-filedset{height:100%;min-height:468px;border:1px solid #DDD}
     .cal-body ul li {padding:11px 0px}
    .left-search table th, .cart-input table td{max-width:120px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 91px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 135px !important;}
    /*.status-btn{margin-top:0px}*/
    .status-btn, .intuitive{margin-top:0px}
}

@media (width: 1366px) {
    .left-search table th, .cart-input table td{max-width:120px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 91px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 135px !important;}
    .right-search hr{margin-top:0px;margin-bottom:8px}
    .table-filedset{height:100%;min-height:375px;border:1px solid #DDD}
    .content-table {max-height:calc(100vh - 244px)}
    .card-section-panel{padding:0px;margin-top:-13px}
    #divParent{margin-top:-13px}
    .calc-section {padding: 14px 0px;}
 }






/*@media only screen  and (max-width : 992px){
    .navbar-toggle {display: inline-block;}
    .navbar-collapse.collapse {display: none!important; border-top:1px solid #E7E7E7 !important;}
    .navbar-collapse.collapse.in {display: block!important;}
    .navbar-nav {float: none;margin-left:auto;margin-right:auto}
    .navbar-header {float: none;}
    #main-body{position:fixed !important;top:0;right:0;bottom:0;left:0;}       
   }

@media only screen and (max-width : 320px) {
    .left-search table th, .cart-input table td{max-width:50px}
}

@media only screen and (max-width : 980px) {
    .dnl-link-text label{font-size:1.4rem}
    .left-search table th, .cart-input table td{max-width:61px}
    .pagination-section{height:50px;width:100%;text-align:center;border-bottom:1px solid #DDD;margin-top:0px}
    .left-search table th, .cart-input table td{max-width:41px}
    .add-icon {border:0px;background:#1776b6;border-radius:0px;right:0px;color:#FFF;padding:6px 8px}
    .left-search{padding:0px 15px}
    .right-search{padding:0px 15px}
    .flex-section{margin:5px auto}
    .button-search .flex-section{text-align:center}
    .calc-section{display:block;margin-bottom:100px}
    .header-panel .right-icon-section i{padding-left:10px;padding-right:10px}
    .main-body{padding-bottom:200px}
    .header-panel img {width:58%}
    .price-list ul li{max-width:48.5%} 
    .header-panel img,.logo img{width:auto !important}
    #tbldiv td:first-child,#div_grid td:first-child{min-width:50px !important}
    .bootstrap-dialog .bootstrap-dialog-title{color:#fff !important}
    .card-section-panel .cal-body ul li {max-width: 100%;margin: 5px auto;}
    .print-area, .card-section-panel {padding-left: 30px;padding-right: 30px;}
    .content-module-section {padding: 30px 25px 30px 25px;margin: 19px auto 220px auto;}
    .table-list-section ul li {padding: 0px 10px 0px 10px;}
    .grid-section {padding: 20px 0px;}
    .add-icon{border-radius:0px 5px 5px 0px}
    #navbar ul li ul li {border-bottom: 1px solid #EEE !important;}
    #navbar ul li {border: 0px !important;}
    .btn-print,.btn-tender{min-width:110px !important}
    .info-alertSuc,.info-alert {top: 0px;width: 100%;text-align: center;margin: 0px auto !important;left:auto;right:auto}
    .alert-message {bottom: 0px;width: 100%;position: relative;margin: 0px auto;left: auto;right: auto;text-align: center;}
    
    .menu {width: 100%;margin: 10px auto  5px auto !important;padding-left:13px;padding-right:13px;}
    .menu li:nth-child(1), .menu li:nth-child(2), .menu li:nth-child(3), .menu li:nth-child(4) {border-left: 1px solid #cac8c8;}
    .menu li:first-child {border-right: 1px solid #cac8c8;}
    .menu .btn-create{width:100%;margin-bottom:-10px}
    .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: 100%;border-radius: 0px;}
    #divIntuitive{padding-left:0px}
    #divIntuitive .btn-default{margin:10px auto}
   
    .btnclss .dropdown-menu{margin:2px 0px 8px 0px !important}    
    .user-search {display: block;}
    .graph-section {max-height: 100%;margin-bottom: 10px;min-height:363px}
    .content-body ul li {max-width: 47%}
    .menu #btnEdit, .menu #btnDelete {border-right: 1px solid #cac8c8;}
    .status-btn li{padding:0px 13px}
    .status-btn .dropdown-menu {border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;margin: 0px 0px 0px 0px;}
    .content-module-section .table-responsive table {border-bottom: 1px solid #DDD;}

    .table-modal .table-responsive {border: 0px !important;}
    #ModalUploadPopup .table-responsive {border: 0px;}
    #ModalUploadPopup .table {border: 1px solid #DDD;}
    .table-filedset {min-height: 120px;}
    .intuitive .dropdown-menu {margin: 2px 0px 8px 10px;border: 1px solid #DDD !important;background: #FFF !important;clear: both !important;}    
    .size-large {margin-top: 50px;}
    .list-group {margin-bottom: 0px;}
    .content-module-section .table-responsive table td {min-width: 140px;}
    .footer-section ul li {height: 35px;}
    .size-large .modal-lg {margin-left: 20px;margin-right: 20px;}
    .content,.content-grid{max-height:800px !important;height:100%}    
    .content-modal-print {max-height:600px !important;height:100%}
    .pos-bg{background:none !important;background-color:none !important}   
    .right-icon-section #lblName{display:none}
     #tbldiv td:first-child{width:10px !important}
     #myItemSearch{overflow:auto !important}
    .content-posmain{max-height: calc(100vh - 10px);}

}

@media only screen and (max-width : 768px) and (orientation:landscape) {    
     #divIntuitive .btn-default{margin:-5px auto 10px auto !important} 
    
    .left-search table th, .cart-input table td{max-width:180px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 126px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 150px !important;}    
    .panel-footer {width:100%;padding:0px;position:relative}
    .menu {padding-left:13px !important;padding-right:13px !important;}
    .intuitive{margin:-10px auto}
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation:landscape) {
      .card-section-panel .cal-body ul li {max-width: 32% !important;margin: 5px 1px !important;}
      .cal-body ul li {padding:23px 0px !important}
      .content-table,.table-filedset {min-height:761px !important}
      .left-search{padding:0px 5px 0px 16px !important}
      .right-search{padding:0px 16px 0px 5px !important}

     .left-search table th, .cart-input table td {max-width: 120px}  
   
      .print-area,.card-section-panel{padding-left:55px;padding-right:55px}     
      .search-area{width:100% !important;margin:0px auto !important;}      
      .content-body ul li{min-width:32% !important}
      .content{max-height:200px !important}
     .accordion-panel .link {bottom:9px}     

     .status-btn {margin-top:5px}
     .search-area .search-form{width:100%;}
     .list-icons .search-form{margin:10px auto}
     .menu{width:auto;padding-left:0px;padding-right:0px}
     #divIntuitive{padding-left:5px}
     .status-btn li {padding:5px}
     .btn-create{margin-right:5px;width:auto}
     .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: auto;}     
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
       
    .search-section {margin:0px 10px}
    .left-search {padding: 0px 10px}
    .right-search {padding: 0px 10px;margin:0px auto}
    .card-section-panel .cal-body ul li {max-width: 32%;margin: 5px 2px;}
    .list-icons{left:-16px}
    #divIntuitive {bottom:10px}
    .content-body ul li{min-width:32% !important}
    
    .search-area{width:100%}
    .search-area .search-form{width:100%}
    .dashboard-stats-graph .right label{left:-10px;font-size:12px}
    .footer-section{position:fixed}
 
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
    .content-body ul li{max-width:15.8% !important; }    
    .table-filedset{height:100%;min-height:434px;border:1px solid #DDD}
    .content-grid{max-height:600px !important;}   
    .content{max-height:600px !important}
     .search-area .search-form{width:100%;}
     .list-icons .search-form{margin:10px auto}
     .menu{width:auto;padding-left:0px;padding-right:0px}
     #divIntuitive{padding-left:5px}
     .status-btn li {padding:5px}
     .status-btn .btn-default{top:5px;}
     .btn-create{margin-right:9px !important;width:auto}
     .btn-create, #btnSave, #btnSave, #btnEdit, #btnDelete, #btnCancel {width: auto;}
    .right-icon-section label{display:inline-flex}
    .bootstrap-dialog .bootstrap-dialog-title{color:#fff !important}
    #myModal{margin-top:0px}
    .card-section-panel{margin-top:0px}
     .card-section-panel .cal-body ul li {max-width: 32% !important;margin: 5px 1px !important;padding:6px}
     .cal-body ul li {padding:6px 0px !important}
    .form-horizontal .form-group{margin-bottom:0px}

    .content-posmain{max-height:800px}
    .content-table{min-height:418px !important}
    .table-responsive{overflow:auto !important}
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation:portrait) {
    .right-section-menu .btn-group{display:inline-flex;right:32px}
     .left-search table th,.cart-input table td{max-width:96px;}
    .table-filedset{height:100%;min-height:479px;border:1px solid #DDD}
    #myModal{margin-top:0px}
    .left-search table th, .cart-input table td{max-width:120px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 91px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 135px !important;}
}

@media (width: 1366px) {
   .left-search table th, .cart-input table td{max-width:120px !important}
    .left-search table th:nth-child(2), .left-search table td:nth-child(2) {width: 91px !important;}
    .left-search table th:nth-child(3), .left-search table td:nth-child(3) {width: 135px !important;}

    .right-search hr{margin-top:0px;margin-bottom:8px}
    .table-filedset{height:100%;min-height:400px;border:1px solid #DDD}
    .content-table {max-height:calc(100vh - 244px)}
    .card-section-panel{padding:0px;margin-top:-13px}
    #divParent{margin-top:-13px}
    .calc-section {padding: 9px 0px;}
 }*/



