﻿@charset "utf-8";
/* CSS Document */
@import url(../fonts/fonts.css);

*{margin:0 auto;padding:0;}
html {position: relative;min-height: 100%;}
body{background:#edf0f5; -webkit-touch-callout: none;-webkit-user-select: none;-khtml-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none; font-family:"robotoregular",Arial,sans-serif}
a{ border:0 !important;outline:0 !important} 
#main{margin:0px auto;padding:0px;width:100%;}
.pay-modal{margin:250px auto;padding:0px;width:100%;}
/*.pay-modal .modal-header{background:#1a9af3;height:120px;text-align:left;color:#FFF}*/

.modal-sm {-webkit-transform: scale(.9);-ms-transform: scale(.9);transform: scale(.9);color: #333;font-size: 14px;max-width: 360px;width:100%;font-family: ubuntu,helvetica,sans-serif;}
#myModal-payment .close {position: absolute;right: 20px;top: 14px;cursor: pointer;font-size: 18px;opacity: .6;width: 24px;text-align: center;line-height: 26px;z-index: 1;}
#myModal-payment .close:focus{outline:none;border:0px}
.pay-modal .modal-header{webkit-border-radius: 3px 3px 0 0;border-radius: 3px 3px 0 0;color: #fff;background: #fff;padding: 24px;overflow: hidden;max-height: 128px;position: relative;z-index: 3;text-align:left;margin-bottom:-10px}
.pay-modal .modal-header::before {content: "";left: 0;right: 0;bottom: 0;top: 0;position: absolute;background:#1a9af3;/*background-image: -webkit-gradient(linear,left top, right bottom,from(rgba(255,255,255,0.2)),to(rgba(0,0,0,0.2)));background-image: -webkit-linear-gradient(top left,rgba(255,255,255,0.2),rgba(0,0,0,0.2));background-image: -o-linear-gradient(top left,rgba(255,255,255,0.2),rgba(0,0,0,0.2));background-image: linear-gradient(to bottom right,rgba(255,255,255,0.2),rgba(0,0,0,0.2));*/}
.pay-modal .modal-header .discount {display: none;}
#logo {text-align: center;position: relative;padding: 8px;width: 100px;height: 80px;background: #fff;-webkit-border-radius: 3px;border-radius: 3px;line-height: 62px;float: left;margin-right: 24px;    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
#logo img {vertical-align: middle;max-height: 100%;max-width: 100%;}
#merchant {white-space: nowrap;position: relative;text-shadow: 0 1px 3px rgba(0,0,0,0.12);}
#merchant-name {-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;font-size: 20px;}
#merchant-desc {-o-text-overflow: ellipsis;text-overflow: ellipsis;overflow: hidden;opacity: .8;}
#amount {font-size: 24px;margin-top: 10px;}

.login-section{margin:-15px auto -30px auto;padding:0px 15px}
.login-section i{position:absolute;right:0px;top:10px;}
.login-section .floating-form {position: relative;margin: 35px auto;}
.login-section .floating-input {font-size:14px;padding:4px 0px;display:block;width:100%;height:30px;color:#757575;background-color: transparent;border:none;border-bottom:1px solid #EEE;}
.login-section .floating-input:focus {outline:none;border-bottom:2px solid #4a89dc; }
.login-section label {color:#757575;font-size:14px;font-weight:normal;position:absolute;pointer-events:none;left:0px;top:5px;transition:0.2s ease all; -moz-transition:0.2s ease all; -webkit-transition:0.2s ease all;font-family:"robotoregular",Arial,sans-serif}
.login-section .floating-input:focus ~ label, .login-section .floating-input:not(:placeholder-shown) ~ label {top:-15px;font-size:14px;color:#4a89dc;}

#myModal-payment .modal-body{padding:0px 0px 0px 0px;}

/* Materialize fix labels overlapping */
 input[type]:-webkit-autofill ~ label{-webkit-transform: translateY(-10%);transform: translateY(-10%);}
 input:-webkit-autofill{-webkit-box-shadow:0 0 0 30px #FFF inset !important;-webkit-text-fill-color:#757575 !important;font-family:"robotoregular",Helvetica,Arial,sans-serif !important;}
.login-section .floating-label {position: absolute;pointer-events: none;left: 0px;top: 0px;transition: 0.2s ease all;color:#757575;font-weight:normal}
.login-section .bar {position: relative;	display: block;	width: 100%;}
.login-section .bar:before, .panel-2 .bar:after {content: '';height: 2px;width: 0;bottom: 1px;position: absolute;background: #4a89dc;-webkit-transition:all 0.2s ease;transition: all 0.2s ease;}
.login-section .bar:before { left: 50%; }
.login-section .bar:after { right: 50%; }
.login-section input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }
.login-section .highlight {position: absolute;height: 60%;width: 100px;top: 25%;left: 0;pointer-events: none;opacity: 0.5;}
.login-section input:focus ~ .highlight {-webkit-animation: inputHighlighter 0.3s ease;animation: inputHighlighter 0.3s ease;}

.payment-section{padding:30px 0px;/*margin-bottom:-50px*/}
.payment-section small{color:#474747;font-size:14px;padding:0px 15px}
.payment-section ul{border-top: 1px solid #ebedf0;background: #fff;z-index: 1;position: relative;margin:20px auto}
.payment-section ul li {font-size:12px;padding:20px 0px;min-width: 178px;margin:-5px -5px 0px 0px;list-style:none;text-align:center;display:inline-block;border-right:1px solid #ebedf0;border-bottom:1px solid #ebedf0;cursor:pointer}
/*.payment-section ul li:nth-child(4),.payment-section ul li:last-child{border-bottom:0px}*/
.payment-section ul li svg{width:25px;min-height:25px}
.payment-section ul li .desc{display:block;padding-top:5px}
.payment-section ul li:hover{background:#f5f8ff}
.payment-section ul li a{text-decoration:none;}
.payment-header{padding:0px;margin:-10px auto}

.netbanking-section{padding:30px 0px;margin-bottom:-50px}
.netbanking-section small{color:#474747;font-size:14px;padding:0px 15px}
.netbanking-section ul{border-top: 1px solid #ebedf0;background: #fff;z-index: 1;position: relative;margin:20px auto}
.netbanking-section ul li {font-size:12px;padding:20px 0px;min-width: 120px;margin:0px -5px 0px 0px;list-style:none;text-align:center;display:inline-block;border-right:1px solid #ebedf0;border-bottom:1px solid #ebedf0;}
/*.netbanking-section ul li:nth-child(4),.payment-section ul li:last-child{border-bottom:0px}*/
.netbanking-section ul li svg{width:25px;min-height:25px}
.netbanking-section ul li .desc{display:block;padding-top:5px}
.netbanking-section ul li:hover{background:#f5f8ff}
.netbanking-section ul li a{text-decoration:none;}



.payment-section-one{padding:30px 0px;}
.payment-section-one small{color:#474747;font-size:14px;padding:0px 15px}
.payment-section-one ul li {font-size:12px;padding:10px 12px;list-style:none;text-align:center;display:inline-block;}
.payment-section-one ul li i{font-size:20px;vertical-align:middle}
.payment-section-one ul li svg{width:20px;height:20px}
.payment-section-one ul li .desc{display:inline-block;padding:0px;}

.card-payment{padding:10px 0px;padding-bottom:120px}
.card-payment i{font-size:15px;vertical-align:middle;padding:0px 12px}
.card-payment span{vertical-align:middle}
.card-payment .inner-card-header{padding:20px 0px 40px 0px;background:#FFF;margin-top: -10px;border-radius: 5px 5px 0px 0px;cursor:pointer}
.card-payment .sub-card{display:inline-flex;margin:0px auto 0px auto}
.card-section{margin-top:0px}
.card-payment .card-details{position:relative;bottom:30px;}
#footer-pay {background:#286090;text-align:center}
#footer-pay .btn-pay{background:none;padding:10px;;box-shadow:none;border:0px;color:#FFF;font-size:20px}
#footer-pay .btn-pay:focus{border:0px;outline:0px}
.chkbox-container{position:relative;left:15px;bottom:30px}
.chkbox-container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.checkmark {position: absolute;bottom: 0;left: 0;height: 25px;width: 25px;background-color: #eee;}
.chkbox-container:hover input ~ .checkmark {background-color: #ccc;}
.chkbox-container input:checked ~ .checkmark {background-color: #4a89dc;border-radius:5px}
.checkmark:after {content: "";position: absolute;display: none;}
.chkbox-container input:checked ~ .checkmark:after {display: block;}
.chkbox-container .checkmark:after {left: 9px;top: 6px;width: 5px;height: 10px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}
.chkbox-container .remeber{margin:0px 40px;vertical-align:text-bottom}

#wallet-pay{padding:10px 0px;padding-bottom:90px}
.wallet-section{border:1px solid #ebedf0;padding:0px 0px;margin:20px 10px -50px 10px;overflow:auto;overflow-x:hidden}
.wallet-section ul li{list-style:none;display:block;padding:18px 0px 8px 0px;border-bottom:1px solid #ebedf0;}
.wallet-section ul li:last-child{border-bottom:0px;padding-bottom:0px; }
.wallet-section img{width:30px; height:auto;margin:0px 0px;vertical-align:middle;}
.wallet-section span{font-size:14px;position:relative;bottom:3px}      
.wallet-section ul li:hover{border:1px solid #4a89dc}
.wallet-section a{text-decoration:none;color:#333}
.round {position: relative;left:12px;line-height:20px}
.round label {background-color: #fff;border: 1px solid #ccc;border-radius: 50%;cursor: pointer;width:25px;height: 25px;left: 0;position: absolute;top: 0;}
.round label:after {border: 2px solid #fff;border-top: none;border-right: none;content: "";height: 6px;opacity: 0;position: absolute;top: 7px;transform: rotate(-45deg);width: 12px;right:5px}
.round input[type="checkbox"] {visibility: hidden;}
.round input[type="checkbox"]:checked + label {background-color: #4a89dc;border-color: #4a89dc;}
.round input[type="checkbox"]:checked + label:after {opacity: 1;}

.header-Upi{padding:10px 30px}
#UPI-pay{padding-bottom:0px}s
#bhim-pay,#google-pay,#whatsapp-pay,#paytm-pay,#phonepe-pay,#other-pay{padding-bottom:80px}
.UPI-pay{padding:10px 0px;}
.UPI-section{padding:0px 0px;margin:0px 10px -50px 10px;}
.UPI-section ul{background: #fff;z-index: 1;position: relative;}
.UPI-section ul li {font-size:12px;padding:20px 0px;min-width: 170px;margin:0px -1px 0px 0px;list-style:none;text-align:center;display:inline-block;border:1px solid #ebedf0;/*border-bottom:0px;*/}
.UPI-section ul li:nth-child(4),.UPI-section ul li:nth-child(5),.UPI-section ul li:last-child{border-bottom:1px solid #ebedf0;border-top:1px solid #ebedf0}
.UPI-section ul li img{width:25px;min-height:25px}
.UPI-section ul li .desc{display:block;padding-top:5px;font-size:14px}
.header-Upi_PAY{padding:1px 34px; }
.QR-pay{border: 1px solid #e5e6e7;background:#eeeeee;padding:20px 0px;margin:5px 10px}
.QR-pay svg{width:25px;min-height:25px;position:relative;top:8px;}
.QR-pay h5{color:#492a7f;font-size:14px;font-weight:bold}
.QR-pay small{color:#9694ab;}
.text-scan{position:relative;bottom:7px;line-height:0px;padding:0px}
.text-scan i{color:#d5d5d5;position:relative;bottom:15px}
.Bhim-pay{border:1px solid #e5e6e7;padding: 0px 10px;margin: 4px 10px;-webkit-box-shadow: 0 0px 5px #DDD;-moz-box-shadow: 0 0px 5px #DDD;box-shadow: 0 0px 5px #DDD;}
.bhim-header{padding:0px;vertical-align:middle}
.bhim-header h5{padding-left:12px}
.bhim-header ul{margin:0px}
.bhim-header ul li{list-style:none;display:inline-block;border:0px !important;padding:0px !important;min-width:20px}
.Bhim-pay span{position:relative;top:6px;}
.Bhim-pay i{padding:0px}

.Bhim-pay-input{padding:0px 0px 0px 0px;margin:0px 20px;}
.Bhim-pay-input input[type=text]{font-size:12px;border: 0;border-bottom:0,1px solid #DDD;padding-left:0px;width:100% !important;min-width:200px !important;/*padding: 5px 2px;*/background: white no-repeat;background-image: linear-gradient(to bottom, #1776b6, #1776b6), linear-gradient(to bottom, #DDD, #DDD);background-size: 0 2px, 100% 1px;background-position: 50% 100%, 50% 100%;transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);margin:0px auto 0px auto !important;position:relative;color:#305d7c;font-weight:normal;box-shadow:none !important;}
.Bhim-pay-input input[type=text]:focus{background-size: 100% 2px, 100% 1px;outline: none !important;box-shadow:none !important;border:0px !important;}
.mbas-email{position:relative;bottom:21px;float:right;clear:both;color:#464646}

.google-pay-input{border:1px solid #4571d5;padding:20px 10px 10px 10px;margin:0px 20px;}
.google-pay-input ul li{list-style:none;display:inline-block}
.google-pay-input input[type=text],.google-pay-input select{font-size:12px;border: 0;border-bottom:0,1px solid #DDD;padding-left:0px;width:100% !important;min-width:200px !important;/*padding: 5px 2px;*/background: white no-repeat;background-image: linear-gradient(to bottom, #1776b6, #1776b6), linear-gradient(to bottom, #DDD, #DDD);background-size: 0 2px, 100% 1px;background-position: 50% 100%, 50% 100%;transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);margin:0px auto 0px auto !important;position:relative;color:#305d7c;font-weight:normal;box-shadow:none !important;width:100%;min-width:128px !important}
.google-pay-input input[type=text]:focus{background-size: 100% 2px, 100% 1px;outline: none !important;box-shadow:none !important;border:0px !important;}

.other-pay-input{border:1px solid #4571d5;padding:20px 10px 20px 10px;margin:0px 20px;}
.other-pay-input input[type=text]{font-size:12px;border: 0;border-bottom:0,1px solid #DDD;padding-left:0px;width:100% !important;min-width:200px !important;/*padding: 5px 2px;*/background: white no-repeat;background-image: linear-gradient(to bottom, #1776b6, #1776b6), linear-gradient(to bottom, #DDD, #DDD);background-size: 0 2px, 100% 1px;background-position: 50% 100%, 50% 100%;transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);margin:0px auto 0px auto !important;position:relative;color:#305d7c;font-weight:normal;box-shadow:none !important;}
.other-pay-input input[type=text]:focus{background-size: 100% 2px, 100% 1px;outline: none !important;box-shadow:none !important;border:0px !important;}

#QRCode-pay-section ul{text-align:center;padding:30px 0px 0px 0px}
#QRCode-pay-section ul li{list-style:none;display:inline-block;text-align:center;margin:10px}
#QRCode-pay-section h5{padding:0px 25px;text-align:center;margin:30px 0px -20px 0px}
#QRCode-pay-section ul li img{width:25px;min-height:25px;}

#myModal-payment .modal-dialog{margin:0px auto !important;}